# Panda Series
First Steps with Panda Series

In [1]:
import numpy as np
import pandas as pd

In [4]:
titanic = pd.read_csv("Data1/Video_Lecture_NBs/titanic.csv")

In [5]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [6]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [7]:
titanic["age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [8]:
type(titanic["age"])

pandas.core.series.Series

In [9]:
titanic["age"].equals(titanic.age)

True

In [10]:
age = titanic["age"]

In [11]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [12]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [13]:
age.head(2)

0    22.0
1    38.0
Name: age, dtype: float64

In [14]:
age.tail()

886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, dtype: float64

In [15]:
age.tail(3)

888     NaN
889    26.0
890    32.0
Name: age, dtype: float64

In [16]:
age.dtype

dtype('float64')

In [17]:
age.shape

(891,)

In [18]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [19]:
age.info()

AttributeError: 'Series' object has no attribute 'info'

In [20]:
len(age)

891

In [21]:
age.to_frame()

      age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]

In [23]:
age_to_dframe = age.to_frame()

In [24]:
age_to_dframe

      age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]

In [25]:
age_to_dframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

# Case 1: Analysing Numerical Series

In [27]:
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

In [28]:
age.count() #Returns number of non-null observations in the series

714

In [30]:
age.size

891

In [31]:
age.sum()

21205.17

In [32]:
sum(age)

nan

In [33]:
age.mean()

29.69911764705882

In [34]:
age.std()

14.526497332334044

In [35]:
age.median()

28.0

In [36]:
age.max()

80.0

In [37]:
age.min()

0.42

In [38]:
age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [39]:
age.nunique()

88

In [41]:
age.value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
         ..
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [46]:
age.value_counts(sort=True, dropna=False, normalize=True)

NaN      0.198653
24.00    0.033670
22.00    0.030303
18.00    0.029181
28.00    0.028058
           ...
36.50    0.001122
55.50    0.001122
66.00    0.001122
23.50    0.001122
0.42     0.001122
Name: age, Length: 89, dtype: float64

In [49]:
age.value_counts(sort=True, dropna=True, normalize=True, ascending=False, bins=5)

(16.336, 32.252]    0.388328
(32.252, 48.168]    0.210999
(0.339, 16.336]     0.112233
(48.168, 64.084]    0.077441
(64.084, 80.0]      0.012346
Name: age, dtype: float64

# Case 2: Analysing Non Numerical Values

In [50]:
summer = pd.read_csv("Data1/Video_Lecture_NBs/summer.csv")

In [51]:
summer

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [53]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [54]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [56]:
athlete = summer["Athlete"]

In [57]:
athlete.head()

0         HAJOS, Alfred
1      HERSCHMANN, Otto
2     DRIVAS, Dimitrios
3    MALOKINIS, Ioannis
4    CHASAPIS, Spiridon
Name: Athlete, dtype: object

In [58]:
athlete.tail()

31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, dtype: object

In [59]:
type(athlete)

pandas.core.series.Series

In [60]:
athlete.dtype

dtype('O')

In [61]:
athlete.shape

(31165,)

In [62]:
athlete.size

31165

In [63]:
athlete.describe()

count               31165
unique              22762
top       PHELPS, Michael
freq                   22
Name: Athlete, dtype: object

In [64]:
athlete.count()

31165

In [65]:
athlete.min()

'AABYE, Edgar'

In [66]:
athlete.max()

'ÖSTRAND, Per-Olof'

In [67]:
athlete.unique()

array(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios', ...,
       'TOTROV, Rustam', 'ALEKSANYAN, Artur', 'LIDBERG, Jimmy'],
      dtype=object)

In [68]:
len(athlete.unique())

22762

In [69]:
len(athlete.nunique())

TypeError: object of type 'int' has no len()

In [70]:
athlete.nunique()

22762

In [71]:
athlete.value_counts()

PHELPS, Michael               22
LATYNINA, Larisa              18
ANDRIANOV, Nikolay            15
MANGIAROTTI, Edoardo          13
SHAKHLIN, Boris               13
                              ..
GENTLE, James Cuthbert         1
GRIMMELMANN, Hermann Johan     1
ARTUC, Sedat                   1
MCGHEE, Carla                  1
BIECHL, Anni                   1
Name: Athlete, Length: 22762, dtype: int64

# Creating Panda Series

## Method 1: Importing from a CSV file column

In [72]:
athletes =pd.read_csv("Data1/Video_Lecture_NBs/summer.csv", usecols = ["Athlete"], squeeze=True)

In [73]:
athletes

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

## Method 2: Creating from scratch using pd.Series() method

In [74]:
sales = pd.Series([300,250, 700, 800, 200], index = ["Mon", "Tue", "Wed", "Thur", "Fri"], name = "Sales")

In [75]:
sales

Mon     300
Tue     250
Wed     700
Thur    800
Fri     200
Name: Sales, dtype: int64

## Method 3: From numpy arrays

In [76]:
sale = np.array([10, 25, 30, 15])

In [77]:
sale

array([10, 25, 30, 15])

In [78]:
pd.Series(sale)

0    10
1    25
2    30
3    15
dtype: int64

## Method 4: From lists

In [79]:
sales_list = (23, 45,89, 70,55)

In [80]:
pd.Series(sales_list)

0    23
1    45
2    89
3    70
4    55
dtype: int64

## Method 5: From dictionaries

In [81]:
sales_dict = {"Mon" : 24, "Tue" : 20, "Wed" : 30, "Thur" : 25, "Fri" : 35}

In [82]:
pd.Series(sales_dict)

Mon     24
Tue     20
Wed     30
Thur    25
Fri     35
dtype: int64

In [83]:
pd.Series(sales_dict, index = ["Mon", "Tue", "Wed", "Thur", "Fri"], name = "Sales")

Mon     24
Tue     20
Wed     30
Thur    25
Fri     35
Name: Sales, dtype: int64

# Indexing and Slicing Panda Series

In [84]:
age[0]

22.0

In [85]:
age[2]

26.0

In [86]:
age[-1]

KeyError: -1

In [87]:
age.iloc[-1]

32.0

In [88]:
age[890]

32.0

In [89]:
age[[3,4]]

KeyError: (3, 4)

In [90]:
age.iloc[3,4]

IndexingError: Too many indexers

In [91]:
age[[3,4]]

3    35.0
4    35.0
Name: age, dtype: float64

In [92]:
age.iloc[[3,4]]

3    35.0
4    35.0
Name: age, dtype: float64

In [93]:
age[:3]

0    22.0
1    38.0
2    26.0
Name: age, dtype: float64

In [94]:
age[2:3]

2    26.0
Name: age, dtype: float64

In [95]:
age[2:4]

2    26.0
3    35.0
Name: age, dtype: float64

In [96]:
age.iloc[:3]

0    22.0
1    38.0
2    26.0
Name: age, dtype: float64

In [97]:
age.loc[:3]

0    22.0
1    38.0
2    26.0
3    35.0
Name: age, dtype: float64

# Sorting and Introduction to Inplace Parameter

In [100]:
dic = {1: 20, 3: 27, 2: 26, 5: 23, 7: None, 6: 0}

In [101]:
sales = pd.Series(dic)

In [102]:
sales

1    20.0
3    27.0
2    26.0
5    23.0
7     NaN
6     0.0
dtype: float64

In [103]:
sales.sort_index()

1    20.0
2    26.0
3    27.0
5    23.0
6     0.0
7     NaN
dtype: float64

In [104]:
sales.sort_values()

6     0.0
1    20.0
5    23.0
2    26.0
3    27.0
7     NaN
dtype: float64

In [105]:
sales.sort_index(ascending=True)

1    20.0
2    26.0
3    27.0
5    23.0
6     0.0
7     NaN
dtype: float64

In [106]:
sales.sort_values(ascending=False, na_position="last", inplace=False)

3    27.0
2    26.0
5    23.0
1    20.0
6     0.0
7     NaN
dtype: float64

In [108]:
sales.sort_values(ascending=False, na_position="last", inplace=True)

In [109]:
sales

3    27.0
2    26.0
5    23.0
1    20.0
6     0.0
7     NaN
dtype: float64

In [110]:
sales.sort_values(ascending=False, na_position="last", inplace=False)

3    27.0
2    26.0
5    23.0
1    20.0
6     0.0
7     NaN
dtype: float64

In [111]:
sales

3    27.0
2    26.0
5    23.0
1    20.0
6     0.0
7     NaN
dtype: float64

# nlargest() and nsmallest()

In [112]:
age.nlargest()

630    80.0
851    74.0
96     71.0
493    71.0
116    70.5
Name: age, dtype: float64

In [113]:
age.nsmallest()

803    0.42
755    0.67
469    0.75
644    0.75
78     0.83
Name: age, dtype: float64

# idxmin() and idxmax()

In [114]:
age.idxmax() #Returns the index label of the largest value

630

In [115]:
age.idxmin() #Returns the index label of the smallest value

803

In [116]:
age.loc[630]

80.0

In [117]:
titanic.loc[630]

survived       1
pclass         1
sex         male
age           80
sibsp          0
parch          0
fare          30
embarked       S
deck           A
Name: 630, dtype: object

In [119]:
age.sort_values(ascending=True).index[0]

803

# Manipulating Panda Series

In [120]:
sales = pd.Series([67, 86, 45, 90, 0, 43, None, 64], index = ["Mon", "Tue", "Wed", "Thur", "Fri", "Sat", "Sun", "Mon"], name = "Sales")

In [121]:
sales

Mon     67.0
Tue     86.0
Wed     45.0
Thur    90.0
Fri      0.0
Sat     43.0
Sun      NaN
Mon     64.0
Name: Sales, dtype: float64

In [122]:
sales["Sun"] = 0 #Replace NAN with value zero

In [123]:
sales

Mon     67.0
Tue     86.0
Wed     45.0
Thur    90.0
Fri      0.0
Sat     43.0
Sun      0.0
Mon     64.0
Name: Sales, dtype: float64

In [124]:
sales.iloc[5] = 0 #Replacing Sat value with Zero

In [125]:
sales

Mon     67.0
Tue     86.0
Wed     45.0
Thur    90.0
Fri      0.0
Sat      0.0
Sun      0.0
Mon     64.0
Name: Sales, dtype: float64

In [126]:
sales.iloc[4] = 43

In [127]:
sales

Mon     67.0
Tue     86.0
Wed     45.0
Thur    90.0
Fri     43.0
Sat      0.0
Sun      0.0
Mon     64.0
Name: Sales, dtype: float64

In [128]:
sales_EURO = (sales/1.1).round(2)

In [129]:
sales_EURO

Mon     60.91
Tue     78.18
Wed     40.91
Thur    81.82
Fri     39.09
Sat      0.00
Sun      0.00
Mon     58.18
Name: Sales, dtype: float64

In [130]:
sales.loc["Mon"] = 0 #Note with label based indexing, changing an index with duplicates change all occurence

In [131]:
sales

Mon      0.0
Tue     86.0
Wed     45.0
Thur    90.0
Fri     43.0
Sat      0.0
Sun      0.0
Mon      0.0
Name: Sales, dtype: float64

In [132]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [133]:
age.iloc[1] = 0 #Note changing a value in a subset chnages also the value in the main dataset

/home/ram/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [134]:
titanic.age.head() #Main dataset changed at index 1

0    22.0
1     0.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [135]:
age.head()

0    22.0
1     0.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

# Pandas Index Object

In [136]:
summer

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [137]:
summer.index

RangeIndex(start=0, stop=31165, step=1)

In [138]:
summer.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Country', 'Gender',
       'Event', 'Medal'],
      dtype='object')

In [139]:
type(summer.columns)

pandas.core.indexes.base.Index

In [140]:
summer.axes #Returns row index and columns index

[RangeIndex(start=0, stop=31165, step=1),
 Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Country', 'Gender',
        'Event', 'Medal'],
       dtype='object')]

In [141]:
summer.columns[:3]

Index(['Year', 'City', 'Sport'], dtype='object')

In [143]:
type(summer.index)

pandas.core.indexes.range.RangeIndex

# Creating Your Own Index Object with pd.Index()

In [144]:
list_1 = [1, 2, 3, 4]

In [146]:
pd.Index(list_1)

Int64Index([1, 2, 3, 4], dtype='int64')

In [147]:
list_2 = ["Mon", "Tues", "Wed"]

In [148]:
pd.Index(list_2)

Index(['Mon', 'Tues', 'Wed'], dtype='object')

In [159]:
index_1 = pd.Index(range(1,6))

In [160]:
index_1

RangeIndex(start=1, stop=6, step=1)

In [151]:
index_2 = pd.Index(["Mon", "Tues", "Wed", "Thur", "Fri"], name = "Days")

In [152]:
index_2

Index(['Mon', 'Tues', 'Wed', 'Thur', 'Fri'], dtype='object', name='Days')

In [153]:
pd.Series([78, 32,89,70,34], index = index_2)

Days
Mon     78
Tues    32
Wed     89
Thur    70
Fri     34
dtype: int64

In [161]:
pd.Series([78, 32,89,70,34], index = index_1)

1    78
2    32
3    89
4    70
5    34
dtype: int64

# Changing row index labels with set_index() and reset_index()

In [162]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [163]:
summer.index

RangeIndex(start=0, stop=31165, step=1)

In [164]:
summer = pd.read_csv("Data1/Video_Lecture_NBs/summer.csv", index_col = "Athlete")

In [165]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [166]:
summer.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [168]:
summer.reset_index(drop = False, inplace=True) #drop when set to True drops/removes the previous index labesl

In [169]:
summer.head()

,Athlete,Year,City,Sport,Discipline,Country,Gender,Event,Medal
0,"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1,"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
2,"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
3,"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
4,"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [171]:
summer.set_index("Year")

,Athlete,City,Sport,Discipline,Country,Gender,Event,Medal
Year,,,,,,,,
1896,"HAJOS, Alfred",Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1896,"HERSCHMANN, Otto",Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
1896,"DRIVAS, Dimitrios",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
1896,"MALOKINIS, Ioannis",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
1896,"CHASAPIS, Spiridon",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
2012,"JANIKOWSKI, Damian",London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
2012,"REZAEI, Ghasem Gholamreza",London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
2012,"TOTROV, Rustam",London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
2012,"ALEKSANYAN, Artur",London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
2012,"LIDBERG, Jimmy",London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [172]:
summer.set_index("Year", drop = False) #NB if drop is set to False, the Year column appears both as index column and on columns also

,Athlete,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Year,,,,,,,,,
1896,"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1896,"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
1896,"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
1896,"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
1896,"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
2012,"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
2012,"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
2012,"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
2012,"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
2012,"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [173]:
summer.set_index("Year")

,Athlete,City,Sport,Discipline,Country,Gender,Event,Medal
Year,,,,,,,,
1896,"HAJOS, Alfred",Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1896,"HERSCHMANN, Otto",Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
1896,"DRIVAS, Dimitrios",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
1896,"MALOKINIS, Ioannis",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
1896,"CHASAPIS, Spiridon",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
2012,"JANIKOWSKI, Damian",London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
2012,"REZAEI, Ghasem Gholamreza",London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
2012,"TOTROV, Rustam",London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
2012,"ALEKSANYAN, Artur",London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
2012,"LIDBERG, Jimmy",London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [175]:
summer.index.size

31165

In [176]:
new_index = ["Medal_NO: {}".format(i) for i in range (1, summer.index.size + 1)]

In [177]:
new_index

['Medal_NO: 1',
 'Medal_NO: 2',
 'Medal_NO: 3',
 'Medal_NO: 4',
 'Medal_NO: 5',
 'Medal_NO: 6',
 'Medal_NO: 7',
 'Medal_NO: 8',
 'Medal_NO: 9',
 'Medal_NO: 10',
 'Medal_NO: 11',
 'Medal_NO: 12',
 'Medal_NO: 13',
 'Medal_NO: 14',
 'Medal_NO: 15',
 'Medal_NO: 16',
 'Medal_NO: 17',
 'Medal_NO: 18',
 'Medal_NO: 19',
 'Medal_NO: 20',
 'Medal_NO: 21',
 'Medal_NO: 22',
 'Medal_NO: 23',
 'Medal_NO: 24',
 'Medal_NO: 25',
 'Medal_NO: 26',
 'Medal_NO: 27',
 'Medal_NO: 28',
 'Medal_NO: 29',
 'Medal_NO: 30',
 'Medal_NO: 31',
 'Medal_NO: 32',
 'Medal_NO: 33',
 'Medal_NO: 34',
 'Medal_NO: 35',
 'Medal_NO: 36',
 'Medal_NO: 37',
 'Medal_NO: 38',
 'Medal_NO: 39',
 'Medal_NO: 40',
 'Medal_NO: 41',
 'Medal_NO: 42',
 'Medal_NO: 43',
 'Medal_NO: 44',
 'Medal_NO: 45',
 'Medal_NO: 46',
 'Medal_NO: 47',
 'Medal_NO: 48',
 'Medal_NO: 49',
 'Medal_NO: 50',
 'Medal_NO: 51',
 'Medal_NO: 52',
 'Medal_NO: 53',
 'Medal_NO: 54',
 'Medal_NO: 55',
 'Medal_NO: 56',
 'Medal_NO: 57',
 'Medal_NO: 58',
 'Medal_NO: 59',
 'Medal_NO: 60',
 'Medal_NO: 61',
 'Medal_NO: 62',
 'Medal_NO: 63',
 'Medal_NO: 64',
 'Medal_NO: 65',
 'Medal_NO: 66',
 'Medal_NO: 67',
 'Medal_NO: 68',
 'Medal_NO: 69',
 'Medal_NO: 70',
 'Medal_NO: 71',
 'Medal_NO: 72',
 'Medal_NO: 73',
 'Medal_NO: 74',
 'Medal_NO: 75',
 'Medal_NO: 76',
 'Medal_NO: 77',
 'Medal_NO: 78',
 'Medal_NO: 79',
 'Medal_NO: 80',
 'Medal_NO: 81',
 'Medal_NO: 82',
 'Medal_NO: 83',
 'Medal_NO: 84',
 'Medal_NO: 85',
 'Medal_NO: 86',
 'Medal_NO: 87',
 'Medal_NO: 88',
 'Medal_NO: 89',
 'Medal_NO: 90',
 'Medal_NO: 91',
 'Medal_NO: 92',
 'Medal_NO: 93',
 'Medal_NO: 94',
 'Medal_NO: 95',
 'Medal_NO: 96',
 'Medal_NO: 97',
 'Medal_NO: 98',
 'Medal_NO: 99',
 'Medal_NO: 100',
 'Medal_NO: 101',
 'Medal_NO: 102',
 'Medal_NO: 103',
 'Medal_NO: 104',
 'Medal_NO: 105',
 'Medal_NO: 106',
 'Medal_NO: 107',
 'Medal_NO: 108',
 'Medal_NO: 109',
 'Medal_NO: 110',
 'Medal_NO: 111',
 'Medal_NO: 112',
 'Medal_NO: 113',
 'Medal_NO: 114',
 'Medal_NO: 115',
 'Medal_NO: 116',
 'Medal_NO: 117',
 'Medal_NO: 118',
 'Medal_NO: 119',
 'Medal_NO: 120',
 'Medal_NO: 121',
 'Medal_NO: 122',
 'Medal_NO: 123',
 'Medal_NO: 124',
 'Medal_NO: 125',
 'Medal_NO: 126',
 'Medal_NO: 127',
 'Medal_NO: 128',
 'Medal_NO: 129',
 'Medal_NO: 130',
 'Medal_NO: 131',
 'Medal_NO: 132',
 'Medal_NO: 133',
 'Medal_NO: 134',
 'Medal_NO: 135',
 'Medal_NO: 136',
 'Medal_NO: 137',
 'Medal_NO: 138',
 'Medal_NO: 139',
 'Medal_NO: 140',
 'Medal_NO: 141',
 'Medal_NO: 142',
 'Medal_NO: 143',
 'Medal_NO: 144',
 'Medal_NO: 145',
 'Medal_NO: 146',
 'Medal_NO: 147',
 'Medal_NO: 148',
 'Medal_NO: 149',
 'Medal_NO: 150',
 'Medal_NO: 151',
 'Medal_NO: 152',
 'Medal_NO: 153',
 'Medal_NO: 154',
 'Medal_NO: 155',
 'Medal_NO: 156',
 'Medal_NO: 157',
 'Medal_NO: 158',
 'Medal_NO: 159',
 'Medal_NO: 160',
 'Medal_NO: 161',
 'Medal_NO: 162',
 'Medal_NO: 163',
 'Medal_NO: 164',
 'Medal_NO: 165',
 'Medal_NO: 166',
 'Medal_NO: 167',
 'Medal_NO: 168',
 'Medal_NO: 169',
 'Medal_NO: 170',
 'Medal_NO: 171',
 'Medal_NO: 172',
 'Medal_NO: 173',
 'Medal_NO: 174',
 'Medal_NO: 175',
 'Medal_NO: 176',
 'Medal_NO: 177',
 'Medal_NO: 178',
 'Medal_NO: 179',
 'Medal_NO: 180',
 'Medal_NO: 181',
 'Medal_NO: 182',
 'Medal_NO: 183',
 'Medal_NO: 184',
 'Medal_NO: 185',
 'Medal_NO: 186',
 'Medal_NO: 187',
 'Medal_NO: 188',
 'Medal_NO: 189',
 'Medal_NO: 190',
 'Medal_NO: 191',
 'Medal_NO: 192',
 'Medal_NO: 193',
 'Medal_NO: 194',
 'Medal_NO: 195',
 'Medal_NO: 196',
 'Medal_NO: 197',
 'Medal_NO: 198',
 'Medal_NO: 199',
 'Medal_NO: 200',
 'Medal_NO: 201',
 'Medal_NO: 202',
 'Medal_NO: 203',
 'Medal_NO: 204',
 'Medal_NO: 205',
 'Medal_NO: 206',
 'Medal_NO: 207',
 'Medal_NO: 208',
 'Medal_NO: 209',
 'Medal_NO: 210',
 'Medal_NO: 211',
 'Medal_NO: 212',
 'Medal_NO: 213',
 'Medal_NO: 214',
 'Medal_NO: 215',
 'Medal_NO: 216',
 'Medal_NO: 217',
 'Medal_NO: 218',
 'Medal_NO: 219',
 'Medal_NO: 220',
 'Medal_NO: 221',
 'Medal_NO: 222',
 'Medal_NO: 223',
 'Medal_NO: 224',
 'Medal_NO: 225',
 'Medal_NO: 226',
 'Medal_NO: 227',
 'Medal_NO: 228',
 'Medal_NO: 229',
 'Medal_NO: 230',
 'Medal_NO: 231',
 'Medal_NO: 232',
 'Medal_NO: 233',
 'Medal_NO: 234',
 'Medal_NO: 235',
 'Medal_NO: 236',
 'Medal_NO: 237',
 'Medal_NO: 238',
 'Medal_NO: 239',
 'Medal_NO: 240',
 'Medal_NO: 241',
 'Medal_NO: 242',
 'Medal_NO: 243',
 'Medal_NO: 244',
 'Medal_NO: 245',
 'Medal_NO: 246',
 'Medal_NO: 247',
 'Medal_NO: 248',
 'Medal_NO: 249',
 'Medal_NO: 250',
 'Medal_NO: 251',
 'Medal_NO: 252',
 'Medal_NO: 253',
 'Medal_NO: 254',
 'Medal_NO: 255',
 'Medal_NO: 256',
 'Medal_NO: 257',
 'Medal_NO: 258',
 'Medal_NO: 259',
 'Medal_NO: 260',
 'Medal_NO: 261',
 'Medal_NO: 262',
 'Medal_NO: 263',
 'Medal_NO: 264',
 'Medal_NO: 265',
 'Medal_NO: 266',
 'Medal_NO: 267',
 'Medal_NO: 268',
 'Medal_NO: 269',
 'Medal_NO: 270',
 'Medal_NO: 271',
 'Medal_NO: 272',
 'Medal_NO: 273',
 'Medal_NO: 274',
 'Medal_NO: 275',
 'Medal_NO: 276',
 'Medal_NO: 277',
 'Medal_NO: 278',
 'Medal_NO: 279',
 'Medal_NO: 280',
 'Medal_NO: 281',
 'Medal_NO: 282',
 'Medal_NO: 283',
 'Medal_NO: 284',
 'Medal_NO: 285',
 'Medal_NO: 286',
 'Medal_NO: 287',
 'Medal_NO: 288',
 'Medal_NO: 289',
 'Medal_NO: 290',
 'Medal_NO: 291',
 'Medal_NO: 292',
 'Medal_NO: 293',
 'Medal_NO: 294',
 'Medal_NO: 295',
 'Medal_NO: 296',
 'Medal_NO: 297',
 'Medal_NO: 298',
 'Medal_NO: 299',
 'Medal_NO: 300',
 'Medal_NO: 301',
 'Medal_NO: 302',
 'Medal_NO: 303',
 'Medal_NO: 304',
 'Medal_NO: 305',
 'Medal_NO: 306',
 'Medal_NO: 307',
 'Medal_NO: 308',
 'Medal_NO: 309',
 'Medal_NO: 310',
 'Medal_NO: 311',
 'Medal_NO: 312',
 'Medal_NO: 313',
 'Medal_NO: 314',
 'Medal_NO: 315',
 'Medal_NO: 316',
 'Medal_NO: 317',
 'Medal_NO: 318',
 'Medal_NO: 319',
 'Medal_NO: 320',
 'Medal_NO: 321',
 'Medal_NO: 322',
 'Medal_NO: 323',
 'Medal_NO: 324',
 'Medal_NO: 325',
 'Medal_NO: 326',
 'Medal_NO: 327',
 'Medal_NO: 328',
 'Medal_NO: 329',
 'Medal_NO: 330',
 'Medal_NO: 331',
 'Medal_NO: 332',
 'Medal_NO: 333',
 'Medal_NO: 334',
 'Medal_NO: 335',
 'Medal_NO: 336',
 'Medal_NO: 337',
 'Medal_NO: 338',
 'Medal_NO: 339',
 'Medal_NO: 340',
 'Medal_NO: 341',
 'Medal_NO: 342',
 'Medal_NO: 343',
 'Medal_NO: 344',
 'Medal_NO: 345',
 'Medal_NO: 346',
 'Medal_NO: 347',
 'Medal_NO: 348',
 'Medal_NO: 349',
 'Medal_NO: 350',
 'Medal_NO: 351',
 'Medal_NO: 352',
 'Medal_NO: 353',
 'Medal_NO: 354',
 'Medal_NO: 355',
 'Medal_NO: 356',
 'Medal_NO: 357',
 'Medal_NO: 358',
 'Medal_NO: 359',
 'Medal_NO: 360',
 'Medal_NO: 361',
 'Medal_NO: 362',
 'Medal_NO: 363',
 'Medal_NO: 364',
 'Medal_NO: 365',
 'Medal_NO: 366',
 'Medal_NO: 367',
 'Medal_NO: 368',
 'Medal_NO: 369',
 'Medal_NO: 370',
 'Medal_NO: 371',
 'Medal_NO: 372',
 'Medal_NO: 373',
 'Medal_NO: 374',
 'Medal_NO: 375',
 'Medal_NO: 376',
 'Medal_NO: 377',
 'Medal_NO: 378',
 'Medal_NO: 379',
 'Medal_NO: 380',
 'Medal_NO: 381',
 'Medal_NO: 382',
 'Medal_NO: 383',
 'Medal_NO: 384',
 'Medal_NO: 385',
 'Medal_NO: 386',
 'Medal_NO: 387',
 'Medal_NO: 388',
 'Medal_NO: 389',
 'Medal_NO: 390',
 'Medal_NO: 391',
 'Medal_NO: 392',
 'Medal_NO: 393',
 'Medal_NO: 394',
 'Medal_NO: 395',
 'Medal_NO: 396',
 'Medal_NO: 397',
 'Medal_NO: 398',
 'Medal_NO: 399',
 'Medal_NO: 400',
 'Medal_NO: 401',
 'Medal_NO: 402',
 'Medal_NO: 403',
 'Medal_NO: 404',
 'Medal_NO: 405',
 'Medal_NO: 406',
 'Medal_NO: 407',
 'Medal_NO: 408',
 'Medal_NO: 409',
 'Medal_NO: 410',
 'Medal_NO: 411',
 'Medal_NO: 412',
 'Medal_NO: 413',
 'Medal_NO: 414',
 'Medal_NO: 415',
 'Medal_NO: 416',
 'Medal_NO: 417',
 'Medal_NO: 418',
 'Medal_NO: 419',
 'Medal_NO: 420',
 'Medal_NO: 421',
 'Medal_NO: 422',
 'Medal_NO: 423',
 'Medal_NO: 424',
 'Medal_NO: 425',
 'Medal_NO: 426',
 'Medal_NO: 427',
 'Medal_NO: 428',
 'Medal_NO: 429',
 'Medal_NO: 430',
 'Medal_NO: 431',
 'Medal_NO: 432',
 'Medal_NO: 433',
 'Medal_NO: 434',
 'Medal_NO: 435',
 'Medal_NO: 436',
 'Medal_NO: 437',
 'Medal_NO: 438',
 'Medal_NO: 439',
 'Medal_NO: 440',
 'Medal_NO: 441',
 'Medal_NO: 442',
 'Medal_NO: 443',
 'Medal_NO: 444',
 'Medal_NO: 445',
 'Medal_NO: 446',
 'Medal_NO: 447',
 'Medal_NO: 448',
 'Medal_NO: 449',
 'Medal_NO: 450',
 'Medal_NO: 451',
 'Medal_NO: 452',
 'Medal_NO: 453',
 'Medal_NO: 454',
 'Medal_NO: 455',
 'Medal_NO: 456',
 'Medal_NO: 457',
 'Medal_NO: 458',
 'Medal_NO: 459',
 'Medal_NO: 460',
 'Medal_NO: 461',
 'Medal_NO: 462',
 'Medal_NO: 463',
 'Medal_NO: 464',
 'Medal_NO: 465',
 'Medal_NO: 466',
 'Medal_NO: 467',
 'Medal_NO: 468',
 'Medal_NO: 469',
 'Medal_NO: 470',
 'Medal_NO: 471',
 'Medal_NO: 472',
 'Medal_NO: 473',
 'Medal_NO: 474',
 'Medal_NO: 475',
 'Medal_NO: 476',
 'Medal_NO: 477',
 'Medal_NO: 478',
 'Medal_NO: 479',
 'Medal_NO: 480',
 'Medal_NO: 481',
 'Medal_NO: 482',
 'Medal_NO: 483',
 'Medal_NO: 484',
 'Medal_NO: 485',
 'Medal_NO: 486',
 'Medal_NO: 487',
 'Medal_NO: 488',
 'Medal_NO: 489',
 'Medal_NO: 490',
 'Medal_NO: 491',
 'Medal_NO: 492',
 'Medal_NO: 493',
 'Medal_NO: 494',
 'Medal_NO: 495',
 'Medal_NO: 496',
 'Medal_NO: 497',
 'Medal_NO: 498',
 'Medal_NO: 499',
 'Medal_NO: 500',
 'Medal_NO: 501',
 'Medal_NO: 502',
 'Medal_NO: 503',
 'Medal_NO: 504',
 'Medal_NO: 505',
 'Medal_NO: 506',
 'Medal_NO: 507',
 'Medal_NO: 508',
 'Medal_NO: 509',
 'Medal_NO: 510',
 'Medal_NO: 511',
 'Medal_NO: 512',
 'Medal_NO: 513',
 'Medal_NO: 514',
 'Medal_NO: 515',
 'Medal_NO: 516',
 'Medal_NO: 517',
 'Medal_NO: 518',
 'Medal_NO: 519',
 'Medal_NO: 520',
 'Medal_NO: 521',
 'Medal_NO: 522',
 'Medal_NO: 523',
 'Medal_NO: 524',
 'Medal_NO: 525',
 'Medal_NO: 526',
 'Medal_NO: 527',
 'Medal_NO: 528',
 'Medal_NO: 529',
 'Medal_NO: 530',
 'Medal_NO: 531',
 'Medal_NO: 532',
 'Medal_NO: 533',
 'Medal_NO: 534',
 'Medal_NO: 535',
 'Medal_NO: 536',
 'Medal_NO: 537',
 'Medal_NO: 538',
 'Medal_NO: 539',
 'Medal_NO: 540',
 'Medal_NO: 541',
 'Medal_NO: 542',
 'Medal_NO: 543',
 'Medal_NO: 544',
 'Medal_NO: 545',
 'Medal_NO: 546',
 'Medal_NO: 547',
 'Medal_NO: 548',
 'Medal_NO: 549',
 'Medal_NO: 550',
 'Medal_NO: 551',
 'Medal_NO: 552',
 'Medal_NO: 553',
 'Medal_NO: 554',
 'Medal_NO: 555',
 'Medal_NO: 556',
 'Medal_NO: 557',
 'Medal_NO: 558',
 'Medal_NO: 559',
 'Medal_NO: 560',
 'Medal_NO: 561',
 'Medal_NO: 562',
 'Medal_NO: 563',
 'Medal_NO: 564',
 'Medal_NO: 565',
 'Medal_NO: 566',
 'Medal_NO: 567',
 'Medal_NO: 568',
 'Medal_NO: 569',
 'Medal_NO: 570',
 'Medal_NO: 571',
 'Medal_NO: 572',
 'Medal_NO: 573',
 'Medal_NO: 574',
 'Medal_NO: 575',
 'Medal_NO: 576',
 'Medal_NO: 577',
 'Medal_NO: 578',
 'Medal_NO: 579',
 'Medal_NO: 580',
 'Medal_NO: 581',
 'Medal_NO: 582',
 'Medal_NO: 583',
 'Medal_NO: 584',
 'Medal_NO: 585',
 'Medal_NO: 586',
 'Medal_NO: 587',
 'Medal_NO: 588',
 'Medal_NO: 589',
 'Medal_NO: 590',
 'Medal_NO: 591',
 'Medal_NO: 592',
 'Medal_NO: 593',
 'Medal_NO: 594',
 'Medal_NO: 595',
 'Medal_NO: 596',
 'Medal_NO: 597',
 'Medal_NO: 598',
 'Medal_NO: 599',
 'Medal_NO: 600',
 'Medal_NO: 601',
 'Medal_NO: 602',
 'Medal_NO: 603',
 'Medal_NO: 604',
 'Medal_NO: 605',
 'Medal_NO: 606',
 'Medal_NO: 607',
 'Medal_NO: 608',
 'Medal_NO: 609',
 'Medal_NO: 610',
 'Medal_NO: 611',
 'Medal_NO: 612',
 'Medal_NO: 613',
 'Medal_NO: 614',
 'Medal_NO: 615',
 'Medal_NO: 616',
 'Medal_NO: 617',
 'Medal_NO: 618',
 'Medal_NO: 619',
 'Medal_NO: 620',
 'Medal_NO: 621',
 'Medal_NO: 622',
 'Medal_NO: 623',
 'Medal_NO: 624',
 'Medal_NO: 625',
 'Medal_NO: 626',
 'Medal_NO: 627',
 'Medal_NO: 628',
 'Medal_NO: 629',
 'Medal_NO: 630',
 'Medal_NO: 631',
 'Medal_NO: 632',
 'Medal_NO: 633',
 'Medal_NO: 634',
 'Medal_NO: 635',
 'Medal_NO: 636',
 'Medal_NO: 637',
 'Medal_NO: 638',
 'Medal_NO: 639',
 'Medal_NO: 640',
 'Medal_NO: 641',
 'Medal_NO: 642',
 'Medal_NO: 643',
 'Medal_NO: 644',
 'Medal_NO: 645',
 'Medal_NO: 646',
 'Medal_NO: 647',
 'Medal_NO: 648',
 'Medal_NO: 649',
 'Medal_NO: 650',
 'Medal_NO: 651',
 'Medal_NO: 652',
 'Medal_NO: 653',
 'Medal_NO: 654',
 'Medal_NO: 655',
 'Medal_NO: 656',
 'Medal_NO: 657',
 'Medal_NO: 658',
 'Medal_NO: 659',
 'Medal_NO: 660',
 'Medal_NO: 661',
 'Medal_NO: 662',
 'Medal_NO: 663',
 'Medal_NO: 664',
 'Medal_NO: 665',
 'Medal_NO: 666',
 'Medal_NO: 667',
 'Medal_NO: 668',
 'Medal_NO: 669',
 'Medal_NO: 670',
 'Medal_NO: 671',
 'Medal_NO: 672',
 'Medal_NO: 673',
 'Medal_NO: 674',
 'Medal_NO: 675',
 'Medal_NO: 676',
 'Medal_NO: 677',
 'Medal_NO: 678',
 'Medal_NO: 679',
 'Medal_NO: 680',
 'Medal_NO: 681',
 'Medal_NO: 682',
 'Medal_NO: 683',
 'Medal_NO: 684',
 'Medal_NO: 685',
 'Medal_NO: 686',
 'Medal_NO: 687',
 'Medal_NO: 688',
 'Medal_NO: 689',
 'Medal_NO: 690',
 'Medal_NO: 691',
 'Medal_NO: 692',
 'Medal_NO: 693',
 'Medal_NO: 694',
 'Medal_NO: 695',
 'Medal_NO: 696',
 'Medal_NO: 697',
 'Medal_NO: 698',
 'Medal_NO: 699',
 'Medal_NO: 700',
 'Medal_NO: 701',
 'Medal_NO: 702',
 'Medal_NO: 703',
 'Medal_NO: 704',
 'Medal_NO: 705',
 'Medal_NO: 706',
 'Medal_NO: 707',
 'Medal_NO: 708',
 'Medal_NO: 709',
 'Medal_NO: 710',
 'Medal_NO: 711',
 'Medal_NO: 712',
 'Medal_NO: 713',
 'Medal_NO: 714',
 'Medal_NO: 715',
 'Medal_NO: 716',
 'Medal_NO: 717',
 'Medal_NO: 718',
 'Medal_NO: 719',
 'Medal_NO: 720',
 'Medal_NO: 721',
 'Medal_NO: 722',
 'Medal_NO: 723',
 'Medal_NO: 724',
 'Medal_NO: 725',
 'Medal_NO: 726',
 'Medal_NO: 727',
 'Medal_NO: 728',
 'Medal_NO: 729',
 'Medal_NO: 730',
 'Medal_NO: 731',
 'Medal_NO: 732',
 'Medal_NO: 733',
 'Medal_NO: 734',
 'Medal_NO: 735',
 'Medal_NO: 736',
 'Medal_NO: 737',
 'Medal_NO: 738',
 'Medal_NO: 739',
 'Medal_NO: 740',
 'Medal_NO: 741',
 'Medal_NO: 742',
 'Medal_NO: 743',
 'Medal_NO: 744',
 'Medal_NO: 745',
 'Medal_NO: 746',
 'Medal_NO: 747',
 'Medal_NO: 748',
 'Medal_NO: 749',
 'Medal_NO: 750',
 'Medal_NO: 751',
 'Medal_NO: 752',
 'Medal_NO: 753',
 'Medal_NO: 754',
 'Medal_NO: 755',
 'Medal_NO: 756',
 'Medal_NO: 757',
 'Medal_NO: 758',
 'Medal_NO: 759',
 'Medal_NO: 760',
 'Medal_NO: 761',
 'Medal_NO: 762',
 'Medal_NO: 763',
 'Medal_NO: 764',
 'Medal_NO: 765',
 'Medal_NO: 766',
 'Medal_NO: 767',
 'Medal_NO: 768',
 'Medal_NO: 769',
 'Medal_NO: 770',
 'Medal_NO: 771',
 'Medal_NO: 772',
 'Medal_NO: 773',
 'Medal_NO: 774',
 'Medal_NO: 775',
 'Medal_NO: 776',
 'Medal_NO: 777',
 'Medal_NO: 778',
 'Medal_NO: 779',
 'Medal_NO: 780',
 'Medal_NO: 781',
 'Medal_NO: 782',
 'Medal_NO: 783',
 'Medal_NO: 784',
 'Medal_NO: 785',
 'Medal_NO: 786',
 'Medal_NO: 787',
 'Medal_NO: 788',
 'Medal_NO: 789',
 'Medal_NO: 790',
 'Medal_NO: 791',
 'Medal_NO: 792',
 'Medal_NO: 793',
 'Medal_NO: 794',
 'Medal_NO: 795',
 'Medal_NO: 796',
 'Medal_NO: 797',
 'Medal_NO: 798',
 'Medal_NO: 799',
 'Medal_NO: 800',
 'Medal_NO: 801',
 'Medal_NO: 802',
 'Medal_NO: 803',
 'Medal_NO: 804',
 'Medal_NO: 805',
 'Medal_NO: 806',
 'Medal_NO: 807',
 'Medal_NO: 808',
 'Medal_NO: 809',
 'Medal_NO: 810',
 'Medal_NO: 811',
 'Medal_NO: 812',
 'Medal_NO: 813',
 'Medal_NO: 814',
 'Medal_NO: 815',
 'Medal_NO: 816',
 'Medal_NO: 817',
 'Medal_NO: 818',
 'Medal_NO: 819',
 'Medal_NO: 820',
 'Medal_NO: 821',
 'Medal_NO: 822',
 'Medal_NO: 823',
 'Medal_NO: 824',
 'Medal_NO: 825',
 'Medal_NO: 826',
 'Medal_NO: 827',
 'Medal_NO: 828',
 'Medal_NO: 829',
 'Medal_NO: 830',
 'Medal_NO: 831',
 'Medal_NO: 832',
 'Medal_NO: 833',
 'Medal_NO: 834',
 'Medal_NO: 835',
 'Medal_NO: 836',
 'Medal_NO: 837',
 'Medal_NO: 838',
 'Medal_NO: 839',
 'Medal_NO: 840',
 'Medal_NO: 841',
 'Medal_NO: 842',
 'Medal_NO: 843',
 'Medal_NO: 844',
 'Medal_NO: 845',
 'Medal_NO: 846',
 'Medal_NO: 847',
 'Medal_NO: 848',
 'Medal_NO: 849',
 'Medal_NO: 850',
 'Medal_NO: 851',
 'Medal_NO: 852',
 'Medal_NO: 853',
 'Medal_NO: 854',
 'Medal_NO: 855',
 'Medal_NO: 856',
 'Medal_NO: 857',
 'Medal_NO: 858',
 'Medal_NO: 859',
 'Medal_NO: 860',
 'Medal_NO: 861',
 'Medal_NO: 862',
 'Medal_NO: 863',
 'Medal_NO: 864',
 'Medal_NO: 865',
 'Medal_NO: 866',
 'Medal_NO: 867',
 'Medal_NO: 868',
 'Medal_NO: 869',
 'Medal_NO: 870',
 'Medal_NO: 871',
 'Medal_NO: 872',
 'Medal_NO: 873',
 'Medal_NO: 874',
 'Medal_NO: 875',
 'Medal_NO: 876',
 'Medal_NO: 877',
 'Medal_NO: 878',
 'Medal_NO: 879',
 'Medal_NO: 880',
 'Medal_NO: 881',
 'Medal_NO: 882',
 'Medal_NO: 883',
 'Medal_NO: 884',
 'Medal_NO: 885',
 'Medal_NO: 886',
 'Medal_NO: 887',
 'Medal_NO: 888',
 'Medal_NO: 889',
 'Medal_NO: 890',
 'Medal_NO: 891',
 'Medal_NO: 892',
 'Medal_NO: 893',
 'Medal_NO: 894',
 'Medal_NO: 895',
 'Medal_NO: 896',
 'Medal_NO: 897',
 'Medal_NO: 898',
 'Medal_NO: 899',
 'Medal_NO: 900',
 'Medal_NO: 901',
 'Medal_NO: 902',
 'Medal_NO: 903',
 'Medal_NO: 904',
 'Medal_NO: 905',
 'Medal_NO: 906',
 'Medal_NO: 907',
 'Medal_NO: 908',
 'Medal_NO: 909',
 'Medal_NO: 910',
 'Medal_NO: 911',
 'Medal_NO: 912',
 'Medal_NO: 913',
 'Medal_NO: 914',
 'Medal_NO: 915',
 'Medal_NO: 916',
 'Medal_NO: 917',
 'Medal_NO: 918',
 'Medal_NO: 919',
 'Medal_NO: 920',
 'Medal_NO: 921',
 'Medal_NO: 922',
 'Medal_NO: 923',
 'Medal_NO: 924',
 'Medal_NO: 925',
 'Medal_NO: 926',
 'Medal_NO: 927',
 'Medal_NO: 928',
 'Medal_NO: 929',
 'Medal_NO: 930',
 'Medal_NO: 931',
 'Medal_NO: 932',
 'Medal_NO: 933',
 'Medal_NO: 934',
 'Medal_NO: 935',
 'Medal_NO: 936',
 'Medal_NO: 937',
 'Medal_NO: 938',
 'Medal_NO: 939',
 'Medal_NO: 940',
 'Medal_NO: 941',
 'Medal_NO: 942',
 'Medal_NO: 943',
 'Medal_NO: 944',
 'Medal_NO: 945',
 'Medal_NO: 946',
 'Medal_NO: 947',
 'Medal_NO: 948',
 'Medal_NO: 949',
 'Medal_NO: 950',
 'Medal_NO: 951',
 'Medal_NO: 952',
 'Medal_NO: 953',
 'Medal_NO: 954',
 'Medal_NO: 955',
 'Medal_NO: 956',
 'Medal_NO: 957',
 'Medal_NO: 958',
 'Medal_NO: 959',
 'Medal_NO: 960',
 'Medal_NO: 961',
 'Medal_NO: 962',
 'Medal_NO: 963',
 'Medal_NO: 964',
 'Medal_NO: 965',
 'Medal_NO: 966',
 'Medal_NO: 967',
 'Medal_NO: 968',
 'Medal_NO: 969',
 'Medal_NO: 970',
 'Medal_NO: 971',
 'Medal_NO: 972',
 'Medal_NO: 973',
 'Medal_NO: 974',
 'Medal_NO: 975',
 'Medal_NO: 976',
 'Medal_NO: 977',
 'Medal_NO: 978',
 'Medal_NO: 979',
 'Medal_NO: 980',
 'Medal_NO: 981',
 'Medal_NO: 982',
 'Medal_NO: 983',
 'Medal_NO: 984',
 'Medal_NO: 985',
 'Medal_NO: 986',
 'Medal_NO: 987',
 'Medal_NO: 988',
 'Medal_NO: 989',
 'Medal_NO: 990',
 'Medal_NO: 991',
 'Medal_NO: 992',
 'Medal_NO: 993',
 'Medal_NO: 994',
 'Medal_NO: 995',
 'Medal_NO: 996',
 'Medal_NO: 997',
 'Medal_NO: 998',
 'Medal_NO: 999',
 'Medal_NO: 1000',
 ...]

In [178]:
summer.index = new_index

In [179]:
summer.head()

,Athlete,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Medal_NO: 1,"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
Medal_NO: 2,"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
Medal_NO: 3,"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
Medal_NO: 4,"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
Medal_NO: 5,"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [180]:
summer.tail()

,Athlete,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Medal_NO: 31161,"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
Medal_NO: 31162,"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
Medal_NO: 31163,"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
Medal_NO: 31164,"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
Medal_NO: 31165,"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [181]:
summer.index.name = "Medal_NO" # Sets the index column label

In [182]:
summer.head()

,Athlete,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Medal_NO,,,,,,,,,
Medal_NO: 1,"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
Medal_NO: 2,"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
Medal_NO: 3,"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
Medal_NO: 4,"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
Medal_NO: 5,"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [184]:
summer.reset_index(drop = True)

,Athlete,Year,City,Sport,Discipline,Country,Gender,Event,Medal
0,"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1,"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
2,"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
3,"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
4,"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
31161,"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
31162,"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
31163,"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
31164,"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

# Channging Column Labels

In [185]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female   0.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [186]:
titanic.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'deck'],
      dtype='object')

In [189]:
titanic.columns[0]

'survived'

In [190]:
titanic.columns[0] = "Alive"

TypeError: Index does not support mutable operations

In [191]:
titanic.columns = ['Alive', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'deck']

In [192]:
titanic.head()

   Alive  pclass     sex   age  sibsp  parch     fare embarked deck
0      0       3    male  22.0      1      0   7.2500        S  NaN
1      1       1  female   0.0      1      0  71.2833        C    C
2      1       3  female  26.0      0      0   7.9250        S  NaN
3      1       1  female  35.0      1      0  53.1000        S    C
4      0       3    male  35.0      0      0   8.0500        S  NaN

# Renaming Index and Column Labels with rename()

In [193]:
summer.head()

,Athlete,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Medal_NO,,,,,,,,,
Medal_NO: 1,"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
Medal_NO: 2,"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
Medal_NO: 3,"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
Medal_NO: 4,"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
Medal_NO: 5,"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [195]:
summer.reset_index(drop = True, inplace=True)

In [196]:
summer.head()

,Athlete,Year,City,Sport,Discipline,Country,Gender,Event,Medal
0,"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1,"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
2,"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
3,"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
4,"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [197]:
summer = pd.read_csv("Data1/Video_Lecture_NBs/summer.csv", index_col = "Athlete")

In [198]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [199]:
summer.rename(mapper = {"HAJOS, Alfred" : 'HAYOS, Afred'}, axis="index")

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Afred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [200]:
summer.rename(index = {"TOTROV, Rustam" : 'TOTROV, Rustaman'}, inplace = True) #Alternative Method

In [202]:
summer.tail()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustaman",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [203]:
summer.rename(mapper = {"Gender" : 'Sex'}, axis="columns")

,Year,City,Sport,Discipline,Country,Sex,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustaman",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [204]:
summer.rename(columns = {"Sex" : 'Gender'}, inplace = True) #Alternative Method

In [205]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver