# Merging, Joining and Concatenating Data

In [1]:
import pandas as pd

pd.options.display.max_rows = None

In [2]:
men2004 = pd.read_csv("Data1/Course_Material_Part2/Video_Lecture_NBs/men2004.csv")

In [3]:
men2004

                       Athlete  Medals
0              PHELPS, Michael       8
1                  THORPE, Ian       4
2             SCHOEMAN, Roland       3
3               PEIRSOL, Aaron       3
4                 CROCKER, Ian       3
5             KITAJIMA, Kosuke       3
6              HANSEN, Brendan       3
7   VAN DEN HOOGENBAND, Pieter       3
8               HACKETT, Grant       3
9               MORITA, Tomomi       2
10                LEZAK, Jason       2
11               ROGAN, Markus       2
12               KELLER, Klete       2
13              HALL, Gary Jr.       2
14                LOCHTE, Ryan       2
15                WALKER, Neil       2
16           YAMAMOTO, Takashi       2
17          SPRENGER, Nicholas       1
18          OKUMURA, Yoshihiro       1
19              PARRY, Stephen       1
20               PEARSON, Todd       1
21              ZASTROW, Mitja       1
22          PELLICIARI, Matteo       1
23              WOODWARD, Gabe       1
24            SERDINOV, Andriy       1
25                 VENDT, Erik       1
26      ROSOLINO, Massimiliano       1
27        VEENS, Mark Hermanus       1
28            RUPPRATH, Thomas       1
29           VANDERKAAY, Peter       1
30            TOWNSEND, Darian       1
31              STEVENS, Craig       1
32              NEETHLING, Ryk       1
33              BOVELL, George       1
34                MEEUW, Helge       1
35        FLOREA, Razvan Ionut       1
36       CAPPELLAZZO, Federico       1
37             CERCATO, Simone       1
38                CONRAD, Lars       1
39                CSEH, Laszlo       1
40               DAVIES, David       1
41              DRAGANJA, Duje       1
42            DRIESEN, Steffen       1
43             DUBOSCQ, Hugues       1
44                DUSING, Nate       1
45               FERNS, Lyndon       1
46              GANGLOFF, Mark       1
47           MATKOVICH, Antony       1
48            GOLDBLATT, Scott       1
49              GYURTA, Daniel       1
50              JENSEN, Larsen       1
51             KENKHUIS, Johan       1
52                KETCHUM, Dan       1
53               KLIM, Michael       1
54          KRAYZELBURG, Lenny       1
55                KRUPPA, Jens       1
56         BREMBILLA, Emiliano       1
57            MAGNINI, Filippo       1
58         ZWERING, Klaas-Erik       1

In [4]:
men2008 = pd.read_csv("Data1/Course_Material_Part2/Video_Lecture_NBs/men2008.csv")

In [5]:
men2008

                     Athlete  Medals
0            PHELPS, Michael       8
1               LOCHTE, Ryan       4
2             BERNARD, Alain       3
3            SULLIVAN, Eamon       3
4        LAUTERSTEIN, Andrew       3
5              GREVERS, Matt       3
6               LEZAK, Jason       3
7               CSEH, Laszlo       3
8           KITAJIMA, Kosuke       3
9             PEIRSOL, Aaron       3
10          RICKARD, Brenton       2
11           LEVEAUX, Amaury       2
12            HACKETT, Grant       2
13          STOECKEL, Hayden       2
14             TARGETT, Matt       2
15           DUBOSCQ, Hugues       2
16         VANDERKAAY, Peter       2
17             PARK, Taehwan       2
18        CIELO FILHO, Cesar       2
19        VYATCHANIN, Arkady       2
20             BRODIE, Leith       2
21       WEBER-GALE, Garrett       2
22           MURPHY, Patrick       2
23       OEN, Alexander Dale       1
24              PALMER, Kirk       1
25            ADRIAN, Nathan       1
26                PINE, Adam       1
27       POLISHCHUK, Mikhail       1
28           SATO, Hisayoshi       1
29       SPRENGER, Christian       1
30        MIYASHITA, Junichi       1
31     SUKHORUKOV, Alexander       1
32  VAN DER WEIJDEN, Maarten       1
33               VENDT, Erik       1
34            WALTERS, David       1
35     WILDMAN-TOBRINER, Ben       1
36           STEIMETZ, Boris       1
37         LOBINTSEV, Nikita       1
38         MELLOULI, Oussama       1
39          MATSUDA, Takeshi       1
40       BOUSQUET, Frederick       1
41              BRITS, Grant       1
42            CALLUS, Ashley       1
43            CAVIC, Milorad       1
44            COCHRANE, Ryan       1
45              CROCKER, Ian       1
46             DAVIES, David       1
47           DELANEY, Ashley       1
48              FFROST, Nick       1
49             FUJII, Takuro       1
50            GANGLOFF, Mark       1
51             GILOT, Fabien       1
52           HANSEN, Brendan       1
53            IZOTOV, Danila       1
54            JENSEN, Larsen       1
55             JONES, Cullen       1
56             KELLER, Klete       1
57          LAGUNOV, Evgeniy       1
58             BERENS, Ricky       1
59              LURZ, Thomas       1
60           MALLET, Gregory       1
61                ZHANG, Lin       1

## Method 1: Using the append() method

In [6]:
men2004.append(men2008, ignore_index=True)#Append rows of `other` to the end of caller, returning a new object. Columns in `other` that are not in the caller are added as new column

                        Athlete  Medals
0               PHELPS, Michael       8
1                   THORPE, Ian       4
2              SCHOEMAN, Roland       3
3                PEIRSOL, Aaron       3
4                  CROCKER, Ian       3
5              KITAJIMA, Kosuke       3
6               HANSEN, Brendan       3
7    VAN DEN HOOGENBAND, Pieter       3
8                HACKETT, Grant       3
9                MORITA, Tomomi       2
10                 LEZAK, Jason       2
11                ROGAN, Markus       2
12                KELLER, Klete       2
13               HALL, Gary Jr.       2
14                 LOCHTE, Ryan       2
15                 WALKER, Neil       2
16            YAMAMOTO, Takashi       2
17           SPRENGER, Nicholas       1
18           OKUMURA, Yoshihiro       1
19               PARRY, Stephen       1
20                PEARSON, Todd       1
21               ZASTROW, Mitja       1
22           PELLICIARI, Matteo       1
23               WOODWARD, Gabe       1
24             SERDINOV, Andriy       1
25                  VENDT, Erik       1
26       ROSOLINO, Massimiliano       1
27         VEENS, Mark Hermanus       1
28             RUPPRATH, Thomas       1
29            VANDERKAAY, Peter       1
30             TOWNSEND, Darian       1
31               STEVENS, Craig       1
32               NEETHLING, Ryk       1
33               BOVELL, George       1
34                 MEEUW, Helge       1
35         FLOREA, Razvan Ionut       1
36        CAPPELLAZZO, Federico       1
37              CERCATO, Simone       1
38                 CONRAD, Lars       1
39                 CSEH, Laszlo       1
40                DAVIES, David       1
41               DRAGANJA, Duje       1
42             DRIESEN, Steffen       1
43              DUBOSCQ, Hugues       1
44                 DUSING, Nate       1
45                FERNS, Lyndon       1
46               GANGLOFF, Mark       1
47            MATKOVICH, Antony       1
48             GOLDBLATT, Scott       1
49               GYURTA, Daniel       1
50               JENSEN, Larsen       1
51              KENKHUIS, Johan       1
52                 KETCHUM, Dan       1
53                KLIM, Michael       1
54           KRAYZELBURG, Lenny       1
55                 KRUPPA, Jens       1
56          BREMBILLA, Emiliano       1
57             MAGNINI, Filippo       1
58          ZWERING, Klaas-Erik       1
59              PHELPS, Michael       8
60                 LOCHTE, Ryan       4
61               BERNARD, Alain       3
62              SULLIVAN, Eamon       3
63          LAUTERSTEIN, Andrew       3
64                GREVERS, Matt       3
65                 LEZAK, Jason       3
66                 CSEH, Laszlo       3
67             KITAJIMA, Kosuke       3
68               PEIRSOL, Aaron       3
69             RICKARD, Brenton       2
70              LEVEAUX, Amaury       2
71               HACKETT, Grant       2
72             STOECKEL, Hayden       2
73                TARGETT, Matt       2
74              DUBOSCQ, Hugues       2
75            VANDERKAAY, Peter       2
76                PARK, Taehwan       2
77           CIELO FILHO, Cesar       2
78           VYATCHANIN, Arkady       2
79                BRODIE, Leith       2
80          WEBER-GALE, Garrett       2
81              MURPHY, Patrick       2
82          OEN, Alexander Dale       1
83                 PALMER, Kirk       1
84               ADRIAN, Nathan       1
85                   PINE, Adam       1
86          POLISHCHUK, Mikhail       1
87              SATO, Hisayoshi       1
88          SPRENGER, Christian       1
89           MIYASHITA, Junichi       1
90        SUKHORUKOV, Alexander       1
91     VAN DER WEIJDEN, Maarten       1
92                  VENDT, Erik       1
93               WALTERS, David       1
94        WILDMAN-TOBRINER, Ben       1
95              STEIMETZ, Boris       1
96            LOBINTSEV, Nikita       1
97            MELLOULI, Oussama       1
98             MATSUDA, Takeshi       1
99          BOUSQUET, Frederick       1
100                BRITS, Grant       1
101              CALLUS, Ashley       1
102              CAVIC, Milorad       1
103              COCHRANE, Ryan       1
104                CROCKER, Ian       1
105               DAVIES, David       1
106             DELANEY, Ashley       1
107                FFROST, Nick       1
108               FUJII, Takuro       1
109              GANGLOFF, Mark       1
110               GILOT, Fabien       1
111             HANSEN, Brendan       1
112              IZOTOV, Danila       1
113              JENSEN, Larsen       1
114               JONES, Cullen       1
115               KELLER, Klete       1
116            LAGUNOV, Evgeniy       1
117               BERENS, Ricky       1
118                LURZ, Thomas       1
119             MALLET, Gregory       1
120                  ZHANG, Lin       1

## Method 2: Using concat() method - Best Option

In [7]:
pd.concat([men2004, men2008], ignore_index=False, keys=[2004, 2008])#Setting the ignore_index to False keeps the original indexes of the two data frames

                            Athlete  Medals
2004 0              PHELPS, Michael       8
     1                  THORPE, Ian       4
     2             SCHOEMAN, Roland       3
     3               PEIRSOL, Aaron       3
     4                 CROCKER, Ian       3
     5             KITAJIMA, Kosuke       3
     6              HANSEN, Brendan       3
     7   VAN DEN HOOGENBAND, Pieter       3
     8               HACKETT, Grant       3
     9               MORITA, Tomomi       2
     10                LEZAK, Jason       2
     11               ROGAN, Markus       2
     12               KELLER, Klete       2
     13              HALL, Gary Jr.       2
     14                LOCHTE, Ryan       2
     15                WALKER, Neil       2
     16           YAMAMOTO, Takashi       2
     17          SPRENGER, Nicholas       1
     18          OKUMURA, Yoshihiro       1
     19              PARRY, Stephen       1
     20               PEARSON, Todd       1
     21              ZASTROW, Mitja       1
     22          PELLICIARI, Matteo       1
     23              WOODWARD, Gabe       1
     24            SERDINOV, Andriy       1
     25                 VENDT, Erik       1
     26      ROSOLINO, Massimiliano       1
     27        VEENS, Mark Hermanus       1
     28            RUPPRATH, Thomas       1
     29           VANDERKAAY, Peter       1
     30            TOWNSEND, Darian       1
     31              STEVENS, Craig       1
     32              NEETHLING, Ryk       1
     33              BOVELL, George       1
     34                MEEUW, Helge       1
     35        FLOREA, Razvan Ionut       1
     36       CAPPELLAZZO, Federico       1
     37             CERCATO, Simone       1
     38                CONRAD, Lars       1
     39                CSEH, Laszlo       1
     40               DAVIES, David       1
     41              DRAGANJA, Duje       1
     42            DRIESEN, Steffen       1
     43             DUBOSCQ, Hugues       1
     44                DUSING, Nate       1
     45               FERNS, Lyndon       1
     46              GANGLOFF, Mark       1
     47           MATKOVICH, Antony       1
     48            GOLDBLATT, Scott       1
     49              GYURTA, Daniel       1
     50              JENSEN, Larsen       1
     51             KENKHUIS, Johan       1
     52                KETCHUM, Dan       1
     53               KLIM, Michael       1
     54          KRAYZELBURG, Lenny       1
     55                KRUPPA, Jens       1
     56         BREMBILLA, Emiliano       1
     57            MAGNINI, Filippo       1
     58         ZWERING, Klaas-Erik       1
2008 0              PHELPS, Michael       8
     1                 LOCHTE, Ryan       4
     2               BERNARD, Alain       3
     3              SULLIVAN, Eamon       3
     4          LAUTERSTEIN, Andrew       3
     5                GREVERS, Matt       3
     6                 LEZAK, Jason       3
     7                 CSEH, Laszlo       3
     8             KITAJIMA, Kosuke       3
     9               PEIRSOL, Aaron       3
     10            RICKARD, Brenton       2
     11             LEVEAUX, Amaury       2
     12              HACKETT, Grant       2
     13            STOECKEL, Hayden       2
     14               TARGETT, Matt       2
     15             DUBOSCQ, Hugues       2
     16           VANDERKAAY, Peter       2
     17               PARK, Taehwan       2
     18          CIELO FILHO, Cesar       2
     19          VYATCHANIN, Arkady       2
     20               BRODIE, Leith       2
     21         WEBER-GALE, Garrett       2
     22             MURPHY, Patrick       2
     23         OEN, Alexander Dale       1
     24                PALMER, Kirk       1
     25              ADRIAN, Nathan       1
     26                  PINE, Adam       1
     27         POLISHCHUK, Mikhail       1
     28             SATO, Hisayoshi       1
     29         SPRENGER, Christian       1
     30          MIYASHITA, Junichi       1
     31       SUKHORUKOV, Alexander       1
     32    VAN DER WEIJDEN, Maarten       1
     33                 VENDT, Erik       1
     34              WALTERS, David       1
     35       WILDMAN-TOBRINER, Ben       1
     36             STEIMETZ, Boris       1
     37           LOBINTSEV, Nikita       1
     38           MELLOULI, Oussama       1
     39            MATSUDA, Takeshi       1
     40         BOUSQUET, Frederick       1
     41                BRITS, Grant       1
     42              CALLUS, Ashley       1
     43              CAVIC, Milorad       1
     44              COCHRANE, Ryan       1
     45                CROCKER, Ian       1
     46               DAVIES, David       1
     47             DELANEY, Ashley       1
     48                FFROST, Nick       1
     49               FUJII, Takuro       1
     50              GANGLOFF, Mark       1
     51               GILOT, Fabien       1
     52             HANSEN, Brendan       1
     53              IZOTOV, Danila       1
     54              JENSEN, Larsen       1
     55               JONES, Cullen       1
     56               KELLER, Klete       1
     57            LAGUNOV, Evgeniy       1
     58               BERENS, Ricky       1
     59                LURZ, Thomas       1
     60             MALLET, Gregory       1
     61                  ZHANG, Lin       1

In [8]:
pd.concat([men2004, men2008], ignore_index=True, keys=None)

                        Athlete  Medals
0               PHELPS, Michael       8
1                   THORPE, Ian       4
2              SCHOEMAN, Roland       3
3                PEIRSOL, Aaron       3
4                  CROCKER, Ian       3
5              KITAJIMA, Kosuke       3
6               HANSEN, Brendan       3
7    VAN DEN HOOGENBAND, Pieter       3
8                HACKETT, Grant       3
9                MORITA, Tomomi       2
10                 LEZAK, Jason       2
11                ROGAN, Markus       2
12                KELLER, Klete       2
13               HALL, Gary Jr.       2
14                 LOCHTE, Ryan       2
15                 WALKER, Neil       2
16            YAMAMOTO, Takashi       2
17           SPRENGER, Nicholas       1
18           OKUMURA, Yoshihiro       1
19               PARRY, Stephen       1
20                PEARSON, Todd       1
21               ZASTROW, Mitja       1
22           PELLICIARI, Matteo       1
23               WOODWARD, Gabe       1
24             SERDINOV, Andriy       1
25                  VENDT, Erik       1
26       ROSOLINO, Massimiliano       1
27         VEENS, Mark Hermanus       1
28             RUPPRATH, Thomas       1
29            VANDERKAAY, Peter       1
30             TOWNSEND, Darian       1
31               STEVENS, Craig       1
32               NEETHLING, Ryk       1
33               BOVELL, George       1
34                 MEEUW, Helge       1
35         FLOREA, Razvan Ionut       1
36        CAPPELLAZZO, Federico       1
37              CERCATO, Simone       1
38                 CONRAD, Lars       1
39                 CSEH, Laszlo       1
40                DAVIES, David       1
41               DRAGANJA, Duje       1
42             DRIESEN, Steffen       1
43              DUBOSCQ, Hugues       1
44                 DUSING, Nate       1
45                FERNS, Lyndon       1
46               GANGLOFF, Mark       1
47            MATKOVICH, Antony       1
48             GOLDBLATT, Scott       1
49               GYURTA, Daniel       1
50               JENSEN, Larsen       1
51              KENKHUIS, Johan       1
52                 KETCHUM, Dan       1
53                KLIM, Michael       1
54           KRAYZELBURG, Lenny       1
55                 KRUPPA, Jens       1
56          BREMBILLA, Emiliano       1
57             MAGNINI, Filippo       1
58          ZWERING, Klaas-Erik       1
59              PHELPS, Michael       8
60                 LOCHTE, Ryan       4
61               BERNARD, Alain       3
62              SULLIVAN, Eamon       3
63          LAUTERSTEIN, Andrew       3
64                GREVERS, Matt       3
65                 LEZAK, Jason       3
66                 CSEH, Laszlo       3
67             KITAJIMA, Kosuke       3
68               PEIRSOL, Aaron       3
69             RICKARD, Brenton       2
70              LEVEAUX, Amaury       2
71               HACKETT, Grant       2
72             STOECKEL, Hayden       2
73                TARGETT, Matt       2
74              DUBOSCQ, Hugues       2
75            VANDERKAAY, Peter       2
76                PARK, Taehwan       2
77           CIELO FILHO, Cesar       2
78           VYATCHANIN, Arkady       2
79                BRODIE, Leith       2
80          WEBER-GALE, Garrett       2
81              MURPHY, Patrick       2
82          OEN, Alexander Dale       1
83                 PALMER, Kirk       1
84               ADRIAN, Nathan       1
85                   PINE, Adam       1
86          POLISHCHUK, Mikhail       1
87              SATO, Hisayoshi       1
88          SPRENGER, Christian       1
89           MIYASHITA, Junichi       1
90        SUKHORUKOV, Alexander       1
91     VAN DER WEIJDEN, Maarten       1
92                  VENDT, Erik       1
93               WALTERS, David       1
94        WILDMAN-TOBRINER, Ben       1
95              STEIMETZ, Boris       1
96            LOBINTSEV, Nikita       1
97            MELLOULI, Oussama       1
98             MATSUDA, Takeshi       1
99          BOUSQUET, Frederick       1
100                BRITS, Grant       1
101              CALLUS, Ashley       1
102              CAVIC, Milorad       1
103              COCHRANE, Ryan       1
104                CROCKER, Ian       1
105               DAVIES, David       1
106             DELANEY, Ashley       1
107                FFROST, Nick       1
108               FUJII, Takuro       1
109              GANGLOFF, Mark       1
110               GILOT, Fabien       1
111             HANSEN, Brendan       1
112              IZOTOV, Danila       1
113              JENSEN, Larsen       1
114               JONES, Cullen       1
115               KELLER, Klete       1
116            LAGUNOV, Evgeniy       1
117               BERENS, Ricky       1
118                LURZ, Thomas       1
119             MALLET, Gregory       1
120                  ZHANG, Lin       1

In [9]:
men0408 = pd.concat([men2004, men2008], ignore_index=False, keys=[2004, 2008], names=["Year"])

In [10]:
men0408

                            Athlete  Medals
Year
2004 0              PHELPS, Michael       8
     1                  THORPE, Ian       4
     2             SCHOEMAN, Roland       3
     3               PEIRSOL, Aaron       3
     4                 CROCKER, Ian       3
     5             KITAJIMA, Kosuke       3
     6              HANSEN, Brendan       3
     7   VAN DEN HOOGENBAND, Pieter       3
     8               HACKETT, Grant       3
     9               MORITA, Tomomi       2
     10                LEZAK, Jason       2
     11               ROGAN, Markus       2
     12               KELLER, Klete       2
     13              HALL, Gary Jr.       2
     14                LOCHTE, Ryan       2
     15                WALKER, Neil       2
     16           YAMAMOTO, Takashi       2
     17          SPRENGER, Nicholas       1
     18          OKUMURA, Yoshihiro       1
     19              PARRY, Stephen       1
     20               PEARSON, Todd       1
     21              ZASTROW, Mitja       1
     22          PELLICIARI, Matteo       1
     23              WOODWARD, Gabe       1
     24            SERDINOV, Andriy       1
     25                 VENDT, Erik       1
     26      ROSOLINO, Massimiliano       1
     27        VEENS, Mark Hermanus       1
     28            RUPPRATH, Thomas       1
     29           VANDERKAAY, Peter       1
     30            TOWNSEND, Darian       1
     31              STEVENS, Craig       1
     32              NEETHLING, Ryk       1
     33              BOVELL, George       1
     34                MEEUW, Helge       1
     35        FLOREA, Razvan Ionut       1
     36       CAPPELLAZZO, Federico       1
     37             CERCATO, Simone       1
     38                CONRAD, Lars       1
     39                CSEH, Laszlo       1
     40               DAVIES, David       1
     41              DRAGANJA, Duje       1
     42            DRIESEN, Steffen       1
     43             DUBOSCQ, Hugues       1
     44                DUSING, Nate       1
     45               FERNS, Lyndon       1
     46              GANGLOFF, Mark       1
     47           MATKOVICH, Antony       1
     48            GOLDBLATT, Scott       1
     49              GYURTA, Daniel       1
     50              JENSEN, Larsen       1
     51             KENKHUIS, Johan       1
     52                KETCHUM, Dan       1
     53               KLIM, Michael       1
     54          KRAYZELBURG, Lenny       1
     55                KRUPPA, Jens       1
     56         BREMBILLA, Emiliano       1
     57            MAGNINI, Filippo       1
     58         ZWERING, Klaas-Erik       1
2008 0              PHELPS, Michael       8
     1                 LOCHTE, Ryan       4
     2               BERNARD, Alain       3
     3              SULLIVAN, Eamon       3
     4          LAUTERSTEIN, Andrew       3
     5                GREVERS, Matt       3
     6                 LEZAK, Jason       3
     7                 CSEH, Laszlo       3
     8             KITAJIMA, Kosuke       3
     9               PEIRSOL, Aaron       3
     10            RICKARD, Brenton       2
     11             LEVEAUX, Amaury       2
     12              HACKETT, Grant       2
     13            STOECKEL, Hayden       2
     14               TARGETT, Matt       2
     15             DUBOSCQ, Hugues       2
     16           VANDERKAAY, Peter       2
     17               PARK, Taehwan       2
     18          CIELO FILHO, Cesar       2
     19          VYATCHANIN, Arkady       2
     20               BRODIE, Leith       2
     21         WEBER-GALE, Garrett       2
     22             MURPHY, Patrick       2
     23         OEN, Alexander Dale       1
     24                PALMER, Kirk       1
     25              ADRIAN, Nathan       1
     26                  PINE, Adam       1
     27         POLISHCHUK, Mikhail       1
     28             SATO, Hisayoshi       1
     29         SPRENGER, Christian       1
     30          MIYASHITA, Junichi       1
     31       SUKHORUKOV, Alexander       1
     32    VAN DER WEIJDEN, Maarten       1
     33                 VENDT, Erik       1
     34              WALTERS, David       1
     35       WILDMAN-TOBRINER, Ben       1
     36             STEIMETZ, Boris       1
     37           LOBINTSEV, Nikita       1
     38           MELLOULI, Oussama       1
     39            MATSUDA, Takeshi       1
     40         BOUSQUET, Frederick       1
     41                BRITS, Grant       1
     42              CALLUS, Ashley       1
     43              CAVIC, Milorad       1
     44              COCHRANE, Ryan       1
     45                CROCKER, Ian       1
     46               DAVIES, David       1
     47             DELANEY, Ashley       1
     48                FFROST, Nick       1
     49               FUJII, Takuro       1
     50              GANGLOFF, Mark       1
     51               GILOT, Fabien       1
     52             HANSEN, Brendan       1
     53              IZOTOV, Danila       1
     54              JENSEN, Larsen       1
     55               JONES, Cullen       1
     56               KELLER, Klete       1
     57            LAGUNOV, Evgeniy       1
     58               BERENS, Ricky       1
     59                LURZ, Thomas       1
     60             MALLET, Gregory       1
     61                  ZHANG, Lin       1

In [11]:
men0408.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 121 entries, (2004, 0) to (2008, 61)
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Athlete  121 non-null    object
 1   Medals   121 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.7+ KB

###### Now we can decide to play with our index to suit our preference

###### Example

In [12]:
men0408.reset_index()

     Year  level_1                     Athlete  Medals
0    2004        0             PHELPS, Michael       8
1    2004        1                 THORPE, Ian       4
2    2004        2            SCHOEMAN, Roland       3
3    2004        3              PEIRSOL, Aaron       3
4    2004        4                CROCKER, Ian       3
5    2004        5            KITAJIMA, Kosuke       3
6    2004        6             HANSEN, Brendan       3
7    2004        7  VAN DEN HOOGENBAND, Pieter       3
8    2004        8              HACKETT, Grant       3
9    2004        9              MORITA, Tomomi       2
10   2004       10                LEZAK, Jason       2
11   2004       11               ROGAN, Markus       2
12   2004       12               KELLER, Klete       2
13   2004       13              HALL, Gary Jr.       2
14   2004       14                LOCHTE, Ryan       2
15   2004       15                WALKER, Neil       2
16   2004       16           YAMAMOTO, Takashi       2
17   2004       17          SPRENGER, Nicholas       1
18   2004       18          OKUMURA, Yoshihiro       1
19   2004       19              PARRY, Stephen       1
20   2004       20               PEARSON, Todd       1
21   2004       21              ZASTROW, Mitja       1
22   2004       22          PELLICIARI, Matteo       1
23   2004       23              WOODWARD, Gabe       1
24   2004       24            SERDINOV, Andriy       1
25   2004       25                 VENDT, Erik       1
26   2004       26      ROSOLINO, Massimiliano       1
27   2004       27        VEENS, Mark Hermanus       1
28   2004       28            RUPPRATH, Thomas       1
29   2004       29           VANDERKAAY, Peter       1
30   2004       30            TOWNSEND, Darian       1
31   2004       31              STEVENS, Craig       1
32   2004       32              NEETHLING, Ryk       1
33   2004       33              BOVELL, George       1
34   2004       34                MEEUW, Helge       1
35   2004       35        FLOREA, Razvan Ionut       1
36   2004       36       CAPPELLAZZO, Federico       1
37   2004       37             CERCATO, Simone       1
38   2004       38                CONRAD, Lars       1
39   2004       39                CSEH, Laszlo       1
40   2004       40               DAVIES, David       1
41   2004       41              DRAGANJA, Duje       1
42   2004       42            DRIESEN, Steffen       1
43   2004       43             DUBOSCQ, Hugues       1
44   2004       44                DUSING, Nate       1
45   2004       45               FERNS, Lyndon       1
46   2004       46              GANGLOFF, Mark       1
47   2004       47           MATKOVICH, Antony       1
48   2004       48            GOLDBLATT, Scott       1
49   2004       49              GYURTA, Daniel       1
50   2004       50              JENSEN, Larsen       1
51   2004       51             KENKHUIS, Johan       1
52   2004       52                KETCHUM, Dan       1
53   2004       53               KLIM, Michael       1
54   2004       54          KRAYZELBURG, Lenny       1
55   2004       55                KRUPPA, Jens       1
56   2004       56         BREMBILLA, Emiliano       1
57   2004       57            MAGNINI, Filippo       1
58   2004       58         ZWERING, Klaas-Erik       1
59   2008        0             PHELPS, Michael       8
60   2008        1                LOCHTE, Ryan       4
61   2008        2              BERNARD, Alain       3
62   2008        3             SULLIVAN, Eamon       3
63   2008        4         LAUTERSTEIN, Andrew       3
64   2008        5               GREVERS, Matt       3
65   2008        6                LEZAK, Jason       3
66   2008        7                CSEH, Laszlo       3
67   2008        8            KITAJIMA, Kosuke       3
68   2008        9              PEIRSOL, Aaron       3
69   2008       10            RICKARD, Brenton       2
70   2008       11             LEVEAUX, Amaury       2
71   2008       12              HACKETT, Grant       2
72   2008       13            STOECKEL, Hayden       2
73   2008       14               TARGETT, Matt       2
74   2008       15             DUBOSCQ, Hugues       2
75   2008       16           VANDERKAAY, Peter       2
76   2008       17               PARK, Taehwan       2
77   2008       18          CIELO FILHO, Cesar       2
78   2008       19          VYATCHANIN, Arkady       2
79   2008       20               BRODIE, Leith       2
80   2008       21         WEBER-GALE, Garrett       2
81   2008       22             MURPHY, Patrick       2
82   2008       23         OEN, Alexander Dale       1
83   2008       24                PALMER, Kirk       1
84   2008       25              ADRIAN, Nathan       1
85   2008       26                  PINE, Adam       1
86   2008       27         POLISHCHUK, Mikhail       1
87   2008       28             SATO, Hisayoshi       1
88   2008       29         SPRENGER, Christian       1
89   2008       30          MIYASHITA, Junichi       1
90   2008       31       SUKHORUKOV, Alexander       1
91   2008       32    VAN DER WEIJDEN, Maarten       1
92   2008       33                 VENDT, Erik       1
93   2008       34              WALTERS, David       1
94   2008       35       WILDMAN-TOBRINER, Ben       1
95   2008       36             STEIMETZ, Boris       1
96   2008       37           LOBINTSEV, Nikita       1
97   2008       38           MELLOULI, Oussama       1
98   2008       39            MATSUDA, Takeshi       1
99   2008       40         BOUSQUET, Frederick       1
100  2008       41                BRITS, Grant       1
101  2008       42              CALLUS, Ashley       1
102  2008       43              CAVIC, Milorad       1
103  2008       44              COCHRANE, Ryan       1
104  2008       45                CROCKER, Ian       1
105  2008       46               DAVIES, David       1
106  2008       47             DELANEY, Ashley       1
107  2008       48                FFROST, Nick       1
108  2008       49               FUJII, Takuro       1
109  2008       50              GANGLOFF, Mark       1
110  2008       51               GILOT, Fabien       1
111  2008       52             HANSEN, Brendan       1
112  2008       53              IZOTOV, Danila       1
113  2008       54              JENSEN, Larsen       1
114  2008       55               JONES, Cullen       1
115  2008       56               KELLER, Klete       1
116  2008       57            LAGUNOV, Evgeniy       1
117  2008       58               BERENS, Ricky       1
118  2008       59                LURZ, Thomas       1
119  2008       60             MALLET, Gregory       1
120  2008       61                  ZHANG, Lin       1

In [13]:
men0408.reset_index().drop(columns="level_1")

     Year                     Athlete  Medals
0    2004             PHELPS, Michael       8
1    2004                 THORPE, Ian       4
2    2004            SCHOEMAN, Roland       3
3    2004              PEIRSOL, Aaron       3
4    2004                CROCKER, Ian       3
5    2004            KITAJIMA, Kosuke       3
6    2004             HANSEN, Brendan       3
7    2004  VAN DEN HOOGENBAND, Pieter       3
8    2004              HACKETT, Grant       3
9    2004              MORITA, Tomomi       2
10   2004                LEZAK, Jason       2
11   2004               ROGAN, Markus       2
12   2004               KELLER, Klete       2
13   2004              HALL, Gary Jr.       2
14   2004                LOCHTE, Ryan       2
15   2004                WALKER, Neil       2
16   2004           YAMAMOTO, Takashi       2
17   2004          SPRENGER, Nicholas       1
18   2004          OKUMURA, Yoshihiro       1
19   2004              PARRY, Stephen       1
20   2004               PEARSON, Todd       1
21   2004              ZASTROW, Mitja       1
22   2004          PELLICIARI, Matteo       1
23   2004              WOODWARD, Gabe       1
24   2004            SERDINOV, Andriy       1
25   2004                 VENDT, Erik       1
26   2004      ROSOLINO, Massimiliano       1
27   2004        VEENS, Mark Hermanus       1
28   2004            RUPPRATH, Thomas       1
29   2004           VANDERKAAY, Peter       1
30   2004            TOWNSEND, Darian       1
31   2004              STEVENS, Craig       1
32   2004              NEETHLING, Ryk       1
33   2004              BOVELL, George       1
34   2004                MEEUW, Helge       1
35   2004        FLOREA, Razvan Ionut       1
36   2004       CAPPELLAZZO, Federico       1
37   2004             CERCATO, Simone       1
38   2004                CONRAD, Lars       1
39   2004                CSEH, Laszlo       1
40   2004               DAVIES, David       1
41   2004              DRAGANJA, Duje       1
42   2004            DRIESEN, Steffen       1
43   2004             DUBOSCQ, Hugues       1
44   2004                DUSING, Nate       1
45   2004               FERNS, Lyndon       1
46   2004              GANGLOFF, Mark       1
47   2004           MATKOVICH, Antony       1
48   2004            GOLDBLATT, Scott       1
49   2004              GYURTA, Daniel       1
50   2004              JENSEN, Larsen       1
51   2004             KENKHUIS, Johan       1
52   2004                KETCHUM, Dan       1
53   2004               KLIM, Michael       1
54   2004          KRAYZELBURG, Lenny       1
55   2004                KRUPPA, Jens       1
56   2004         BREMBILLA, Emiliano       1
57   2004            MAGNINI, Filippo       1
58   2004         ZWERING, Klaas-Erik       1
59   2008             PHELPS, Michael       8
60   2008                LOCHTE, Ryan       4
61   2008              BERNARD, Alain       3
62   2008             SULLIVAN, Eamon       3
63   2008         LAUTERSTEIN, Andrew       3
64   2008               GREVERS, Matt       3
65   2008                LEZAK, Jason       3
66   2008                CSEH, Laszlo       3
67   2008            KITAJIMA, Kosuke       3
68   2008              PEIRSOL, Aaron       3
69   2008            RICKARD, Brenton       2
70   2008             LEVEAUX, Amaury       2
71   2008              HACKETT, Grant       2
72   2008            STOECKEL, Hayden       2
73   2008               TARGETT, Matt       2
74   2008             DUBOSCQ, Hugues       2
75   2008           VANDERKAAY, Peter       2
76   2008               PARK, Taehwan       2
77   2008          CIELO FILHO, Cesar       2
78   2008          VYATCHANIN, Arkady       2
79   2008               BRODIE, Leith       2
80   2008         WEBER-GALE, Garrett       2
81   2008             MURPHY, Patrick       2
82   2008         OEN, Alexander Dale       1
83   2008                PALMER, Kirk       1
84   2008              ADRIAN, Nathan       1
85   2008                  PINE, Adam       1
86   2008         POLISHCHUK, Mikhail       1
87   2008             SATO, Hisayoshi       1
88   2008         SPRENGER, Christian       1
89   2008          MIYASHITA, Junichi       1
90   2008       SUKHORUKOV, Alexander       1
91   2008    VAN DER WEIJDEN, Maarten       1
92   2008                 VENDT, Erik       1
93   2008              WALTERS, David       1
94   2008       WILDMAN-TOBRINER, Ben       1
95   2008             STEIMETZ, Boris       1
96   2008           LOBINTSEV, Nikita       1
97   2008           MELLOULI, Oussama       1
98   2008            MATSUDA, Takeshi       1
99   2008         BOUSQUET, Frederick       1
100  2008                BRITS, Grant       1
101  2008              CALLUS, Ashley       1
102  2008              CAVIC, Milorad       1
103  2008              COCHRANE, Ryan       1
104  2008                CROCKER, Ian       1
105  2008               DAVIES, David       1
106  2008             DELANEY, Ashley       1
107  2008                FFROST, Nick       1
108  2008               FUJII, Takuro       1
109  2008              GANGLOFF, Mark       1
110  2008               GILOT, Fabien       1
111  2008             HANSEN, Brendan       1
112  2008              IZOTOV, Danila       1
113  2008              JENSEN, Larsen       1
114  2008               JONES, Cullen       1
115  2008               KELLER, Klete       1
116  2008            LAGUNOV, Evgeniy       1
117  2008               BERENS, Ricky       1
118  2008                LURZ, Thomas       1
119  2008             MALLET, Gregory       1
120  2008                  ZHANG, Lin       1

# Concatenating rows

### Note:Both dataset being concantenated must have equal number and matching columns

In [14]:
men2004.head()

            Athlete  Medals
0   PHELPS, Michael       8
1       THORPE, Ian       4
2  SCHOEMAN, Roland       3
3    PEIRSOL, Aaron       3
4      CROCKER, Ian       3

In [15]:
men2008.head()

               Athlete  Medals
0      PHELPS, Michael       8
1         LOCHTE, Ryan       4
2       BERNARD, Alain       3
3      SULLIVAN, Eamon       3
4  LAUTERSTEIN, Andrew       3

In [16]:
#Lets add an extra column on men2004 dataset
men2004["Success"] = "Yes"

In [17]:
men2004.head()

            Athlete  Medals Success
0   PHELPS, Michael       8     Yes
1       THORPE, Ian       4     Yes
2  SCHOEMAN, Roland       3     Yes
3    PEIRSOL, Aaron       3     Yes
4      CROCKER, Ian       3     Yes

In [18]:
#Let now try to concatenate
pd.concat([men2004, men2008], ignore_index=False, keys=[2004, 2008], names=["Year"])

                            Athlete  Medals Success
Year
2004 0              PHELPS, Michael       8     Yes
     1                  THORPE, Ian       4     Yes
     2             SCHOEMAN, Roland       3     Yes
     3               PEIRSOL, Aaron       3     Yes
     4                 CROCKER, Ian       3     Yes
     5             KITAJIMA, Kosuke       3     Yes
     6              HANSEN, Brendan       3     Yes
     7   VAN DEN HOOGENBAND, Pieter       3     Yes
     8               HACKETT, Grant       3     Yes
     9               MORITA, Tomomi       2     Yes
     10                LEZAK, Jason       2     Yes
     11               ROGAN, Markus       2     Yes
     12               KELLER, Klete       2     Yes
     13              HALL, Gary Jr.       2     Yes
     14                LOCHTE, Ryan       2     Yes
     15                WALKER, Neil       2     Yes
     16           YAMAMOTO, Takashi       2     Yes
     17          SPRENGER, Nicholas       1     Yes
     18          OKUMURA, Yoshihiro       1     Yes
     19              PARRY, Stephen       1     Yes
     20               PEARSON, Todd       1     Yes
     21              ZASTROW, Mitja       1     Yes
     22          PELLICIARI, Matteo       1     Yes
     23              WOODWARD, Gabe       1     Yes
     24            SERDINOV, Andriy       1     Yes
     25                 VENDT, Erik       1     Yes
     26      ROSOLINO, Massimiliano       1     Yes
     27        VEENS, Mark Hermanus       1     Yes
     28            RUPPRATH, Thomas       1     Yes
     29           VANDERKAAY, Peter       1     Yes
     30            TOWNSEND, Darian       1     Yes
     31              STEVENS, Craig       1     Yes
     32              NEETHLING, Ryk       1     Yes
     33              BOVELL, George       1     Yes
     34                MEEUW, Helge       1     Yes
     35        FLOREA, Razvan Ionut       1     Yes
     36       CAPPELLAZZO, Federico       1     Yes
     37             CERCATO, Simone       1     Yes
     38                CONRAD, Lars       1     Yes
     39                CSEH, Laszlo       1     Yes
     40               DAVIES, David       1     Yes
     41              DRAGANJA, Duje       1     Yes
     42            DRIESEN, Steffen       1     Yes
     43             DUBOSCQ, Hugues       1     Yes
     44                DUSING, Nate       1     Yes
     45               FERNS, Lyndon       1     Yes
     46              GANGLOFF, Mark       1     Yes
     47           MATKOVICH, Antony       1     Yes
     48            GOLDBLATT, Scott       1     Yes
     49              GYURTA, Daniel       1     Yes
     50              JENSEN, Larsen       1     Yes
     51             KENKHUIS, Johan       1     Yes
     52                KETCHUM, Dan       1     Yes
     53               KLIM, Michael       1     Yes
     54          KRAYZELBURG, Lenny       1     Yes
     55                KRUPPA, Jens       1     Yes
     56         BREMBILLA, Emiliano       1     Yes
     57            MAGNINI, Filippo       1     Yes
     58         ZWERING, Klaas-Erik       1     Yes
2008 0              PHELPS, Michael       8     NaN
     1                 LOCHTE, Ryan       4     NaN
     2               BERNARD, Alain       3     NaN
     3              SULLIVAN, Eamon       3     NaN
     4          LAUTERSTEIN, Andrew       3     NaN
     5                GREVERS, Matt       3     NaN
     6                 LEZAK, Jason       3     NaN
     7                 CSEH, Laszlo       3     NaN
     8             KITAJIMA, Kosuke       3     NaN
     9               PEIRSOL, Aaron       3     NaN
     10            RICKARD, Brenton       2     NaN
     11             LEVEAUX, Amaury       2     NaN
     12              HACKETT, Grant       2     NaN
     13            STOECKEL, Hayden       2     NaN
     14               TARGETT, Matt       2     NaN
     15             DUBOSCQ, Hugues       2     NaN
     16           VANDERKAAY, Peter       2     NaN
     17               PARK, Taehwan       2     NaN
     18          CIELO FILHO, Cesar       2     NaN
     19          VYATCHANIN, Arkady       2     NaN
     20               BRODIE, Leith       2     NaN
     21         WEBER-GALE, Garrett       2     NaN
     22             MURPHY, Patrick       2     NaN
     23         OEN, Alexander Dale       1     NaN
     24                PALMER, Kirk       1     NaN
     25              ADRIAN, Nathan       1     NaN
     26                  PINE, Adam       1     NaN
     27         POLISHCHUK, Mikhail       1     NaN
     28             SATO, Hisayoshi       1     NaN
     29         SPRENGER, Christian       1     NaN
     30          MIYASHITA, Junichi       1     NaN
     31       SUKHORUKOV, Alexander       1     NaN
     32    VAN DER WEIJDEN, Maarten       1     NaN
     33                 VENDT, Erik       1     NaN
     34              WALTERS, David       1     NaN
     35       WILDMAN-TOBRINER, Ben       1     NaN
     36             STEIMETZ, Boris       1     NaN
     37           LOBINTSEV, Nikita       1     NaN
     38           MELLOULI, Oussama       1     NaN
     39            MATSUDA, Takeshi       1     NaN
     40         BOUSQUET, Frederick       1     NaN
     41                BRITS, Grant       1     NaN
     42              CALLUS, Ashley       1     NaN
     43              CAVIC, Milorad       1     NaN
     44              COCHRANE, Ryan       1     NaN
     45                CROCKER, Ian       1     NaN
     46               DAVIES, David       1     NaN
     47             DELANEY, Ashley       1     NaN
     48                FFROST, Nick       1     NaN
     49               FUJII, Takuro       1     NaN
     50              GANGLOFF, Mark       1     NaN
     51               GILOT, Fabien       1     NaN
     52             HANSEN, Brendan       1     NaN
     53              IZOTOV, Danila       1     NaN
     54              JENSEN, Larsen       1     NaN
     55               JONES, Cullen       1     NaN
     56               KELLER, Klete       1     NaN
     57            LAGUNOV, Evgeniy       1     NaN
     58               BERENS, Ricky       1     NaN
     59                LURZ, Thomas       1     NaN
     60             MALLET, Gregory       1     NaN
     61                  ZHANG, Lin       1     NaN

In [19]:
pd.concat([men2004, men2008], ignore_index=False, keys=[2004, 2008], names=["Year"]).drop(columns="Success")

                            Athlete  Medals
Year
2004 0              PHELPS, Michael       8
     1                  THORPE, Ian       4
     2             SCHOEMAN, Roland       3
     3               PEIRSOL, Aaron       3
     4                 CROCKER, Ian       3
     5             KITAJIMA, Kosuke       3
     6              HANSEN, Brendan       3
     7   VAN DEN HOOGENBAND, Pieter       3
     8               HACKETT, Grant       3
     9               MORITA, Tomomi       2
     10                LEZAK, Jason       2
     11               ROGAN, Markus       2
     12               KELLER, Klete       2
     13              HALL, Gary Jr.       2
     14                LOCHTE, Ryan       2
     15                WALKER, Neil       2
     16           YAMAMOTO, Takashi       2
     17          SPRENGER, Nicholas       1
     18          OKUMURA, Yoshihiro       1
     19              PARRY, Stephen       1
     20               PEARSON, Todd       1
     21              ZASTROW, Mitja       1
     22          PELLICIARI, Matteo       1
     23              WOODWARD, Gabe       1
     24            SERDINOV, Andriy       1
     25                 VENDT, Erik       1
     26      ROSOLINO, Massimiliano       1
     27        VEENS, Mark Hermanus       1
     28            RUPPRATH, Thomas       1
     29           VANDERKAAY, Peter       1
     30            TOWNSEND, Darian       1
     31              STEVENS, Craig       1
     32              NEETHLING, Ryk       1
     33              BOVELL, George       1
     34                MEEUW, Helge       1
     35        FLOREA, Razvan Ionut       1
     36       CAPPELLAZZO, Federico       1
     37             CERCATO, Simone       1
     38                CONRAD, Lars       1
     39                CSEH, Laszlo       1
     40               DAVIES, David       1
     41              DRAGANJA, Duje       1
     42            DRIESEN, Steffen       1
     43             DUBOSCQ, Hugues       1
     44                DUSING, Nate       1
     45               FERNS, Lyndon       1
     46              GANGLOFF, Mark       1
     47           MATKOVICH, Antony       1
     48            GOLDBLATT, Scott       1
     49              GYURTA, Daniel       1
     50              JENSEN, Larsen       1
     51             KENKHUIS, Johan       1
     52                KETCHUM, Dan       1
     53               KLIM, Michael       1
     54          KRAYZELBURG, Lenny       1
     55                KRUPPA, Jens       1
     56         BREMBILLA, Emiliano       1
     57            MAGNINI, Filippo       1
     58         ZWERING, Klaas-Erik       1
2008 0              PHELPS, Michael       8
     1                 LOCHTE, Ryan       4
     2               BERNARD, Alain       3
     3              SULLIVAN, Eamon       3
     4          LAUTERSTEIN, Andrew       3
     5                GREVERS, Matt       3
     6                 LEZAK, Jason       3
     7                 CSEH, Laszlo       3
     8             KITAJIMA, Kosuke       3
     9               PEIRSOL, Aaron       3
     10            RICKARD, Brenton       2
     11             LEVEAUX, Amaury       2
     12              HACKETT, Grant       2
     13            STOECKEL, Hayden       2
     14               TARGETT, Matt       2
     15             DUBOSCQ, Hugues       2
     16           VANDERKAAY, Peter       2
     17               PARK, Taehwan       2
     18          CIELO FILHO, Cesar       2
     19          VYATCHANIN, Arkady       2
     20               BRODIE, Leith       2
     21         WEBER-GALE, Garrett       2
     22             MURPHY, Patrick       2
     23         OEN, Alexander Dale       1
     24                PALMER, Kirk       1
     25              ADRIAN, Nathan       1
     26                  PINE, Adam       1
     27         POLISHCHUK, Mikhail       1
     28             SATO, Hisayoshi       1
     29         SPRENGER, Christian       1
     30          MIYASHITA, Junichi       1
     31       SUKHORUKOV, Alexander       1
     32    VAN DER WEIJDEN, Maarten       1
     33                 VENDT, Erik       1
     34              WALTERS, David       1
     35       WILDMAN-TOBRINER, Ben       1
     36             STEIMETZ, Boris       1
     37           LOBINTSEV, Nikita       1
     38           MELLOULI, Oussama       1
     39            MATSUDA, Takeshi       1
     40         BOUSQUET, Frederick       1
     41                BRITS, Grant       1
     42              CALLUS, Ashley       1
     43              CAVIC, Milorad       1
     44              COCHRANE, Ryan       1
     45                CROCKER, Ian       1
     46               DAVIES, David       1
     47             DELANEY, Ashley       1
     48                FFROST, Nick       1
     49               FUJII, Takuro       1
     50              GANGLOFF, Mark       1
     51               GILOT, Fabien       1
     52             HANSEN, Brendan       1
     53              IZOTOV, Danila       1
     54              JENSEN, Larsen       1
     55               JONES, Cullen       1
     56               KELLER, Klete       1
     57            LAGUNOV, Evgeniy       1
     58               BERENS, Ricky       1
     59                LURZ, Thomas       1
     60             MALLET, Gregory       1
     61                  ZHANG, Lin       1

# Arithmetic with Pandas data object

In [30]:
topfive_2004 = pd.read_csv("Data1/Course_Material_Part2/Video_Lecture_NBs/topfive_2004.csv", index_col = "Athlete")

In [31]:
topfive_2004

                  Gold  Silver  Bronze
Athlete
PHELPS, Michael    6.0     0.0     2.0
PEIRSOL, Aaron     3.0     0.0     0.0
THORPE, Ian        2.0     1.0     1.0
KITAJIMA, Kosuke   2.0     0.0     1.0
HACKETT, Grant     1.0     2.0     0.0

In [32]:
topfive_2008 = pd.read_csv("Data1/Course_Material_Part2/Video_Lecture_NBs/topfive_2008.csv", index_col = "Athlete")

In [33]:
topfive_2008

                  Gold  Silver  bronze
Athlete
PHELPS, Michael    8.0     0.0     0.0
GREVERS, Matt      2.0     1.0     0.0
PEIRSOL, Aaron     2.0     1.0     0.0
LOCHTE, Ryan       2.0     0.0     2.0
KITAJIMA, Kosuke   2.0     0.0     1.0

In [34]:
#Inspecting the two dataset we see that topfive_2008 has column bronze in lower case
#Let re-align the dataset before doing the arithmetic for better results
topfive_2008.rename(columns={"bronze" : "Bronze"}, inplace=True)

In [35]:
topfive_2008

                  Gold  Silver  Bronze
Athlete
PHELPS, Michael    8.0     0.0     0.0
GREVERS, Matt      2.0     1.0     0.0
PEIRSOL, Aaron     2.0     1.0     0.0
LOCHTE, Ryan       2.0     0.0     2.0
KITAJIMA, Kosuke   2.0     0.0     1.0

## Let now do the addition of the two dataet with add() Method

In [36]:
topfive_2004.add(topfive_2008, fill_value=0.0) #Fill NAN values with zero

                  Gold  Silver  Bronze
Athlete
GREVERS, Matt      2.0     1.0     0.0
HACKETT, Grant     1.0     2.0     0.0
KITAJIMA, Kosuke   4.0     0.0     2.0
LOCHTE, Ryan       2.0     0.0     2.0
PEIRSOL, Aaron     5.0     1.0     0.0
PHELPS, Michael   14.0     0.0     2.0
THORPE, Ian        2.0     1.0     1.0

In [37]:
topfive_2004.sub(topfive_2008, fill_value=0)

                  Gold  Silver  Bronze
Athlete
GREVERS, Matt     -2.0    -1.0     0.0
HACKETT, Grant     1.0     2.0     0.0
KITAJIMA, Kosuke   0.0     0.0     0.0
LOCHTE, Ryan      -2.0     0.0    -2.0
PEIRSOL, Aaron     1.0    -1.0     0.0
PHELPS, Michael   -2.0     0.0     2.0
THORPE, Ian        2.0     1.0     1.0