In [1]:
import pandas as pd

pd.options.display.max_rows = None

In [2]:
men2004 = pd.read_csv("Data1/Course_Material_Part2/Video_Lecture_NBs/men2004.csv")
men2008 = pd.read_csv("Data1/Course_Material_Part2/Video_Lecture_NBs/men2008.csv")

In [3]:
men2004.head()

            Athlete  Medals
0   PHELPS, Michael       8
1       THORPE, Ian       4
2  SCHOEMAN, Roland       3
3    PEIRSOL, Aaron       3
4      CROCKER, Ian       3

In [4]:
men2004.shape

(59, 2)

In [5]:
men2008.head()

               Athlete  Medals
0      PHELPS, Michael       8
1         LOCHTE, Ryan       4
2       BERNARD, Alain       3
3      SULLIVAN, Eamon       3
4  LAUTERSTEIN, Andrew       3

In [6]:
men2008.shape

(62, 2)

In [7]:
len(men2004) + len(men2008)

121

# Outer Join - Intersection

## That is: All athletes that atleast won one medal in both edition - men2004 & men2008

In [8]:
men2004.merge(men2008, how = "outer", on = "Athlete")

                        Athlete  Medals_x  Medals_y
0               PHELPS, Michael       8.0       8.0
1                   THORPE, Ian       4.0       NaN
2              SCHOEMAN, Roland       3.0       NaN
3                PEIRSOL, Aaron       3.0       3.0
4                  CROCKER, Ian       3.0       1.0
5              KITAJIMA, Kosuke       3.0       3.0
6               HANSEN, Brendan       3.0       1.0
7    VAN DEN HOOGENBAND, Pieter       3.0       NaN
8                HACKETT, Grant       3.0       2.0
9                MORITA, Tomomi       2.0       NaN
10                 LEZAK, Jason       2.0       3.0
11                ROGAN, Markus       2.0       NaN
12                KELLER, Klete       2.0       1.0
13               HALL, Gary Jr.       2.0       NaN
14                 LOCHTE, Ryan       2.0       4.0
15                 WALKER, Neil       2.0       NaN
16            YAMAMOTO, Takashi       2.0       NaN
17           SPRENGER, Nicholas       1.0       NaN
18           OKUMURA, Yoshihiro       1.0       NaN
19               PARRY, Stephen       1.0       NaN
20                PEARSON, Todd       1.0       NaN
21               ZASTROW, Mitja       1.0       NaN
22           PELLICIARI, Matteo       1.0       NaN
23               WOODWARD, Gabe       1.0       NaN
24             SERDINOV, Andriy       1.0       NaN
25                  VENDT, Erik       1.0       1.0
26       ROSOLINO, Massimiliano       1.0       NaN
27         VEENS, Mark Hermanus       1.0       NaN
28             RUPPRATH, Thomas       1.0       NaN
29            VANDERKAAY, Peter       1.0       2.0
30             TOWNSEND, Darian       1.0       NaN
31               STEVENS, Craig       1.0       NaN
32               NEETHLING, Ryk       1.0       NaN
33               BOVELL, George       1.0       NaN
34                 MEEUW, Helge       1.0       NaN
35         FLOREA, Razvan Ionut       1.0       NaN
36        CAPPELLAZZO, Federico       1.0       NaN
37              CERCATO, Simone       1.0       NaN
38                 CONRAD, Lars       1.0       NaN
39                 CSEH, Laszlo       1.0       3.0
40                DAVIES, David       1.0       1.0
41               DRAGANJA, Duje       1.0       NaN
42             DRIESEN, Steffen       1.0       NaN
43              DUBOSCQ, Hugues       1.0       2.0
44                 DUSING, Nate       1.0       NaN
45                FERNS, Lyndon       1.0       NaN
46               GANGLOFF, Mark       1.0       1.0
47            MATKOVICH, Antony       1.0       NaN
48             GOLDBLATT, Scott       1.0       NaN
49               GYURTA, Daniel       1.0       NaN
50               JENSEN, Larsen       1.0       1.0
51              KENKHUIS, Johan       1.0       NaN
52                 KETCHUM, Dan       1.0       NaN
53                KLIM, Michael       1.0       NaN
54           KRAYZELBURG, Lenny       1.0       NaN
55                 KRUPPA, Jens       1.0       NaN
56          BREMBILLA, Emiliano       1.0       NaN
57             MAGNINI, Filippo       1.0       NaN
58          ZWERING, Klaas-Erik       1.0       NaN
59               BERNARD, Alain       NaN       3.0
60              SULLIVAN, Eamon       NaN       3.0
61          LAUTERSTEIN, Andrew       NaN       3.0
62                GREVERS, Matt       NaN       3.0
63             RICKARD, Brenton       NaN       2.0
64              LEVEAUX, Amaury       NaN       2.0
65             STOECKEL, Hayden       NaN       2.0
66                TARGETT, Matt       NaN       2.0
67                PARK, Taehwan       NaN       2.0
68           CIELO FILHO, Cesar       NaN       2.0
69           VYATCHANIN, Arkady       NaN       2.0
70                BRODIE, Leith       NaN       2.0
71          WEBER-GALE, Garrett       NaN       2.0
72              MURPHY, Patrick       NaN       2.0
73          OEN, Alexander Dale       NaN       1.0
74                 PALMER, Kirk       NaN       1.0
75               ADRIAN, Nathan       NaN       1.0
76                   PINE, Adam       NaN       1.0
77          POLISHCHUK, Mikhail       NaN       1.0
78              SATO, Hisayoshi       NaN       1.0
79          SPRENGER, Christian       NaN       1.0
80           MIYASHITA, Junichi       NaN       1.0
81        SUKHORUKOV, Alexander       NaN       1.0
82     VAN DER WEIJDEN, Maarten       NaN       1.0
83               WALTERS, David       NaN       1.0
84        WILDMAN-TOBRINER, Ben       NaN       1.0
85              STEIMETZ, Boris       NaN       1.0
86            LOBINTSEV, Nikita       NaN       1.0
87            MELLOULI, Oussama       NaN       1.0
88             MATSUDA, Takeshi       NaN       1.0
89          BOUSQUET, Frederick       NaN       1.0
90                 BRITS, Grant       NaN       1.0
91               CALLUS, Ashley       NaN       1.0
92               CAVIC, Milorad       NaN       1.0
93               COCHRANE, Ryan       NaN       1.0
94              DELANEY, Ashley       NaN       1.0
95                 FFROST, Nick       NaN       1.0
96                FUJII, Takuro       NaN       1.0
97                GILOT, Fabien       NaN       1.0
98               IZOTOV, Danila       NaN       1.0
99                JONES, Cullen       NaN       1.0
100            LAGUNOV, Evgeniy       NaN       1.0
101               BERENS, Ricky       NaN       1.0
102                LURZ, Thomas       NaN       1.0
103             MALLET, Gregory       NaN       1.0
104                  ZHANG, Lin       NaN       1.0

In [9]:
men2004.merge(men2008, how = "outer", on = "Athlete", suffixes=("_2004", "_2008"))

                        Athlete  Medals_2004  Medals_2008
0               PHELPS, Michael          8.0          8.0
1                   THORPE, Ian          4.0          NaN
2              SCHOEMAN, Roland          3.0          NaN
3                PEIRSOL, Aaron          3.0          3.0
4                  CROCKER, Ian          3.0          1.0
5              KITAJIMA, Kosuke          3.0          3.0
6               HANSEN, Brendan          3.0          1.0
7    VAN DEN HOOGENBAND, Pieter          3.0          NaN
8                HACKETT, Grant          3.0          2.0
9                MORITA, Tomomi          2.0          NaN
10                 LEZAK, Jason          2.0          3.0
11                ROGAN, Markus          2.0          NaN
12                KELLER, Klete          2.0          1.0
13               HALL, Gary Jr.          2.0          NaN
14                 LOCHTE, Ryan          2.0          4.0
15                 WALKER, Neil          2.0          NaN
16            YAMAMOTO, Takashi          2.0          NaN
17           SPRENGER, Nicholas          1.0          NaN
18           OKUMURA, Yoshihiro          1.0          NaN
19               PARRY, Stephen          1.0          NaN
20                PEARSON, Todd          1.0          NaN
21               ZASTROW, Mitja          1.0          NaN
22           PELLICIARI, Matteo          1.0          NaN
23               WOODWARD, Gabe          1.0          NaN
24             SERDINOV, Andriy          1.0          NaN
25                  VENDT, Erik          1.0          1.0
26       ROSOLINO, Massimiliano          1.0          NaN
27         VEENS, Mark Hermanus          1.0          NaN
28             RUPPRATH, Thomas          1.0          NaN
29            VANDERKAAY, Peter          1.0          2.0
30             TOWNSEND, Darian          1.0          NaN
31               STEVENS, Craig          1.0          NaN
32               NEETHLING, Ryk          1.0          NaN
33               BOVELL, George          1.0          NaN
34                 MEEUW, Helge          1.0          NaN
35         FLOREA, Razvan Ionut          1.0          NaN
36        CAPPELLAZZO, Federico          1.0          NaN
37              CERCATO, Simone          1.0          NaN
38                 CONRAD, Lars          1.0          NaN
39                 CSEH, Laszlo          1.0          3.0
40                DAVIES, David          1.0          1.0
41               DRAGANJA, Duje          1.0          NaN
42             DRIESEN, Steffen          1.0          NaN
43              DUBOSCQ, Hugues          1.0          2.0
44                 DUSING, Nate          1.0          NaN
45                FERNS, Lyndon          1.0          NaN
46               GANGLOFF, Mark          1.0          1.0
47            MATKOVICH, Antony          1.0          NaN
48             GOLDBLATT, Scott          1.0          NaN
49               GYURTA, Daniel          1.0          NaN
50               JENSEN, Larsen          1.0          1.0
51              KENKHUIS, Johan          1.0          NaN
52                 KETCHUM, Dan          1.0          NaN
53                KLIM, Michael          1.0          NaN
54           KRAYZELBURG, Lenny          1.0          NaN
55                 KRUPPA, Jens          1.0          NaN
56          BREMBILLA, Emiliano          1.0          NaN
57             MAGNINI, Filippo          1.0          NaN
58          ZWERING, Klaas-Erik          1.0          NaN
59               BERNARD, Alain          NaN          3.0
60              SULLIVAN, Eamon          NaN          3.0
61          LAUTERSTEIN, Andrew          NaN          3.0
62                GREVERS, Matt          NaN          3.0
63             RICKARD, Brenton          NaN          2.0
64              LEVEAUX, Amaury          NaN          2.0
65             STOECKEL, Hayden          NaN          2.0
66                TARGETT, Matt          NaN          2.0
67                PARK, Taehwan          NaN          2.0
68           CIELO FILHO, Cesar          NaN          2.0
69           VYATCHANIN, Arkady          NaN          2.0
70                BRODIE, Leith          NaN          2.0
71          WEBER-GALE, Garrett          NaN          2.0
72              MURPHY, Patrick          NaN          2.0
73          OEN, Alexander Dale          NaN          1.0
74                 PALMER, Kirk          NaN          1.0
75               ADRIAN, Nathan          NaN          1.0
76                   PINE, Adam          NaN          1.0
77          POLISHCHUK, Mikhail          NaN          1.0
78              SATO, Hisayoshi          NaN          1.0
79          SPRENGER, Christian          NaN          1.0
80           MIYASHITA, Junichi          NaN          1.0
81        SUKHORUKOV, Alexander          NaN          1.0
82     VAN DER WEIJDEN, Maarten          NaN          1.0
83               WALTERS, David          NaN          1.0
84        WILDMAN-TOBRINER, Ben          NaN          1.0
85              STEIMETZ, Boris          NaN          1.0
86            LOBINTSEV, Nikita          NaN          1.0
87            MELLOULI, Oussama          NaN          1.0
88             MATSUDA, Takeshi          NaN          1.0
89          BOUSQUET, Frederick          NaN          1.0
90                 BRITS, Grant          NaN          1.0
91               CALLUS, Ashley          NaN          1.0
92               CAVIC, Milorad          NaN          1.0
93               COCHRANE, Ryan          NaN          1.0
94              DELANEY, Ashley          NaN          1.0
95                 FFROST, Nick          NaN          1.0
96                FUJII, Takuro          NaN          1.0
97                GILOT, Fabien          NaN          1.0
98               IZOTOV, Danila          NaN          1.0
99                JONES, Cullen          NaN          1.0
100            LAGUNOV, Evgeniy          NaN          1.0
101               BERENS, Ricky          NaN          1.0
102                LURZ, Thomas          NaN          1.0
103             MALLET, Gregory          NaN          1.0
104                  ZHANG, Lin          NaN          1.0

In [10]:
men2004.merge(men2008, how = "outer", on = "Athlete", suffixes=("_2004", "_2008"), indicator=True)

                        Athlete  Medals_2004  Medals_2008      _merge
0               PHELPS, Michael          8.0          8.0        both
1                   THORPE, Ian          4.0          NaN   left_only
2              SCHOEMAN, Roland          3.0          NaN   left_only
3                PEIRSOL, Aaron          3.0          3.0        both
4                  CROCKER, Ian          3.0          1.0        both
5              KITAJIMA, Kosuke          3.0          3.0        both
6               HANSEN, Brendan          3.0          1.0        both
7    VAN DEN HOOGENBAND, Pieter          3.0          NaN   left_only
8                HACKETT, Grant          3.0          2.0        both
9                MORITA, Tomomi          2.0          NaN   left_only
10                 LEZAK, Jason          2.0          3.0        both
11                ROGAN, Markus          2.0          NaN   left_only
12                KELLER, Klete          2.0          1.0        both
13               HALL, Gary Jr.          2.0          NaN   left_only
14                 LOCHTE, Ryan          2.0          4.0        both
15                 WALKER, Neil          2.0          NaN   left_only
16            YAMAMOTO, Takashi          2.0          NaN   left_only
17           SPRENGER, Nicholas          1.0          NaN   left_only
18           OKUMURA, Yoshihiro          1.0          NaN   left_only
19               PARRY, Stephen          1.0          NaN   left_only
20                PEARSON, Todd          1.0          NaN   left_only
21               ZASTROW, Mitja          1.0          NaN   left_only
22           PELLICIARI, Matteo          1.0          NaN   left_only
23               WOODWARD, Gabe          1.0          NaN   left_only
24             SERDINOV, Andriy          1.0          NaN   left_only
25                  VENDT, Erik          1.0          1.0        both
26       ROSOLINO, Massimiliano          1.0          NaN   left_only
27         VEENS, Mark Hermanus          1.0          NaN   left_only
28             RUPPRATH, Thomas          1.0          NaN   left_only
29            VANDERKAAY, Peter          1.0          2.0        both
30             TOWNSEND, Darian          1.0          NaN   left_only
31               STEVENS, Craig          1.0          NaN   left_only
32               NEETHLING, Ryk          1.0          NaN   left_only
33               BOVELL, George          1.0          NaN   left_only
34                 MEEUW, Helge          1.0          NaN   left_only
35         FLOREA, Razvan Ionut          1.0          NaN   left_only
36        CAPPELLAZZO, Federico          1.0          NaN   left_only
37              CERCATO, Simone          1.0          NaN   left_only
38                 CONRAD, Lars          1.0          NaN   left_only
39                 CSEH, Laszlo          1.0          3.0        both
40                DAVIES, David          1.0          1.0        both
41               DRAGANJA, Duje          1.0          NaN   left_only
42             DRIESEN, Steffen          1.0          NaN   left_only
43              DUBOSCQ, Hugues          1.0          2.0        both
44                 DUSING, Nate          1.0          NaN   left_only
45                FERNS, Lyndon          1.0          NaN   left_only
46               GANGLOFF, Mark          1.0          1.0        both
47            MATKOVICH, Antony          1.0          NaN   left_only
48             GOLDBLATT, Scott          1.0          NaN   left_only
49               GYURTA, Daniel          1.0          NaN   left_only
50               JENSEN, Larsen          1.0          1.0        both
51              KENKHUIS, Johan          1.0          NaN   left_only
52                 KETCHUM, Dan          1.0          NaN   left_only
53                KLIM, Michael          1.0          NaN   left_only
54           KRAYZELBURG, Lenny          1.0          NaN   left_only
55                 KRUPPA, Jens          1.0          NaN   left_only
56          BREMBILLA, Emiliano          1.0          NaN   left_only
57             MAGNINI, Filippo          1.0          NaN   left_only
58          ZWERING, Klaas-Erik          1.0          NaN   left_only
59               BERNARD, Alain          NaN          3.0  right_only
60              SULLIVAN, Eamon          NaN          3.0  right_only
61          LAUTERSTEIN, Andrew          NaN          3.0  right_only
62                GREVERS, Matt          NaN          3.0  right_only
63             RICKARD, Brenton          NaN          2.0  right_only
64              LEVEAUX, Amaury          NaN          2.0  right_only
65             STOECKEL, Hayden          NaN          2.0  right_only
66                TARGETT, Matt          NaN          2.0  right_only
67                PARK, Taehwan          NaN          2.0  right_only
68           CIELO FILHO, Cesar          NaN          2.0  right_only
69           VYATCHANIN, Arkady          NaN          2.0  right_only
70                BRODIE, Leith          NaN          2.0  right_only
71          WEBER-GALE, Garrett          NaN          2.0  right_only
72              MURPHY, Patrick          NaN          2.0  right_only
73          OEN, Alexander Dale          NaN          1.0  right_only
74                 PALMER, Kirk          NaN          1.0  right_only
75               ADRIAN, Nathan          NaN          1.0  right_only
76                   PINE, Adam          NaN          1.0  right_only
77          POLISHCHUK, Mikhail          NaN          1.0  right_only
78              SATO, Hisayoshi          NaN          1.0  right_only
79          SPRENGER, Christian          NaN          1.0  right_only
80           MIYASHITA, Junichi          NaN          1.0  right_only
81        SUKHORUKOV, Alexander          NaN          1.0  right_only
82     VAN DER WEIJDEN, Maarten          NaN          1.0  right_only
83               WALTERS, David          NaN          1.0  right_only
84        WILDMAN-TOBRINER, Ben          NaN          1.0  right_only
85              STEIMETZ, Boris          NaN          1.0  right_only
86            LOBINTSEV, Nikita          NaN          1.0  right_only
87            MELLOULI, Oussama          NaN          1.0  right_only
88             MATSUDA, Takeshi          NaN          1.0  right_only
89          BOUSQUET, Frederick          NaN          1.0  right_only
90                 BRITS, Grant          NaN          1.0  right_only
91               CALLUS, Ashley          NaN          1.0  right_only
92               CAVIC, Milorad          NaN          1.0  right_only
93               COCHRANE, Ryan          NaN          1.0  right_only
94              DELANEY, Ashley          NaN          1.0  right_only
95                 FFROST, Nick          NaN          1.0  right_only
96                FUJII, Takuro          NaN          1.0  right_only
97                GILOT, Fabien          NaN          1.0  right_only
98               IZOTOV, Danila          NaN          1.0  right_only
99                JONES, Cullen          NaN          1.0  right_only
100            LAGUNOV, Evgeniy          NaN          1.0  right_only
101               BERENS, Ricky          NaN          1.0  right_only
102                LURZ, Thomas          NaN          1.0  right_only
103             MALLET, Gregory          NaN          1.0  right_only
104                  ZHANG, Lin          NaN          1.0  right_only

In [11]:
men0408 = men2004.merge(men2008, how = "outer", on = "Athlete", suffixes=("_2004", "_2008"), indicator=True)

### We can do further analysis

In [12]:
men0408._merge

0            both
1       left_only
2       left_only
3            both
4            both
5            both
6            both
7       left_only
8            both
9       left_only
10           both
11      left_only
12           both
13      left_only
14           both
15      left_only
16      left_only
17      left_only
18      left_only
19      left_only
20      left_only
21      left_only
22      left_only
23      left_only
24      left_only
25           both
26      left_only
27      left_only
28      left_only
29           both
30      left_only
31      left_only
32      left_only
33      left_only
34      left_only
35      left_only
36      left_only
37      left_only
38      left_only
39           both
40           both
41      left_only
42      left_only
43           both
44      left_only
45      left_only
46           both
47      left_only
48      left_only
49      left_only
50           both
51      left_only
52      left_only
53      left_only
54      left_only
55      left_only
56      left_only
57      left_only
58      left_only
59     right_only
60     right_only
61     right_only
62     right_only
63     right_only
64     right_only
65     right_only
66     right_only
67     right_only
68     right_only
69     right_only
70     right_only
71     right_only
72     right_only
73     right_only
74     right_only
75     right_only
76     right_only
77     right_only
78     right_only
79     right_only
80     right_only
81     right_only
82     right_only
83     right_only
84     right_only
85     right_only
86     right_only
87     right_only
88     right_only
89     right_only
90     right_only
91     right_only
92     right_only
93     right_only
94     right_only
95     right_only
96     right_only
97     right_only
98     right_only
99     right_only
100    right_only
101    right_only
102    right_only
103    right_only
104    right_only
Name: _merge, dtype: category
Categories (3, object): [left_only, right_only, both]

In [13]:
men0408._merge.value_counts()#right_only here means right dataset - men2008, left_only - left dataset = men2004

right_only    46
left_only     43
both          16
Name: _merge, dtype: int64

In [14]:
len(men0408)#Total = 105 unique athletes

105

# Inner Join with merge() - Union

## All Athletes who won in both editions

In [15]:
men2004.merge(men2008, how = "inner", on = "Athlete", suffixes=("_2004", "_2008"), indicator=True)#16 Athletes

              Athlete  Medals_2004  Medals_2008 _merge
0     PHELPS, Michael            8            8   both
1      PEIRSOL, Aaron            3            3   both
2        CROCKER, Ian            3            1   both
3    KITAJIMA, Kosuke            3            3   both
4     HANSEN, Brendan            3            1   both
5      HACKETT, Grant            3            2   both
6        LEZAK, Jason            2            3   both
7       KELLER, Klete            2            1   both
8        LOCHTE, Ryan            2            4   both
9         VENDT, Erik            1            1   both
10  VANDERKAAY, Peter            1            2   both
11       CSEH, Laszlo            1            3   both
12      DAVIES, David            1            1   both
13    DUBOSCQ, Hugues            1            2   both
14     GANGLOFF, Mark            1            1   both
15     JENSEN, Larsen            1            1   both

# Outer Joins (without intersections) using merge() method

## All Athletes that won in only one edition but not both i.e left_only and right_only

### First perform an outer join

In [16]:
men0408_outer = men2004.merge(men2008, how = "outer", on = "Athlete", suffixes=("_2004", "_2008"), indicator=True)

In [17]:
men0408_outer

                        Athlete  Medals_2004  Medals_2008      _merge
0               PHELPS, Michael          8.0          8.0        both
1                   THORPE, Ian          4.0          NaN   left_only
2              SCHOEMAN, Roland          3.0          NaN   left_only
3                PEIRSOL, Aaron          3.0          3.0        both
4                  CROCKER, Ian          3.0          1.0        both
5              KITAJIMA, Kosuke          3.0          3.0        both
6               HANSEN, Brendan          3.0          1.0        both
7    VAN DEN HOOGENBAND, Pieter          3.0          NaN   left_only
8                HACKETT, Grant          3.0          2.0        both
9                MORITA, Tomomi          2.0          NaN   left_only
10                 LEZAK, Jason          2.0          3.0        both
11                ROGAN, Markus          2.0          NaN   left_only
12                KELLER, Klete          2.0          1.0        both
13               HALL, Gary Jr.          2.0          NaN   left_only
14                 LOCHTE, Ryan          2.0          4.0        both
15                 WALKER, Neil          2.0          NaN   left_only
16            YAMAMOTO, Takashi          2.0          NaN   left_only
17           SPRENGER, Nicholas          1.0          NaN   left_only
18           OKUMURA, Yoshihiro          1.0          NaN   left_only
19               PARRY, Stephen          1.0          NaN   left_only
20                PEARSON, Todd          1.0          NaN   left_only
21               ZASTROW, Mitja          1.0          NaN   left_only
22           PELLICIARI, Matteo          1.0          NaN   left_only
23               WOODWARD, Gabe          1.0          NaN   left_only
24             SERDINOV, Andriy          1.0          NaN   left_only
25                  VENDT, Erik          1.0          1.0        both
26       ROSOLINO, Massimiliano          1.0          NaN   left_only
27         VEENS, Mark Hermanus          1.0          NaN   left_only
28             RUPPRATH, Thomas          1.0          NaN   left_only
29            VANDERKAAY, Peter          1.0          2.0        both
30             TOWNSEND, Darian          1.0          NaN   left_only
31               STEVENS, Craig          1.0          NaN   left_only
32               NEETHLING, Ryk          1.0          NaN   left_only
33               BOVELL, George          1.0          NaN   left_only
34                 MEEUW, Helge          1.0          NaN   left_only
35         FLOREA, Razvan Ionut          1.0          NaN   left_only
36        CAPPELLAZZO, Federico          1.0          NaN   left_only
37              CERCATO, Simone          1.0          NaN   left_only
38                 CONRAD, Lars          1.0          NaN   left_only
39                 CSEH, Laszlo          1.0          3.0        both
40                DAVIES, David          1.0          1.0        both
41               DRAGANJA, Duje          1.0          NaN   left_only
42             DRIESEN, Steffen          1.0          NaN   left_only
43              DUBOSCQ, Hugues          1.0          2.0        both
44                 DUSING, Nate          1.0          NaN   left_only
45                FERNS, Lyndon          1.0          NaN   left_only
46               GANGLOFF, Mark          1.0          1.0        both
47            MATKOVICH, Antony          1.0          NaN   left_only
48             GOLDBLATT, Scott          1.0          NaN   left_only
49               GYURTA, Daniel          1.0          NaN   left_only
50               JENSEN, Larsen          1.0          1.0        both
51              KENKHUIS, Johan          1.0          NaN   left_only
52                 KETCHUM, Dan          1.0          NaN   left_only
53                KLIM, Michael          1.0          NaN   left_only
54           KRAYZELBURG, Lenny          1.0          NaN   left_only
55                 KRUPPA, Jens          1.0          NaN   left_only
56          BREMBILLA, Emiliano          1.0          NaN   left_only
57             MAGNINI, Filippo          1.0          NaN   left_only
58          ZWERING, Klaas-Erik          1.0          NaN   left_only
59               BERNARD, Alain          NaN          3.0  right_only
60              SULLIVAN, Eamon          NaN          3.0  right_only
61          LAUTERSTEIN, Andrew          NaN          3.0  right_only
62                GREVERS, Matt          NaN          3.0  right_only
63             RICKARD, Brenton          NaN          2.0  right_only
64              LEVEAUX, Amaury          NaN          2.0  right_only
65             STOECKEL, Hayden          NaN          2.0  right_only
66                TARGETT, Matt          NaN          2.0  right_only
67                PARK, Taehwan          NaN          2.0  right_only
68           CIELO FILHO, Cesar          NaN          2.0  right_only
69           VYATCHANIN, Arkady          NaN          2.0  right_only
70                BRODIE, Leith          NaN          2.0  right_only
71          WEBER-GALE, Garrett          NaN          2.0  right_only
72              MURPHY, Patrick          NaN          2.0  right_only
73          OEN, Alexander Dale          NaN          1.0  right_only
74                 PALMER, Kirk          NaN          1.0  right_only
75               ADRIAN, Nathan          NaN          1.0  right_only
76                   PINE, Adam          NaN          1.0  right_only
77          POLISHCHUK, Mikhail          NaN          1.0  right_only
78              SATO, Hisayoshi          NaN          1.0  right_only
79          SPRENGER, Christian          NaN          1.0  right_only
80           MIYASHITA, Junichi          NaN          1.0  right_only
81        SUKHORUKOV, Alexander          NaN          1.0  right_only
82     VAN DER WEIJDEN, Maarten          NaN          1.0  right_only
83               WALTERS, David          NaN          1.0  right_only
84        WILDMAN-TOBRINER, Ben          NaN          1.0  right_only
85              STEIMETZ, Boris          NaN          1.0  right_only
86            LOBINTSEV, Nikita          NaN          1.0  right_only
87            MELLOULI, Oussama          NaN          1.0  right_only
88             MATSUDA, Takeshi          NaN          1.0  right_only
89          BOUSQUET, Frederick          NaN          1.0  right_only
90                 BRITS, Grant          NaN          1.0  right_only
91               CALLUS, Ashley          NaN          1.0  right_only
92               CAVIC, Milorad          NaN          1.0  right_only
93               COCHRANE, Ryan          NaN          1.0  right_only
94              DELANEY, Ashley          NaN          1.0  right_only
95                 FFROST, Nick          NaN          1.0  right_only
96                FUJII, Takuro          NaN          1.0  right_only
97                GILOT, Fabien          NaN          1.0  right_only
98               IZOTOV, Danila          NaN          1.0  right_only
99                JONES, Cullen          NaN          1.0  right_only
100            LAGUNOV, Evgeniy          NaN          1.0  right_only
101               BERENS, Ricky          NaN          1.0  right_only
102                LURZ, Thomas          NaN          1.0  right_only
103             MALLET, Gregory          NaN          1.0  right_only
104                  ZHANG, Lin          NaN          1.0  right_only

#### Then we exclude both

In [18]:
men0408_outer._merge

0            both
1       left_only
2       left_only
3            both
4            both
5            both
6            both
7       left_only
8            both
9       left_only
10           both
11      left_only
12           both
13      left_only
14           both
15      left_only
16      left_only
17      left_only
18      left_only
19      left_only
20      left_only
21      left_only
22      left_only
23      left_only
24      left_only
25           both
26      left_only
27      left_only
28      left_only
29           both
30      left_only
31      left_only
32      left_only
33      left_only
34      left_only
35      left_only
36      left_only
37      left_only
38      left_only
39           both
40           both
41      left_only
42      left_only
43           both
44      left_only
45      left_only
46           both
47      left_only
48      left_only
49      left_only
50           both
51      left_only
52      left_only
53      left_only
54      left_only
55      left_only
56      left_only
57      left_only
58      left_only
59     right_only
60     right_only
61     right_only
62     right_only
63     right_only
64     right_only
65     right_only
66     right_only
67     right_only
68     right_only
69     right_only
70     right_only
71     right_only
72     right_only
73     right_only
74     right_only
75     right_only
76     right_only
77     right_only
78     right_only
79     right_only
80     right_only
81     right_only
82     right_only
83     right_only
84     right_only
85     right_only
86     right_only
87     right_only
88     right_only
89     right_only
90     right_only
91     right_only
92     right_only
93     right_only
94     right_only
95     right_only
96     right_only
97     right_only
98     right_only
99     right_only
100    right_only
101    right_only
102    right_only
103    right_only
104    right_only
Name: _merge, dtype: category
Categories (3, object): [left_only, right_only, both]

In [19]:
men0408_outer._merge != "both"

0      False
1       True
2       True
3      False
4      False
5      False
6      False
7       True
8      False
9       True
10     False
11      True
12     False
13      True
14     False
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25     False
26      True
27      True
28      True
29     False
30      True
31      True
32      True
33      True
34      True
35      True
36      True
37      True
38      True
39     False
40     False
41      True
42      True
43     False
44      True
45      True
46     False
47      True
48      True
49      True
50     False
51      True
52      True
53      True
54      True
55      True
56      True
57      True
58      True
59      True
60      True
61      True
62      True
63      True
64      True
65      True
66      True
67      True
68      True
69      True
70      True
71      True
72      True
73      True
74      True
75      True
76      True
77      True
78      True
79      True
80      True
81      True
82      True
83      True
84      True
85      True
86      True
87      True
88      True
89      True
90      True
91      True
92      True
93      True
94      True
95      True
96      True
97      True
98      True
99      True
100     True
101     True
102     True
103     True
104     True
Name: _merge, dtype: bool

### Now using the loc operator

In [20]:
men0408_outer.loc[men0408_outer._merge != "both"]

                        Athlete  Medals_2004  Medals_2008      _merge
1                   THORPE, Ian          4.0          NaN   left_only
2              SCHOEMAN, Roland          3.0          NaN   left_only
7    VAN DEN HOOGENBAND, Pieter          3.0          NaN   left_only
9                MORITA, Tomomi          2.0          NaN   left_only
11                ROGAN, Markus          2.0          NaN   left_only
13               HALL, Gary Jr.          2.0          NaN   left_only
15                 WALKER, Neil          2.0          NaN   left_only
16            YAMAMOTO, Takashi          2.0          NaN   left_only
17           SPRENGER, Nicholas          1.0          NaN   left_only
18           OKUMURA, Yoshihiro          1.0          NaN   left_only
19               PARRY, Stephen          1.0          NaN   left_only
20                PEARSON, Todd          1.0          NaN   left_only
21               ZASTROW, Mitja          1.0          NaN   left_only
22           PELLICIARI, Matteo          1.0          NaN   left_only
23               WOODWARD, Gabe          1.0          NaN   left_only
24             SERDINOV, Andriy          1.0          NaN   left_only
26       ROSOLINO, Massimiliano          1.0          NaN   left_only
27         VEENS, Mark Hermanus          1.0          NaN   left_only
28             RUPPRATH, Thomas          1.0          NaN   left_only
30             TOWNSEND, Darian          1.0          NaN   left_only
31               STEVENS, Craig          1.0          NaN   left_only
32               NEETHLING, Ryk          1.0          NaN   left_only
33               BOVELL, George          1.0          NaN   left_only
34                 MEEUW, Helge          1.0          NaN   left_only
35         FLOREA, Razvan Ionut          1.0          NaN   left_only
36        CAPPELLAZZO, Federico          1.0          NaN   left_only
37              CERCATO, Simone          1.0          NaN   left_only
38                 CONRAD, Lars          1.0          NaN   left_only
41               DRAGANJA, Duje          1.0          NaN   left_only
42             DRIESEN, Steffen          1.0          NaN   left_only
44                 DUSING, Nate          1.0          NaN   left_only
45                FERNS, Lyndon          1.0          NaN   left_only
47            MATKOVICH, Antony          1.0          NaN   left_only
48             GOLDBLATT, Scott          1.0          NaN   left_only
49               GYURTA, Daniel          1.0          NaN   left_only
51              KENKHUIS, Johan          1.0          NaN   left_only
52                 KETCHUM, Dan          1.0          NaN   left_only
53                KLIM, Michael          1.0          NaN   left_only
54           KRAYZELBURG, Lenny          1.0          NaN   left_only
55                 KRUPPA, Jens          1.0          NaN   left_only
56          BREMBILLA, Emiliano          1.0          NaN   left_only
57             MAGNINI, Filippo          1.0          NaN   left_only
58          ZWERING, Klaas-Erik          1.0          NaN   left_only
59               BERNARD, Alain          NaN          3.0  right_only
60              SULLIVAN, Eamon          NaN          3.0  right_only
61          LAUTERSTEIN, Andrew          NaN          3.0  right_only
62                GREVERS, Matt          NaN          3.0  right_only
63             RICKARD, Brenton          NaN          2.0  right_only
64              LEVEAUX, Amaury          NaN          2.0  right_only
65             STOECKEL, Hayden          NaN          2.0  right_only
66                TARGETT, Matt          NaN          2.0  right_only
67                PARK, Taehwan          NaN          2.0  right_only
68           CIELO FILHO, Cesar          NaN          2.0  right_only
69           VYATCHANIN, Arkady          NaN          2.0  right_only
70                BRODIE, Leith          NaN          2.0  right_only
71          WEBER-GALE, Garrett          NaN          2.0  right_only
72              MURPHY, Patrick          NaN          2.0  right_only
73          OEN, Alexander Dale          NaN          1.0  right_only
74                 PALMER, Kirk          NaN          1.0  right_only
75               ADRIAN, Nathan          NaN          1.0  right_only
76                   PINE, Adam          NaN          1.0  right_only
77          POLISHCHUK, Mikhail          NaN          1.0  right_only
78              SATO, Hisayoshi          NaN          1.0  right_only
79          SPRENGER, Christian          NaN          1.0  right_only
80           MIYASHITA, Junichi          NaN          1.0  right_only
81        SUKHORUKOV, Alexander          NaN          1.0  right_only
82     VAN DER WEIJDEN, Maarten          NaN          1.0  right_only
83               WALTERS, David          NaN          1.0  right_only
84        WILDMAN-TOBRINER, Ben          NaN          1.0  right_only
85              STEIMETZ, Boris          NaN          1.0  right_only
86            LOBINTSEV, Nikita          NaN          1.0  right_only
87            MELLOULI, Oussama          NaN          1.0  right_only
88             MATSUDA, Takeshi          NaN          1.0  right_only
89          BOUSQUET, Frederick          NaN          1.0  right_only
90                 BRITS, Grant          NaN          1.0  right_only
91               CALLUS, Ashley          NaN          1.0  right_only
92               CAVIC, Milorad          NaN          1.0  right_only
93               COCHRANE, Ryan          NaN          1.0  right_only
94              DELANEY, Ashley          NaN          1.0  right_only
95                 FFROST, Nick          NaN          1.0  right_only
96                FUJII, Takuro          NaN          1.0  right_only
97                GILOT, Fabien          NaN          1.0  right_only
98               IZOTOV, Danila          NaN          1.0  right_only
99                JONES, Cullen          NaN          1.0  right_only
100            LAGUNOV, Evgeniy          NaN          1.0  right_only
101               BERENS, Ricky          NaN          1.0  right_only
102                LURZ, Thomas          NaN          1.0  right_only
103             MALLET, Gregory          NaN          1.0  right_only
104                  ZHANG, Lin          NaN          1.0  right_only

In [21]:
men0408_outer.loc[men0408_outer._merge != "both"]

                        Athlete  Medals_2004  Medals_2008      _merge
1                   THORPE, Ian          4.0          NaN   left_only
2              SCHOEMAN, Roland          3.0          NaN   left_only
7    VAN DEN HOOGENBAND, Pieter          3.0          NaN   left_only
9                MORITA, Tomomi          2.0          NaN   left_only
11                ROGAN, Markus          2.0          NaN   left_only
13               HALL, Gary Jr.          2.0          NaN   left_only
15                 WALKER, Neil          2.0          NaN   left_only
16            YAMAMOTO, Takashi          2.0          NaN   left_only
17           SPRENGER, Nicholas          1.0          NaN   left_only
18           OKUMURA, Yoshihiro          1.0          NaN   left_only
19               PARRY, Stephen          1.0          NaN   left_only
20                PEARSON, Todd          1.0          NaN   left_only
21               ZASTROW, Mitja          1.0          NaN   left_only
22           PELLICIARI, Matteo          1.0          NaN   left_only
23               WOODWARD, Gabe          1.0          NaN   left_only
24             SERDINOV, Andriy          1.0          NaN   left_only
26       ROSOLINO, Massimiliano          1.0          NaN   left_only
27         VEENS, Mark Hermanus          1.0          NaN   left_only
28             RUPPRATH, Thomas          1.0          NaN   left_only
30             TOWNSEND, Darian          1.0          NaN   left_only
31               STEVENS, Craig          1.0          NaN   left_only
32               NEETHLING, Ryk          1.0          NaN   left_only
33               BOVELL, George          1.0          NaN   left_only
34                 MEEUW, Helge          1.0          NaN   left_only
35         FLOREA, Razvan Ionut          1.0          NaN   left_only
36        CAPPELLAZZO, Federico          1.0          NaN   left_only
37              CERCATO, Simone          1.0          NaN   left_only
38                 CONRAD, Lars          1.0          NaN   left_only
41               DRAGANJA, Duje          1.0          NaN   left_only
42             DRIESEN, Steffen          1.0          NaN   left_only
44                 DUSING, Nate          1.0          NaN   left_only
45                FERNS, Lyndon          1.0          NaN   left_only
47            MATKOVICH, Antony          1.0          NaN   left_only
48             GOLDBLATT, Scott          1.0          NaN   left_only
49               GYURTA, Daniel          1.0          NaN   left_only
51              KENKHUIS, Johan          1.0          NaN   left_only
52                 KETCHUM, Dan          1.0          NaN   left_only
53                KLIM, Michael          1.0          NaN   left_only
54           KRAYZELBURG, Lenny          1.0          NaN   left_only
55                 KRUPPA, Jens          1.0          NaN   left_only
56          BREMBILLA, Emiliano          1.0          NaN   left_only
57             MAGNINI, Filippo          1.0          NaN   left_only
58          ZWERING, Klaas-Erik          1.0          NaN   left_only
59               BERNARD, Alain          NaN          3.0  right_only
60              SULLIVAN, Eamon          NaN          3.0  right_only
61          LAUTERSTEIN, Andrew          NaN          3.0  right_only
62                GREVERS, Matt          NaN          3.0  right_only
63             RICKARD, Brenton          NaN          2.0  right_only
64              LEVEAUX, Amaury          NaN          2.0  right_only
65             STOECKEL, Hayden          NaN          2.0  right_only
66                TARGETT, Matt          NaN          2.0  right_only
67                PARK, Taehwan          NaN          2.0  right_only
68           CIELO FILHO, Cesar          NaN          2.0  right_only
69           VYATCHANIN, Arkady          NaN          2.0  right_only
70                BRODIE, Leith          NaN          2.0  right_only
71          WEBER-GALE, Garrett          NaN          2.0  right_only
72              MURPHY, Patrick          NaN          2.0  right_only
73          OEN, Alexander Dale          NaN          1.0  right_only
74                 PALMER, Kirk          NaN          1.0  right_only
75               ADRIAN, Nathan          NaN          1.0  right_only
76                   PINE, Adam          NaN          1.0  right_only
77          POLISHCHUK, Mikhail          NaN          1.0  right_only
78              SATO, Hisayoshi          NaN          1.0  right_only
79          SPRENGER, Christian          NaN          1.0  right_only
80           MIYASHITA, Junichi          NaN          1.0  right_only
81        SUKHORUKOV, Alexander          NaN          1.0  right_only
82     VAN DER WEIJDEN, Maarten          NaN          1.0  right_only
83               WALTERS, David          NaN          1.0  right_only
84        WILDMAN-TOBRINER, Ben          NaN          1.0  right_only
85              STEIMETZ, Boris          NaN          1.0  right_only
86            LOBINTSEV, Nikita          NaN          1.0  right_only
87            MELLOULI, Oussama          NaN          1.0  right_only
88             MATSUDA, Takeshi          NaN          1.0  right_only
89          BOUSQUET, Frederick          NaN          1.0  right_only
90                 BRITS, Grant          NaN          1.0  right_only
91               CALLUS, Ashley          NaN          1.0  right_only
92               CAVIC, Milorad          NaN          1.0  right_only
93               COCHRANE, Ryan          NaN          1.0  right_only
94              DELANEY, Ashley          NaN          1.0  right_only
95                 FFROST, Nick          NaN          1.0  right_only
96                FUJII, Takuro          NaN          1.0  right_only
97                GILOT, Fabien          NaN          1.0  right_only
98               IZOTOV, Danila          NaN          1.0  right_only
99                JONES, Cullen          NaN          1.0  right_only
100            LAGUNOV, Evgeniy          NaN          1.0  right_only
101               BERENS, Ricky          NaN          1.0  right_only
102                LURZ, Thomas          NaN          1.0  right_only
103             MALLET, Gregory          NaN          1.0  right_only
104                  ZHANG, Lin          NaN          1.0  right_only

In [22]:
men_outer = men0408_outer.loc[men0408_outer._merge != "both"]

In [23]:
men_outer._merge.value_counts()

right_only    46
left_only     43
both           0
Name: _merge, dtype: int64

In [24]:
men_outer._merge.shape #right_only = 46 + left_only = 43 total = 89

(89,)

# Left Joins (without intersections) using merge() method

## All Athletes that won in only men2004 edition i.e left_only

### Again we perform an outer join first

In [25]:
men04_left_only = men2004.merge(men2008, how = "outer", on = "Athlete", suffixes=("_2004", "_2008"), indicator=True)

In [26]:
men04_left_only

                        Athlete  Medals_2004  Medals_2008      _merge
0               PHELPS, Michael          8.0          8.0        both
1                   THORPE, Ian          4.0          NaN   left_only
2              SCHOEMAN, Roland          3.0          NaN   left_only
3                PEIRSOL, Aaron          3.0          3.0        both
4                  CROCKER, Ian          3.0          1.0        both
5              KITAJIMA, Kosuke          3.0          3.0        both
6               HANSEN, Brendan          3.0          1.0        both
7    VAN DEN HOOGENBAND, Pieter          3.0          NaN   left_only
8                HACKETT, Grant          3.0          2.0        both
9                MORITA, Tomomi          2.0          NaN   left_only
10                 LEZAK, Jason          2.0          3.0        both
11                ROGAN, Markus          2.0          NaN   left_only
12                KELLER, Klete          2.0          1.0        both
13               HALL, Gary Jr.          2.0          NaN   left_only
14                 LOCHTE, Ryan          2.0          4.0        both
15                 WALKER, Neil          2.0          NaN   left_only
16            YAMAMOTO, Takashi          2.0          NaN   left_only
17           SPRENGER, Nicholas          1.0          NaN   left_only
18           OKUMURA, Yoshihiro          1.0          NaN   left_only
19               PARRY, Stephen          1.0          NaN   left_only
20                PEARSON, Todd          1.0          NaN   left_only
21               ZASTROW, Mitja          1.0          NaN   left_only
22           PELLICIARI, Matteo          1.0          NaN   left_only
23               WOODWARD, Gabe          1.0          NaN   left_only
24             SERDINOV, Andriy          1.0          NaN   left_only
25                  VENDT, Erik          1.0          1.0        both
26       ROSOLINO, Massimiliano          1.0          NaN   left_only
27         VEENS, Mark Hermanus          1.0          NaN   left_only
28             RUPPRATH, Thomas          1.0          NaN   left_only
29            VANDERKAAY, Peter          1.0          2.0        both
30             TOWNSEND, Darian          1.0          NaN   left_only
31               STEVENS, Craig          1.0          NaN   left_only
32               NEETHLING, Ryk          1.0          NaN   left_only
33               BOVELL, George          1.0          NaN   left_only
34                 MEEUW, Helge          1.0          NaN   left_only
35         FLOREA, Razvan Ionut          1.0          NaN   left_only
36        CAPPELLAZZO, Federico          1.0          NaN   left_only
37              CERCATO, Simone          1.0          NaN   left_only
38                 CONRAD, Lars          1.0          NaN   left_only
39                 CSEH, Laszlo          1.0          3.0        both
40                DAVIES, David          1.0          1.0        both
41               DRAGANJA, Duje          1.0          NaN   left_only
42             DRIESEN, Steffen          1.0          NaN   left_only
43              DUBOSCQ, Hugues          1.0          2.0        both
44                 DUSING, Nate          1.0          NaN   left_only
45                FERNS, Lyndon          1.0          NaN   left_only
46               GANGLOFF, Mark          1.0          1.0        both
47            MATKOVICH, Antony          1.0          NaN   left_only
48             GOLDBLATT, Scott          1.0          NaN   left_only
49               GYURTA, Daniel          1.0          NaN   left_only
50               JENSEN, Larsen          1.0          1.0        both
51              KENKHUIS, Johan          1.0          NaN   left_only
52                 KETCHUM, Dan          1.0          NaN   left_only
53                KLIM, Michael          1.0          NaN   left_only
54           KRAYZELBURG, Lenny          1.0          NaN   left_only
55                 KRUPPA, Jens          1.0          NaN   left_only
56          BREMBILLA, Emiliano          1.0          NaN   left_only
57             MAGNINI, Filippo          1.0          NaN   left_only
58          ZWERING, Klaas-Erik          1.0          NaN   left_only
59               BERNARD, Alain          NaN          3.0  right_only
60              SULLIVAN, Eamon          NaN          3.0  right_only
61          LAUTERSTEIN, Andrew          NaN          3.0  right_only
62                GREVERS, Matt          NaN          3.0  right_only
63             RICKARD, Brenton          NaN          2.0  right_only
64              LEVEAUX, Amaury          NaN          2.0  right_only
65             STOECKEL, Hayden          NaN          2.0  right_only
66                TARGETT, Matt          NaN          2.0  right_only
67                PARK, Taehwan          NaN          2.0  right_only
68           CIELO FILHO, Cesar          NaN          2.0  right_only
69           VYATCHANIN, Arkady          NaN          2.0  right_only
70                BRODIE, Leith          NaN          2.0  right_only
71          WEBER-GALE, Garrett          NaN          2.0  right_only
72              MURPHY, Patrick          NaN          2.0  right_only
73          OEN, Alexander Dale          NaN          1.0  right_only
74                 PALMER, Kirk          NaN          1.0  right_only
75               ADRIAN, Nathan          NaN          1.0  right_only
76                   PINE, Adam          NaN          1.0  right_only
77          POLISHCHUK, Mikhail          NaN          1.0  right_only
78              SATO, Hisayoshi          NaN          1.0  right_only
79          SPRENGER, Christian          NaN          1.0  right_only
80           MIYASHITA, Junichi          NaN          1.0  right_only
81        SUKHORUKOV, Alexander          NaN          1.0  right_only
82     VAN DER WEIJDEN, Maarten          NaN          1.0  right_only
83               WALTERS, David          NaN          1.0  right_only
84        WILDMAN-TOBRINER, Ben          NaN          1.0  right_only
85              STEIMETZ, Boris          NaN          1.0  right_only
86            LOBINTSEV, Nikita          NaN          1.0  right_only
87            MELLOULI, Oussama          NaN          1.0  right_only
88             MATSUDA, Takeshi          NaN          1.0  right_only
89          BOUSQUET, Frederick          NaN          1.0  right_only
90                 BRITS, Grant          NaN          1.0  right_only
91               CALLUS, Ashley          NaN          1.0  right_only
92               CAVIC, Milorad          NaN          1.0  right_only
93               COCHRANE, Ryan          NaN          1.0  right_only
94              DELANEY, Ashley          NaN          1.0  right_only
95                 FFROST, Nick          NaN          1.0  right_only
96                FUJII, Takuro          NaN          1.0  right_only
97                GILOT, Fabien          NaN          1.0  right_only
98               IZOTOV, Danila          NaN          1.0  right_only
99                JONES, Cullen          NaN          1.0  right_only
100            LAGUNOV, Evgeniy          NaN          1.0  right_only
101               BERENS, Ricky          NaN          1.0  right_only
102                LURZ, Thomas          NaN          1.0  right_only
103             MALLET, Gregory          NaN          1.0  right_only
104                  ZHANG, Lin          NaN          1.0  right_only

In [27]:
men04_left_only._merge == "left_only"

0      False
1       True
2       True
3      False
4      False
5      False
6      False
7       True
8      False
9       True
10     False
11      True
12     False
13      True
14     False
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25     False
26      True
27      True
28      True
29     False
30      True
31      True
32      True
33      True
34      True
35      True
36      True
37      True
38      True
39     False
40     False
41      True
42      True
43     False
44      True
45      True
46     False
47      True
48      True
49      True
50     False
51      True
52      True
53      True
54      True
55      True
56      True
57      True
58      True
59     False
60     False
61     False
62     False
63     False
64     False
65     False
66     False
67     False
68     False
69     False
70     False
71     False
72     False
73     False
74     False
75     False
76     False
77     False
78     False
79     False
80     False
81     False
82     False
83     False
84     False
85     False
86     False
87     False
88     False
89     False
90     False
91     False
92     False
93     False
94     False
95     False
96     False
97     False
98     False
99     False
100    False
101    False
102    False
103    False
104    False
Name: _merge, dtype: bool

In [28]:
men04_left_only.loc[men04_left_only._merge == "left_only"] #43 Athletes

                       Athlete  Medals_2004  Medals_2008     _merge
1                  THORPE, Ian          4.0          NaN  left_only
2             SCHOEMAN, Roland          3.0          NaN  left_only
7   VAN DEN HOOGENBAND, Pieter          3.0          NaN  left_only
9               MORITA, Tomomi          2.0          NaN  left_only
11               ROGAN, Markus          2.0          NaN  left_only
13              HALL, Gary Jr.          2.0          NaN  left_only
15                WALKER, Neil          2.0          NaN  left_only
16           YAMAMOTO, Takashi          2.0          NaN  left_only
17          SPRENGER, Nicholas          1.0          NaN  left_only
18          OKUMURA, Yoshihiro          1.0          NaN  left_only
19              PARRY, Stephen          1.0          NaN  left_only
20               PEARSON, Todd          1.0          NaN  left_only
21              ZASTROW, Mitja          1.0          NaN  left_only
22          PELLICIARI, Matteo          1.0          NaN  left_only
23              WOODWARD, Gabe          1.0          NaN  left_only
24            SERDINOV, Andriy          1.0          NaN  left_only
26      ROSOLINO, Massimiliano          1.0          NaN  left_only
27        VEENS, Mark Hermanus          1.0          NaN  left_only
28            RUPPRATH, Thomas          1.0          NaN  left_only
30            TOWNSEND, Darian          1.0          NaN  left_only
31              STEVENS, Craig          1.0          NaN  left_only
32              NEETHLING, Ryk          1.0          NaN  left_only
33              BOVELL, George          1.0          NaN  left_only
34                MEEUW, Helge          1.0          NaN  left_only
35        FLOREA, Razvan Ionut          1.0          NaN  left_only
36       CAPPELLAZZO, Federico          1.0          NaN  left_only
37             CERCATO, Simone          1.0          NaN  left_only
38                CONRAD, Lars          1.0          NaN  left_only
41              DRAGANJA, Duje          1.0          NaN  left_only
42            DRIESEN, Steffen          1.0          NaN  left_only
44                DUSING, Nate          1.0          NaN  left_only
45               FERNS, Lyndon          1.0          NaN  left_only
47           MATKOVICH, Antony          1.0          NaN  left_only
48            GOLDBLATT, Scott          1.0          NaN  left_only
49              GYURTA, Daniel          1.0          NaN  left_only
51             KENKHUIS, Johan          1.0          NaN  left_only
52                KETCHUM, Dan          1.0          NaN  left_only
53               KLIM, Michael          1.0          NaN  left_only
54          KRAYZELBURG, Lenny          1.0          NaN  left_only
55                KRUPPA, Jens          1.0          NaN  left_only
56         BREMBILLA, Emiliano          1.0          NaN  left_only
57            MAGNINI, Filippo          1.0          NaN  left_only
58         ZWERING, Klaas-Erik          1.0          NaN  left_only

In [29]:
men04_left_only.loc[men04_left_only._merge == "left_only"]._merge.shape

(43,)

# Right Join Without Intersection with merge()

## That is all Athletes who won only in men2008

In [31]:
men08_right_only = men2004.merge(men2008, how = "outer", on = "Athlete", suffixes=("_2004", "_2008"), indicator=True)

In [32]:
men08_right_only[men08_right_only._merge == "right_only" ]

                      Athlete  Medals_2004  Medals_2008      _merge
59             BERNARD, Alain          NaN          3.0  right_only
60            SULLIVAN, Eamon          NaN          3.0  right_only
61        LAUTERSTEIN, Andrew          NaN          3.0  right_only
62              GREVERS, Matt          NaN          3.0  right_only
63           RICKARD, Brenton          NaN          2.0  right_only
64            LEVEAUX, Amaury          NaN          2.0  right_only
65           STOECKEL, Hayden          NaN          2.0  right_only
66              TARGETT, Matt          NaN          2.0  right_only
67              PARK, Taehwan          NaN          2.0  right_only
68         CIELO FILHO, Cesar          NaN          2.0  right_only
69         VYATCHANIN, Arkady          NaN          2.0  right_only
70              BRODIE, Leith          NaN          2.0  right_only
71        WEBER-GALE, Garrett          NaN          2.0  right_only
72            MURPHY, Patrick          NaN          2.0  right_only
73        OEN, Alexander Dale          NaN          1.0  right_only
74               PALMER, Kirk          NaN          1.0  right_only
75             ADRIAN, Nathan          NaN          1.0  right_only
76                 PINE, Adam          NaN          1.0  right_only
77        POLISHCHUK, Mikhail          NaN          1.0  right_only
78            SATO, Hisayoshi          NaN          1.0  right_only
79        SPRENGER, Christian          NaN          1.0  right_only
80         MIYASHITA, Junichi          NaN          1.0  right_only
81      SUKHORUKOV, Alexander          NaN          1.0  right_only
82   VAN DER WEIJDEN, Maarten          NaN          1.0  right_only
83             WALTERS, David          NaN          1.0  right_only
84      WILDMAN-TOBRINER, Ben          NaN          1.0  right_only
85            STEIMETZ, Boris          NaN          1.0  right_only
86          LOBINTSEV, Nikita          NaN          1.0  right_only
87          MELLOULI, Oussama          NaN          1.0  right_only
88           MATSUDA, Takeshi          NaN          1.0  right_only
89        BOUSQUET, Frederick          NaN          1.0  right_only
90               BRITS, Grant          NaN          1.0  right_only
91             CALLUS, Ashley          NaN          1.0  right_only
92             CAVIC, Milorad          NaN          1.0  right_only
93             COCHRANE, Ryan          NaN          1.0  right_only
94            DELANEY, Ashley          NaN          1.0  right_only
95               FFROST, Nick          NaN          1.0  right_only
96              FUJII, Takuro          NaN          1.0  right_only
97              GILOT, Fabien          NaN          1.0  right_only
98             IZOTOV, Danila          NaN          1.0  right_only
99              JONES, Cullen          NaN          1.0  right_only
100          LAGUNOV, Evgeniy          NaN          1.0  right_only
101             BERENS, Ricky          NaN          1.0  right_only
102              LURZ, Thomas          NaN          1.0  right_only
103           MALLET, Gregory          NaN          1.0  right_only
104                ZHANG, Lin          NaN          1.0  right_only

In [33]:
men08_right_only[men08_right_only._merge == "right_only" ].shape

(46, 4)

# Left Join - That is All Athletes who won in men 2004 Edition including 2008 edition

In [34]:
men0408_left_join = men2004.merge(men2008, how = "left", on = "Athlete", suffixes=("_2004", "_2008"), indicator=True)

In [35]:
men0408_left_join

                       Athlete  Medals_2004  Medals_2008     _merge
0              PHELPS, Michael            8          8.0       both
1                  THORPE, Ian            4          NaN  left_only
2             SCHOEMAN, Roland            3          NaN  left_only
3               PEIRSOL, Aaron            3          3.0       both
4                 CROCKER, Ian            3          1.0       both
5             KITAJIMA, Kosuke            3          3.0       both
6              HANSEN, Brendan            3          1.0       both
7   VAN DEN HOOGENBAND, Pieter            3          NaN  left_only
8               HACKETT, Grant            3          2.0       both
9               MORITA, Tomomi            2          NaN  left_only
10                LEZAK, Jason            2          3.0       both
11               ROGAN, Markus            2          NaN  left_only
12               KELLER, Klete            2          1.0       both
13              HALL, Gary Jr.            2          NaN  left_only
14                LOCHTE, Ryan            2          4.0       both
15                WALKER, Neil            2          NaN  left_only
16           YAMAMOTO, Takashi            2          NaN  left_only
17          SPRENGER, Nicholas            1          NaN  left_only
18          OKUMURA, Yoshihiro            1          NaN  left_only
19              PARRY, Stephen            1          NaN  left_only
20               PEARSON, Todd            1          NaN  left_only
21              ZASTROW, Mitja            1          NaN  left_only
22          PELLICIARI, Matteo            1          NaN  left_only
23              WOODWARD, Gabe            1          NaN  left_only
24            SERDINOV, Andriy            1          NaN  left_only
25                 VENDT, Erik            1          1.0       both
26      ROSOLINO, Massimiliano            1          NaN  left_only
27        VEENS, Mark Hermanus            1          NaN  left_only
28            RUPPRATH, Thomas            1          NaN  left_only
29           VANDERKAAY, Peter            1          2.0       both
30            TOWNSEND, Darian            1          NaN  left_only
31              STEVENS, Craig            1          NaN  left_only
32              NEETHLING, Ryk            1          NaN  left_only
33              BOVELL, George            1          NaN  left_only
34                MEEUW, Helge            1          NaN  left_only
35        FLOREA, Razvan Ionut            1          NaN  left_only
36       CAPPELLAZZO, Federico            1          NaN  left_only
37             CERCATO, Simone            1          NaN  left_only
38                CONRAD, Lars            1          NaN  left_only
39                CSEH, Laszlo            1          3.0       both
40               DAVIES, David            1          1.0       both
41              DRAGANJA, Duje            1          NaN  left_only
42            DRIESEN, Steffen            1          NaN  left_only
43             DUBOSCQ, Hugues            1          2.0       both
44                DUSING, Nate            1          NaN  left_only
45               FERNS, Lyndon            1          NaN  left_only
46              GANGLOFF, Mark            1          1.0       both
47           MATKOVICH, Antony            1          NaN  left_only
48            GOLDBLATT, Scott            1          NaN  left_only
49              GYURTA, Daniel            1          NaN  left_only
50              JENSEN, Larsen            1          1.0       both
51             KENKHUIS, Johan            1          NaN  left_only
52                KETCHUM, Dan            1          NaN  left_only
53               KLIM, Michael            1          NaN  left_only
54          KRAYZELBURG, Lenny            1          NaN  left_only
55                KRUPPA, Jens            1          NaN  left_only
56         BREMBILLA, Emiliano            1          NaN  left_only
57            MAGNINI, Filippo            1          NaN  left_only
58         ZWERING, Klaas-Erik            1          NaN  left_only

In [36]:
men0408_left_join.shape

(59, 4)

# Right Join - i.e All men who won in 2008 edition including 2004 edition

In [37]:
men0408_right_join = men2004.merge(men2008, how = "right", on = "Athlete", suffixes=("_2004", "_2008"), indicator=True)

In [38]:
men0408_right_join

                     Athlete  Medals_2004  Medals_2008      _merge
0            PHELPS, Michael          8.0            8        both
1             PEIRSOL, Aaron          3.0            3        both
2               CROCKER, Ian          3.0            1        both
3           KITAJIMA, Kosuke          3.0            3        both
4            HANSEN, Brendan          3.0            1        both
5             HACKETT, Grant          3.0            2        both
6               LEZAK, Jason          2.0            3        both
7              KELLER, Klete          2.0            1        both
8               LOCHTE, Ryan          2.0            4        both
9                VENDT, Erik          1.0            1        both
10         VANDERKAAY, Peter          1.0            2        both
11              CSEH, Laszlo          1.0            3        both
12             DAVIES, David          1.0            1        both
13           DUBOSCQ, Hugues          1.0            2        both
14            GANGLOFF, Mark          1.0            1        both
15            JENSEN, Larsen          1.0            1        both
16            BERNARD, Alain          NaN            3  right_only
17           SULLIVAN, Eamon          NaN            3  right_only
18       LAUTERSTEIN, Andrew          NaN            3  right_only
19             GREVERS, Matt          NaN            3  right_only
20          RICKARD, Brenton          NaN            2  right_only
21           LEVEAUX, Amaury          NaN            2  right_only
22          STOECKEL, Hayden          NaN            2  right_only
23             TARGETT, Matt          NaN            2  right_only
24             PARK, Taehwan          NaN            2  right_only
25        CIELO FILHO, Cesar          NaN            2  right_only
26        VYATCHANIN, Arkady          NaN            2  right_only
27             BRODIE, Leith          NaN            2  right_only
28       WEBER-GALE, Garrett          NaN            2  right_only
29           MURPHY, Patrick          NaN            2  right_only
30       OEN, Alexander Dale          NaN            1  right_only
31              PALMER, Kirk          NaN            1  right_only
32            ADRIAN, Nathan          NaN            1  right_only
33                PINE, Adam          NaN            1  right_only
34       POLISHCHUK, Mikhail          NaN            1  right_only
35           SATO, Hisayoshi          NaN            1  right_only
36       SPRENGER, Christian          NaN            1  right_only
37        MIYASHITA, Junichi          NaN            1  right_only
38     SUKHORUKOV, Alexander          NaN            1  right_only
39  VAN DER WEIJDEN, Maarten          NaN            1  right_only
40            WALTERS, David          NaN            1  right_only
41     WILDMAN-TOBRINER, Ben          NaN            1  right_only
42           STEIMETZ, Boris          NaN            1  right_only
43         LOBINTSEV, Nikita          NaN            1  right_only
44         MELLOULI, Oussama          NaN            1  right_only
45          MATSUDA, Takeshi          NaN            1  right_only
46       BOUSQUET, Frederick          NaN            1  right_only
47              BRITS, Grant          NaN            1  right_only
48            CALLUS, Ashley          NaN            1  right_only
49            CAVIC, Milorad          NaN            1  right_only
50            COCHRANE, Ryan          NaN            1  right_only
51           DELANEY, Ashley          NaN            1  right_only
52              FFROST, Nick          NaN            1  right_only
53             FUJII, Takuro          NaN            1  right_only
54             GILOT, Fabien          NaN            1  right_only
55            IZOTOV, Danila          NaN            1  right_only
56             JONES, Cullen          NaN            1  right_only
57          LAGUNOV, Evgeniy          NaN            1  right_only
58             BERENS, Ricky          NaN            1  right_only
59              LURZ, Thomas          NaN            1  right_only
60           MALLET, Gregory          NaN            1  right_only
61                ZHANG, Lin          NaN            1  right_only

In [39]:
men0408_right_join.shape

(62, 4)

# Joining on different Column labels and Indexes

## 1: Joining on different Column labels

In [40]:
men2004.head()

            Athlete  Medals
0   PHELPS, Michael       8
1       THORPE, Ian       4
2  SCHOEMAN, Roland       3
3    PEIRSOL, Aaron       3
4      CROCKER, Ian       3

In [41]:
men2008.head()

               Athlete  Medals
0      PHELPS, Michael       8
1         LOCHTE, Ryan       4
2       BERNARD, Alain       3
3      SULLIVAN, Eamon       3
4  LAUTERSTEIN, Andrew       3

In [42]:
#Let change the columns of one dataset
men2004.columns = ["Names", "Medals"]

In [43]:
men2004.head()

              Names  Medals
0   PHELPS, Michael       8
1       THORPE, Ian       4
2  SCHOEMAN, Roland       3
3    PEIRSOL, Aaron       3
4      CROCKER, Ian       3

In [46]:
men0408_join_diff_cols = men2004.merge(men2008, how = "outer", left_on = "Names", right_on = "Athlete", suffixes=("_2004", "_2008"), indicator=True)

In [48]:
men0408_join_diff_cols

,Names,Medals_2004,Athlete,Medals_2008,_merge
0,"PHELPS, Michael",8.0,"PHELPS, Michael",8.0,both
1,"THORPE, Ian",4.0,NaN,NaN,left_only
2,"SCHOEMAN, Roland",3.0,NaN,NaN,left_only
3,"PEIRSOL, Aaron",3.0,"PEIRSOL, Aaron",3.0,both
4,"CROCKER, Ian",3.0,"CROCKER, Ian",1.0,both
5,"KITAJIMA, Kosuke",3.0,"KITAJIMA, Kosuke",3.0,both
6,"HANSEN, Brendan",3.0,"HANSEN, Brendan",1.0,both
7,"VAN DEN HOOGENBAND, Pieter",3.0,NaN,NaN,left_only
8,"HACKETT, Grant",3.0,"HACKETT, Grant",2.0,both
9,"MORITA, Tomomi",2.0,NaN,NaN,left_only
10,"LEZAK, Jason",2.0,"LEZAK, Jason",3.0,both
11,"ROGAN, Markus",2.0,NaN,NaN,left_only
12,"KELLER, Klete",2.0,"KELLER, Klete",1.0,both
13,"HALL, Gary Jr.",2.0,NaN,NaN,left_only
14,"LOCHTE, Ryan",2.0,"LOCHTE, Ryan",4.0,both
15,"WALKER, Neil",2.0,NaN,NaN,left_only
16,"YAMAMOTO, Takashi",2.0,NaN,NaN,left_only
17,"SPRENGER, Nicholas",1.0,NaN,NaN,left_only
18,"OKUMURA, Yoshihiro",1.0,NaN,NaN,left_only
19,"PARRY, Stephen",1.0,NaN,NaN,left_only
20,"PEARSON, Todd",1.0,NaN,NaN,left_only
21,"ZASTROW, Mitja",1.0,NaN,NaN,left_only
22,"PELLICIARI, Matteo",1.0,NaN,NaN,left_only
23,"WOODWARD, Gabe",1.0,NaN,NaN,left_only
24,"SERDINOV, Andriy",1.0,NaN,NaN,left_only
25,"VENDT, Erik",1.0,"VENDT, Erik",1.0,both
26,"ROSOLINO, Massimiliano",1.0,NaN,NaN,left_only
27,"VEENS, Mark Hermanus",1.0,NaN,NaN,left_only
28,"RUPPRATH, Thomas",1.0,NaN,NaN,left_only
29,"VANDERKAAY, Peter",1.0,"VANDERKAAY, Peter",2.0,both
30,"TOWNSEND, Darian",1.0,NaN,NaN,left_only
31,"STEVENS, Craig",1.0,NaN,NaN,left_only
32,"NEETHLING, Ryk",1.0,NaN,NaN,left_only
33,"BOVELL, George",1.0,NaN,NaN,left_only
34,"MEEUW, Helge",1.0,NaN,NaN,left_only
35,"FLOREA, Razvan Ionut",1.0,NaN,NaN,left_only
36,"CAPPELLAZZO, Federico",1.0,NaN,NaN,left_only
37,"CERCATO, Simone",1.0,NaN,NaN,left_only
38,"CONRAD, Lars",1.0,NaN,NaN,left_only
39,"CSEH, Laszlo",1.0,"CSEH, Laszlo",3.0,both
40,"DAVIES, David",1.0,"DAVIES, David",1.0,both
41,"DRAGANJA, Duje",1.0,NaN,NaN,left_only
42,"DRIESEN, Steffen",1.0,NaN,NaN,left_only
43,"DUBOSCQ, Hugues",1.0,"DUBOSCQ, Hugues",2.0,both
44,"DUSING, Nate",1.0,NaN,NaN,left_only
45,"FERNS, Lyndon",1.0,NaN,NaN,left_only
46,"GANGLOFF, Mark",1.0,"GANGLOFF, Mark",1.0,both
47,"MATKOVICH, Antony",1.0,NaN,NaN,left_only
48,"GOLDBLATT, Scott",1.0,NaN,NaN,left_only
49,"GYURTA, Daniel",1.0,NaN,NaN,left_only
50,"JENSEN, Larsen",1.0,"JENSEN, Larsen",1.0,both
51,"KENKHUIS, Johan",1.0,NaN,NaN,left_only
52,"KETCHUM, Dan",1.0,NaN,NaN,left_only
53,"KLIM, Michael",1.0,NaN,NaN,left_only
54,"KRAYZELBURG, Lenny",1.0,NaN,NaN,left_only
55,"KRUPPA, Jens",1.0,NaN,NaN,left_only
56,"BREMBILLA, Emiliano",1.0,NaN,NaN,left_only
57,"MAGNINI, Filippo",1.0,NaN,NaN,left_only
58,"ZWERING, Klaas-Erik",1.0,NaN,NaN,left_only
59,NaN,NaN,"BERNARD, Alain",3.0,right_only
60,NaN,NaN,"SULLIVAN, Eamon",3.0,right_only
61,NaN,NaN,"LAUTERSTEIN, Andrew",3.0,right_only
62,NaN,NaN,"GREVERS, Matt",3.0,right_only
63,NaN,NaN,"RICKARD, Brenton",2.0,right_only
64,NaN,NaN,"LEVEAUX, Amaury",2.0,right_only
65,NaN,NaN,"STOECKEL, Hayden",2.0,right_only
66,NaN,NaN,"TARGETT, Matt",2.0,right_only
67,NaN,NaN,"PARK, Taehwan",2.0,right_only
68,NaN,NaN,"CIELO FILHO, Cesar",2.0,right_only
69,NaN,NaN,"VYATCHANIN, Arkady",2.0,right_only
70,NaN,NaN,"BRODIE, Leith",2.0,right_only
71,NaN,NaN,"WEBER-GALE, Garrett",2.0,right_only
72,NaN,NaN,"MURPHY, Patrick",2.0,right_only
73,NaN,NaN,"OEN, Alexander Dale",1.0,right_only
74,NaN,NaN,"PALMER, Kirk",1.0,right_only
75,NaN,NaN,"ADRIAN, Nathan",1.0,right_only
76,NaN,NaN,"PINE, Adam",1.0,right_only
77,NaN,NaN,"POLISHCHUK, Mikhail",1.0,right_only
78,NaN,NaN,"SATO, Hisayoshi",1.0,right_only
79,NaN,NaN,"SPRENGER, Christian",1.0,right_only
80,NaN,NaN,"MIYASHITA, Junichi",1.0,right_only
81,NaN,NaN,"SUKHORUKOV, Alexander",1.0,right_only
82,NaN,NaN,"VAN DER WEIJDEN, Maarten",1.0,right_only
83,NaN,NaN,"WALTERS, David",1.0,right_only
84,NaN,NaN,"WILDMAN-TOBRINER, Ben",1.0,right_only
85,NaN,NaN,"STEIMETZ, Boris",1.0,right_only
86,NaN,NaN,"LOBINTSEV, Nikita",1.0,right_only
87,NaN,NaN,"MELLOULI, Oussama",1.0,right_only
88,NaN,NaN,"MATSUDA, Takeshi",1.0,right_only
89,NaN,NaN,"BOUSQUET, Frederick",1.0,right_only
90,NaN,NaN,"BRITS, Grant",1.0,right_only
91,NaN,NaN,"CALLUS, Ashley",1.0,right_only
92,NaN,NaN,"CAVIC, Milorad",1.0,right_only
93,NaN,NaN,"COCHRANE, Ryan",1.0,right_only
94,NaN,NaN,"DELANEY, Ashley",1.0,right_only
95,NaN,NaN,"FFROST, Nick",1.0,right_only
96,NaN,NaN,"FUJII, Takuro",1.0,right_only
97,NaN,NaN,"GILOT, Fabien",1.0,right_only
98,NaN,NaN,"IZOTOV, Danila",1.0,right_only
99,NaN,NaN,"JONES, Cullen",1.0,right_only
100,NaN,NaN,"LAGUNOV, Evgeniy",1.0,right_only
101,NaN,NaN,"BERENS, Ricky",1.0,right_only
102,NaN,NaN,"LURZ, Thomas",1.0,right_only
103,NaN,NaN,"MALLET, Gregory",1.0,right_only
104,NaN,NaN,"ZHANG, Lin",1.0,right_only

In [49]:
#Let join the columns Names and Athlete along Names column
men0408_join_diff_cols.Names.fillna(men0408_join_diff_cols.Athlete, inplace=True)

In [50]:
men0408_join_diff_cols

,Names,Medals_2004,Athlete,Medals_2008,_merge
0,"PHELPS, Michael",8.0,"PHELPS, Michael",8.0,both
1,"THORPE, Ian",4.0,NaN,NaN,left_only
2,"SCHOEMAN, Roland",3.0,NaN,NaN,left_only
3,"PEIRSOL, Aaron",3.0,"PEIRSOL, Aaron",3.0,both
4,"CROCKER, Ian",3.0,"CROCKER, Ian",1.0,both
5,"KITAJIMA, Kosuke",3.0,"KITAJIMA, Kosuke",3.0,both
6,"HANSEN, Brendan",3.0,"HANSEN, Brendan",1.0,both
7,"VAN DEN HOOGENBAND, Pieter",3.0,NaN,NaN,left_only
8,"HACKETT, Grant",3.0,"HACKETT, Grant",2.0,both
9,"MORITA, Tomomi",2.0,NaN,NaN,left_only
10,"LEZAK, Jason",2.0,"LEZAK, Jason",3.0,both
11,"ROGAN, Markus",2.0,NaN,NaN,left_only
12,"KELLER, Klete",2.0,"KELLER, Klete",1.0,both
13,"HALL, Gary Jr.",2.0,NaN,NaN,left_only
14,"LOCHTE, Ryan",2.0,"LOCHTE, Ryan",4.0,both
15,"WALKER, Neil",2.0,NaN,NaN,left_only
16,"YAMAMOTO, Takashi",2.0,NaN,NaN,left_only
17,"SPRENGER, Nicholas",1.0,NaN,NaN,left_only
18,"OKUMURA, Yoshihiro",1.0,NaN,NaN,left_only
19,"PARRY, Stephen",1.0,NaN,NaN,left_only
20,"PEARSON, Todd",1.0,NaN,NaN,left_only
21,"ZASTROW, Mitja",1.0,NaN,NaN,left_only
22,"PELLICIARI, Matteo",1.0,NaN,NaN,left_only
23,"WOODWARD, Gabe",1.0,NaN,NaN,left_only
24,"SERDINOV, Andriy",1.0,NaN,NaN,left_only
25,"VENDT, Erik",1.0,"VENDT, Erik",1.0,both
26,"ROSOLINO, Massimiliano",1.0,NaN,NaN,left_only
27,"VEENS, Mark Hermanus",1.0,NaN,NaN,left_only
28,"RUPPRATH, Thomas",1.0,NaN,NaN,left_only
29,"VANDERKAAY, Peter",1.0,"VANDERKAAY, Peter",2.0,both
30,"TOWNSEND, Darian",1.0,NaN,NaN,left_only
31,"STEVENS, Craig",1.0,NaN,NaN,left_only
32,"NEETHLING, Ryk",1.0,NaN,NaN,left_only
33,"BOVELL, George",1.0,NaN,NaN,left_only
34,"MEEUW, Helge",1.0,NaN,NaN,left_only
35,"FLOREA, Razvan Ionut",1.0,NaN,NaN,left_only
36,"CAPPELLAZZO, Federico",1.0,NaN,NaN,left_only
37,"CERCATO, Simone",1.0,NaN,NaN,left_only
38,"CONRAD, Lars",1.0,NaN,NaN,left_only
39,"CSEH, Laszlo",1.0,"CSEH, Laszlo",3.0,both
40,"DAVIES, David",1.0,"DAVIES, David",1.0,both
41,"DRAGANJA, Duje",1.0,NaN,NaN,left_only
42,"DRIESEN, Steffen",1.0,NaN,NaN,left_only
43,"DUBOSCQ, Hugues",1.0,"DUBOSCQ, Hugues",2.0,both
44,"DUSING, Nate",1.0,NaN,NaN,left_only
45,"FERNS, Lyndon",1.0,NaN,NaN,left_only
46,"GANGLOFF, Mark",1.0,"GANGLOFF, Mark",1.0,both
47,"MATKOVICH, Antony",1.0,NaN,NaN,left_only
48,"GOLDBLATT, Scott",1.0,NaN,NaN,left_only
49,"GYURTA, Daniel",1.0,NaN,NaN,left_only
50,"JENSEN, Larsen",1.0,"JENSEN, Larsen",1.0,both
51,"KENKHUIS, Johan",1.0,NaN,NaN,left_only
52,"KETCHUM, Dan",1.0,NaN,NaN,left_only
53,"KLIM, Michael",1.0,NaN,NaN,left_only
54,"KRAYZELBURG, Lenny",1.0,NaN,NaN,left_only
55,"KRUPPA, Jens",1.0,NaN,NaN,left_only
56,"BREMBILLA, Emiliano",1.0,NaN,NaN,left_only
57,"MAGNINI, Filippo",1.0,NaN,NaN,left_only
58,"ZWERING, Klaas-Erik",1.0,NaN,NaN,left_only
59,"BERNARD, Alain",NaN,"BERNARD, Alain",3.0,right_only
60,"SULLIVAN, Eamon",NaN,"SULLIVAN, Eamon",3.0,right_only
61,"LAUTERSTEIN, Andrew",NaN,"LAUTERSTEIN, Andrew",3.0,right_only
62,"GREVERS, Matt",NaN,"GREVERS, Matt",3.0,right_only
63,"RICKARD, Brenton",NaN,"RICKARD, Brenton",2.0,right_only
64,"LEVEAUX, Amaury",NaN,"LEVEAUX, Amaury",2.0,right_only
65,"STOECKEL, Hayden",NaN,"STOECKEL, Hayden",2.0,right_only
66,"TARGETT, Matt",NaN,"TARGETT, Matt",2.0,right_only
67,"PARK, Taehwan",NaN,"PARK, Taehwan",2.0,right_only
68,"CIELO FILHO, Cesar",NaN,"CIELO FILHO, Cesar",2.0,right_only
69,"VYATCHANIN, Arkady",NaN,"VYATCHANIN, Arkady",2.0,right_only
70,"BRODIE, Leith",NaN,"BRODIE, Leith",2.0,right_only
71,"WEBER-GALE, Garrett",NaN,"WEBER-GALE, Garrett",2.0,right_only
72,"MURPHY, Patrick",NaN,"MURPHY, Patrick",2.0,right_only
73,"OEN, Alexander Dale",NaN,"OEN, Alexander Dale",1.0,right_only
74,"PALMER, Kirk",NaN,"PALMER, Kirk",1.0,right_only
75,"ADRIAN, Nathan",NaN,"ADRIAN, Nathan",1.0,right_only
76,"PINE, Adam",NaN,"PINE, Adam",1.0,right_only
77,"POLISHCHUK, Mikhail",NaN,"POLISHCHUK, Mikhail",1.0,right_only
78,"SATO, Hisayoshi",NaN,"SATO, Hisayoshi",1.0,right_only
79,"SPRENGER, Christian",NaN,"SPRENGER, Christian",1.0,right_only
80,"MIYASHITA, Junichi",NaN,"MIYASHITA, Junichi",1.0,right_only
81,"SUKHORUKOV, Alexander",NaN,"SUKHORUKOV, Alexander",1.0,right_only
82,"VAN DER WEIJDEN, Maarten",NaN,"VAN DER WEIJDEN, Maarten",1.0,right_only
83,"WALTERS, David",NaN,"WALTERS, David",1.0,right_only
84,"WILDMAN-TOBRINER, Ben",NaN,"WILDMAN-TOBRINER, Ben",1.0,right_only
85,"STEIMETZ, Boris",NaN,"STEIMETZ, Boris",1.0,right_only
86,"LOBINTSEV, Nikita",NaN,"LOBINTSEV, Nikita",1.0,right_only
87,"MELLOULI, Oussama",NaN,"MELLOULI, Oussama",1.0,right_only
88,"MATSUDA, Takeshi",NaN,"MATSUDA, Takeshi",1.0,right_only
89,"BOUSQUET, Frederick",NaN,"BOUSQUET, Frederick",1.0,right_only
90,"BRITS, Grant",NaN,"BRITS, Grant",1.0,right_only
91,"CALLUS, Ashley",NaN,"CALLUS, Ashley",1.0,right_only
92,"CAVIC, Milorad",NaN,"CAVIC, Milorad",1.0,right_only
93,"COCHRANE, Ryan",NaN,"COCHRANE, Ryan",1.0,right_only
94,"DELANEY, Ashley",NaN,"DELANEY, Ashley",1.0,right_only
95,"FFROST, Nick",NaN,"FFROST, Nick",1.0,right_only
96,"FUJII, Takuro",NaN,"FUJII, Takuro",1.0,right_only
97,"GILOT, Fabien",NaN,"GILOT, Fabien",1.0,right_only
98,"IZOTOV, Danila",NaN,"IZOTOV, Danila",1.0,right_only
99,"JONES, Cullen",NaN,"JONES, Cullen",1.0,right_only
100,"LAGUNOV, Evgeniy",NaN,"LAGUNOV, Evgeniy",1.0,right_only
101,"BERENS, Ricky",NaN,"BERENS, Ricky",1.0,right_only
102,"LURZ, Thomas",NaN,"LURZ, Thomas",1.0,right_only
103,"MALLET, Gregory",NaN,"MALLET, Gregory",1.0,right_only
104,"ZHANG, Lin",NaN,"ZHANG, Lin",1.0,right_only

In [51]:
#Let now drop the column Athlete
men0408_join_diff_cols.drop(["Athlete"], axis = 1, inplace=True)

In [52]:
men0408_join_diff_cols

                          Names  Medals_2004  Medals_2008      _merge
0               PHELPS, Michael          8.0          8.0        both
1                   THORPE, Ian          4.0          NaN   left_only
2              SCHOEMAN, Roland          3.0          NaN   left_only
3                PEIRSOL, Aaron          3.0          3.0        both
4                  CROCKER, Ian          3.0          1.0        both
5              KITAJIMA, Kosuke          3.0          3.0        both
6               HANSEN, Brendan          3.0          1.0        both
7    VAN DEN HOOGENBAND, Pieter          3.0          NaN   left_only
8                HACKETT, Grant          3.0          2.0        both
9                MORITA, Tomomi          2.0          NaN   left_only
10                 LEZAK, Jason          2.0          3.0        both
11                ROGAN, Markus          2.0          NaN   left_only
12                KELLER, Klete          2.0          1.0        both
13               HALL, Gary Jr.          2.0          NaN   left_only
14                 LOCHTE, Ryan          2.0          4.0        both
15                 WALKER, Neil          2.0          NaN   left_only
16            YAMAMOTO, Takashi          2.0          NaN   left_only
17           SPRENGER, Nicholas          1.0          NaN   left_only
18           OKUMURA, Yoshihiro          1.0          NaN   left_only
19               PARRY, Stephen          1.0          NaN   left_only
20                PEARSON, Todd          1.0          NaN   left_only
21               ZASTROW, Mitja          1.0          NaN   left_only
22           PELLICIARI, Matteo          1.0          NaN   left_only
23               WOODWARD, Gabe          1.0          NaN   left_only
24             SERDINOV, Andriy          1.0          NaN   left_only
25                  VENDT, Erik          1.0          1.0        both
26       ROSOLINO, Massimiliano          1.0          NaN   left_only
27         VEENS, Mark Hermanus          1.0          NaN   left_only
28             RUPPRATH, Thomas          1.0          NaN   left_only
29            VANDERKAAY, Peter          1.0          2.0        both
30             TOWNSEND, Darian          1.0          NaN   left_only
31               STEVENS, Craig          1.0          NaN   left_only
32               NEETHLING, Ryk          1.0          NaN   left_only
33               BOVELL, George          1.0          NaN   left_only
34                 MEEUW, Helge          1.0          NaN   left_only
35         FLOREA, Razvan Ionut          1.0          NaN   left_only
36        CAPPELLAZZO, Federico          1.0          NaN   left_only
37              CERCATO, Simone          1.0          NaN   left_only
38                 CONRAD, Lars          1.0          NaN   left_only
39                 CSEH, Laszlo          1.0          3.0        both
40                DAVIES, David          1.0          1.0        both
41               DRAGANJA, Duje          1.0          NaN   left_only
42             DRIESEN, Steffen          1.0          NaN   left_only
43              DUBOSCQ, Hugues          1.0          2.0        both
44                 DUSING, Nate          1.0          NaN   left_only
45                FERNS, Lyndon          1.0          NaN   left_only
46               GANGLOFF, Mark          1.0          1.0        both
47            MATKOVICH, Antony          1.0          NaN   left_only
48             GOLDBLATT, Scott          1.0          NaN   left_only
49               GYURTA, Daniel          1.0          NaN   left_only
50               JENSEN, Larsen          1.0          1.0        both
51              KENKHUIS, Johan          1.0          NaN   left_only
52                 KETCHUM, Dan          1.0          NaN   left_only
53                KLIM, Michael          1.0          NaN   left_only
54           KRAYZELBURG, Lenny          1.0          NaN   left_only
55                 KRUPPA, Jens          1.0          NaN   left_only
56          BREMBILLA, Emiliano          1.0          NaN   left_only
57             MAGNINI, Filippo          1.0          NaN   left_only
58          ZWERING, Klaas-Erik          1.0          NaN   left_only
59               BERNARD, Alain          NaN          3.0  right_only
60              SULLIVAN, Eamon          NaN          3.0  right_only
61          LAUTERSTEIN, Andrew          NaN          3.0  right_only
62                GREVERS, Matt          NaN          3.0  right_only
63             RICKARD, Brenton          NaN          2.0  right_only
64              LEVEAUX, Amaury          NaN          2.0  right_only
65             STOECKEL, Hayden          NaN          2.0  right_only
66                TARGETT, Matt          NaN          2.0  right_only
67                PARK, Taehwan          NaN          2.0  right_only
68           CIELO FILHO, Cesar          NaN          2.0  right_only
69           VYATCHANIN, Arkady          NaN          2.0  right_only
70                BRODIE, Leith          NaN          2.0  right_only
71          WEBER-GALE, Garrett          NaN          2.0  right_only
72              MURPHY, Patrick          NaN          2.0  right_only
73          OEN, Alexander Dale          NaN          1.0  right_only
74                 PALMER, Kirk          NaN          1.0  right_only
75               ADRIAN, Nathan          NaN          1.0  right_only
76                   PINE, Adam          NaN          1.0  right_only
77          POLISHCHUK, Mikhail          NaN          1.0  right_only
78              SATO, Hisayoshi          NaN          1.0  right_only
79          SPRENGER, Christian          NaN          1.0  right_only
80           MIYASHITA, Junichi          NaN          1.0  right_only
81        SUKHORUKOV, Alexander          NaN          1.0  right_only
82     VAN DER WEIJDEN, Maarten          NaN          1.0  right_only
83               WALTERS, David          NaN          1.0  right_only
84        WILDMAN-TOBRINER, Ben          NaN          1.0  right_only
85              STEIMETZ, Boris          NaN          1.0  right_only
86            LOBINTSEV, Nikita          NaN          1.0  right_only
87            MELLOULI, Oussama          NaN          1.0  right_only
88             MATSUDA, Takeshi          NaN          1.0  right_only
89          BOUSQUET, Frederick          NaN          1.0  right_only
90                 BRITS, Grant          NaN          1.0  right_only
91               CALLUS, Ashley          NaN          1.0  right_only
92               CAVIC, Milorad          NaN          1.0  right_only
93               COCHRANE, Ryan          NaN          1.0  right_only
94              DELANEY, Ashley          NaN          1.0  right_only
95                 FFROST, Nick          NaN          1.0  right_only
96                FUJII, Takuro          NaN          1.0  right_only
97                GILOT, Fabien          NaN          1.0  right_only
98               IZOTOV, Danila          NaN          1.0  right_only
99                JONES, Cullen          NaN          1.0  right_only
100            LAGUNOV, Evgeniy          NaN          1.0  right_only
101               BERENS, Ricky          NaN          1.0  right_only
102                LURZ, Thomas          NaN          1.0  right_only
103             MALLET, Gregory          NaN          1.0  right_only
104                  ZHANG, Lin          NaN          1.0  right_only

## 2: Joining on different Index labels

In [53]:
#Let set our index on men2008 to Athlete
men2008.set_index("Athlete", inplace=True)

In [54]:
men2004.head()

              Names  Medals
0   PHELPS, Michael       8
1       THORPE, Ian       4
2  SCHOEMAN, Roland       3
3    PEIRSOL, Aaron       3
4      CROCKER, Ian       3

In [55]:
men2008.head()

                     Medals
Athlete
PHELPS, Michael           8
LOCHTE, Ryan              4
BERNARD, Alain            3
SULLIVAN, Eamon           3
LAUTERSTEIN, Andrew       3

In [56]:
men0408_join_diff_index = men2004.merge(men2008, how = "outer", left_on = "Names", right_index = True, suffixes=("_2004", "_2008"), indicator=True)

In [57]:
men0408_join_diff_index

                           Names  Medals_2004  Medals_2008      _merge
0.0              PHELPS, Michael          8.0          8.0        both
1.0                  THORPE, Ian          4.0          NaN   left_only
2.0             SCHOEMAN, Roland          3.0          NaN   left_only
3.0               PEIRSOL, Aaron          3.0          3.0        both
4.0                 CROCKER, Ian          3.0          1.0        both
5.0             KITAJIMA, Kosuke          3.0          3.0        both
6.0              HANSEN, Brendan          3.0          1.0        both
7.0   VAN DEN HOOGENBAND, Pieter          3.0          NaN   left_only
8.0               HACKETT, Grant          3.0          2.0        both
9.0               MORITA, Tomomi          2.0          NaN   left_only
10.0                LEZAK, Jason          2.0          3.0        both
11.0               ROGAN, Markus          2.0          NaN   left_only
12.0               KELLER, Klete          2.0          1.0        both
13.0              HALL, Gary Jr.          2.0          NaN   left_only
14.0                LOCHTE, Ryan          2.0          4.0        both
15.0                WALKER, Neil          2.0          NaN   left_only
16.0           YAMAMOTO, Takashi          2.0          NaN   left_only
17.0          SPRENGER, Nicholas          1.0          NaN   left_only
18.0          OKUMURA, Yoshihiro          1.0          NaN   left_only
19.0              PARRY, Stephen          1.0          NaN   left_only
20.0               PEARSON, Todd          1.0          NaN   left_only
21.0              ZASTROW, Mitja          1.0          NaN   left_only
22.0          PELLICIARI, Matteo          1.0          NaN   left_only
23.0              WOODWARD, Gabe          1.0          NaN   left_only
24.0            SERDINOV, Andriy          1.0          NaN   left_only
25.0                 VENDT, Erik          1.0          1.0        both
26.0      ROSOLINO, Massimiliano          1.0          NaN   left_only
27.0        VEENS, Mark Hermanus          1.0          NaN   left_only
28.0            RUPPRATH, Thomas          1.0          NaN   left_only
29.0           VANDERKAAY, Peter          1.0          2.0        both
30.0            TOWNSEND, Darian          1.0          NaN   left_only
31.0              STEVENS, Craig          1.0          NaN   left_only
32.0              NEETHLING, Ryk          1.0          NaN   left_only
33.0              BOVELL, George          1.0          NaN   left_only
34.0                MEEUW, Helge          1.0          NaN   left_only
35.0        FLOREA, Razvan Ionut          1.0          NaN   left_only
36.0       CAPPELLAZZO, Federico          1.0          NaN   left_only
37.0             CERCATO, Simone          1.0          NaN   left_only
38.0                CONRAD, Lars          1.0          NaN   left_only
39.0                CSEH, Laszlo          1.0          3.0        both
40.0               DAVIES, David          1.0          1.0        both
41.0              DRAGANJA, Duje          1.0          NaN   left_only
42.0            DRIESEN, Steffen          1.0          NaN   left_only
43.0             DUBOSCQ, Hugues          1.0          2.0        both
44.0                DUSING, Nate          1.0          NaN   left_only
45.0               FERNS, Lyndon          1.0          NaN   left_only
46.0              GANGLOFF, Mark          1.0          1.0        both
47.0           MATKOVICH, Antony          1.0          NaN   left_only
48.0            GOLDBLATT, Scott          1.0          NaN   left_only
49.0              GYURTA, Daniel          1.0          NaN   left_only
50.0              JENSEN, Larsen          1.0          1.0        both
51.0             KENKHUIS, Johan          1.0          NaN   left_only
52.0                KETCHUM, Dan          1.0          NaN   left_only
53.0               KLIM, Michael          1.0          NaN   left_only
54.0          KRAYZELBURG, Lenny          1.0          NaN   left_only
55.0                KRUPPA, Jens          1.0          NaN   left_only
56.0         BREMBILLA, Emiliano          1.0          NaN   left_only
57.0            MAGNINI, Filippo          1.0          NaN   left_only
58.0         ZWERING, Klaas-Erik          1.0          NaN   left_only
NaN               BERNARD, Alain          NaN          3.0  right_only
NaN              SULLIVAN, Eamon          NaN          3.0  right_only
NaN          LAUTERSTEIN, Andrew          NaN          3.0  right_only
NaN                GREVERS, Matt          NaN          3.0  right_only
NaN             RICKARD, Brenton          NaN          2.0  right_only
NaN              LEVEAUX, Amaury          NaN          2.0  right_only
NaN             STOECKEL, Hayden          NaN          2.0  right_only
NaN                TARGETT, Matt          NaN          2.0  right_only
NaN                PARK, Taehwan          NaN          2.0  right_only
NaN           CIELO FILHO, Cesar          NaN          2.0  right_only
NaN           VYATCHANIN, Arkady          NaN          2.0  right_only
NaN                BRODIE, Leith          NaN          2.0  right_only
NaN          WEBER-GALE, Garrett          NaN          2.0  right_only
NaN              MURPHY, Patrick          NaN          2.0  right_only
NaN          OEN, Alexander Dale          NaN          1.0  right_only
NaN                 PALMER, Kirk          NaN          1.0  right_only
NaN               ADRIAN, Nathan          NaN          1.0  right_only
NaN                   PINE, Adam          NaN          1.0  right_only
NaN          POLISHCHUK, Mikhail          NaN          1.0  right_only
NaN              SATO, Hisayoshi          NaN          1.0  right_only
NaN          SPRENGER, Christian          NaN          1.0  right_only
NaN           MIYASHITA, Junichi          NaN          1.0  right_only
NaN        SUKHORUKOV, Alexander          NaN          1.0  right_only
NaN     VAN DER WEIJDEN, Maarten          NaN          1.0  right_only
NaN               WALTERS, David          NaN          1.0  right_only
NaN        WILDMAN-TOBRINER, Ben          NaN          1.0  right_only
NaN              STEIMETZ, Boris          NaN          1.0  right_only
NaN            LOBINTSEV, Nikita          NaN          1.0  right_only
NaN            MELLOULI, Oussama          NaN          1.0  right_only
NaN             MATSUDA, Takeshi          NaN          1.0  right_only
NaN          BOUSQUET, Frederick          NaN          1.0  right_only
NaN                 BRITS, Grant          NaN          1.0  right_only
NaN               CALLUS, Ashley          NaN          1.0  right_only
NaN               CAVIC, Milorad          NaN          1.0  right_only
NaN               COCHRANE, Ryan          NaN          1.0  right_only
NaN              DELANEY, Ashley          NaN          1.0  right_only
NaN                 FFROST, Nick          NaN          1.0  right_only
NaN                FUJII, Takuro          NaN          1.0  right_only
NaN                GILOT, Fabien          NaN          1.0  right_only
NaN               IZOTOV, Danila          NaN          1.0  right_only
NaN                JONES, Cullen          NaN          1.0  right_only
NaN             LAGUNOV, Evgeniy          NaN          1.0  right_only
NaN                BERENS, Ricky          NaN          1.0  right_only
NaN                 LURZ, Thomas          NaN          1.0  right_only
NaN              MALLET, Gregory          NaN          1.0  right_only
NaN                   ZHANG, Lin          NaN          1.0  right_only

In [58]:
men0408_join_diff_index.shape

(105, 4)

# Joining on more than one column

In [59]:
men2004_detailed = pd.read_csv("Data1/Course_Material_Part2/Video_Lecture_NBs/men2004_det.csv")
men2008_detailed = pd.read_csv("Data1/Course_Material_Part2/Video_Lecture_NBs/men2008_det.csv")

In [60]:
men2004_detailed.head()

                 Athlete   Medal  Count
0         BOVELL, George  Bronze      1
1    BREMBILLA, Emiliano  Bronze      1
2  CAPPELLAZZO, Federico  Bronze      1
3        CERCATO, Simone  Bronze      1
4           CONRAD, Lars  Silver      1

In [61]:
men2008_detailed.head()

          Athlete   Medal  Count
0  ADRIAN, Nathan    Gold      1
1   BERENS, Ricky    Gold      1
2  BERNARD, Alain  Bronze      1
3  BERNARD, Alain    Gold      1
4  BERNARD, Alain  Silver      1

In [62]:
#Filtering for PHELPS, Michael
men2004_detailed.loc[men2004_detailed.Athlete == 'PHELPS, Michael']

            Athlete   Medal  Count
50  PHELPS, Michael  Bronze      2
51  PHELPS, Michael    Gold      6

In [63]:
#Filtering for PHELPS, Michael
men2008_detailed.loc[men2008_detailed.Athlete == 'PHELPS, Michael']

            Athlete Medal  Count
54  PHELPS, Michael  Gold      8

In [64]:
men0408_join_many_cols = men2004_detailed.merge(men2008_detailed, how = "outer", on = ["Athlete", "Medal"], suffixes=("_2004", "_2008"))

In [65]:
men0408_join_many_cols

                        Athlete   Medal  Count_2004  Count_2008
0                BOVELL, George  Bronze         1.0         NaN
1           BREMBILLA, Emiliano  Bronze         1.0         NaN
2         CAPPELLAZZO, Federico  Bronze         1.0         NaN
3               CERCATO, Simone  Bronze         1.0         NaN
4                  CONRAD, Lars  Silver         1.0         NaN
5                  CROCKER, Ian  Bronze         1.0         NaN
6                  CROCKER, Ian    Gold         1.0         1.0
7                  CROCKER, Ian  Silver         1.0         NaN
8                  CSEH, Laszlo  Bronze         1.0         NaN
9                 DAVIES, David  Bronze         1.0         NaN
10               DRAGANJA, Duje  Silver         1.0         NaN
11             DRIESEN, Steffen  Silver         1.0         NaN
12              DUBOSCQ, Hugues  Bronze         1.0         2.0
13                 DUSING, Nate  Bronze         1.0         NaN
14                FERNS, Lyndon    Gold         1.0         NaN
15         FLOREA, Razvan Ionut  Bronze         1.0         NaN
16               GANGLOFF, Mark    Gold         1.0         1.0
17             GOLDBLATT, Scott    Gold         1.0         NaN
18               GYURTA, Daniel  Silver         1.0         NaN
19               HACKETT, Grant    Gold         1.0         NaN
20               HACKETT, Grant  Silver         2.0         1.0
21               HALL, Gary Jr.  Bronze         1.0         NaN
22               HALL, Gary Jr.    Gold         1.0         NaN
23              HANSEN, Brendan  Bronze         1.0         NaN
24              HANSEN, Brendan    Gold         1.0         1.0
25              HANSEN, Brendan  Silver         1.0         NaN
26               JENSEN, Larsen  Silver         1.0         NaN
27                KELLER, Klete  Bronze         1.0         NaN
28                KELLER, Klete    Gold         1.0         1.0
29              KENKHUIS, Johan  Silver         1.0         NaN
30                 KETCHUM, Dan    Gold         1.0         NaN
31             KITAJIMA, Kosuke  Bronze         1.0         1.0
32             KITAJIMA, Kosuke    Gold         2.0         2.0
33                KLIM, Michael  Silver         1.0         NaN
34           KRAYZELBURG, Lenny    Gold         1.0         NaN
35                 KRUPPA, Jens  Silver         1.0         NaN
36                 LEZAK, Jason  Bronze         1.0         1.0
37                 LEZAK, Jason    Gold         1.0         2.0
38                 LOCHTE, Ryan    Gold         1.0         2.0
39                 LOCHTE, Ryan  Silver         1.0         NaN
40             MAGNINI, Filippo  Bronze         1.0         NaN
41            MATKOVICH, Antony  Silver         1.0         NaN
42                 MEEUW, Helge  Silver         1.0         NaN
43               MORITA, Tomomi  Bronze         2.0         NaN
44               NEETHLING, Ryk    Gold         1.0         NaN
45           OKUMURA, Yoshihiro  Bronze         1.0         NaN
46               PARRY, Stephen  Bronze         1.0         NaN
47                PEARSON, Todd  Silver         1.0         NaN
48               PEIRSOL, Aaron    Gold         3.0         2.0
49           PELLICIARI, Matteo  Bronze         1.0         NaN
50              PHELPS, Michael  Bronze         2.0         NaN
51              PHELPS, Michael    Gold         6.0         8.0
52                ROGAN, Markus  Silver         2.0         NaN
53       ROSOLINO, Massimiliano  Bronze         1.0         NaN
54             RUPPRATH, Thomas  Silver         1.0         NaN
55             SCHOEMAN, Roland  Bronze         1.0         NaN
56             SCHOEMAN, Roland    Gold         1.0         NaN
57             SCHOEMAN, Roland  Silver         1.0         NaN
58             SERDINOV, Andriy  Bronze         1.0         NaN
59           SPRENGER, Nicholas  Silver         1.0         NaN
60               STEVENS, Craig  Silver         1.0         NaN
61                  THORPE, Ian  Bronze         1.0         NaN
62                  THORPE, Ian    Gold         2.0         NaN
63                  THORPE, Ian  Silver         1.0         NaN
64             TOWNSEND, Darian    Gold         1.0         NaN
65   VAN DEN HOOGENBAND, Pieter    Gold         1.0         NaN
66   VAN DEN HOOGENBAND, Pieter  Silver         2.0         NaN
67            VANDERKAAY, Peter    Gold         1.0         1.0
68         VEENS, Mark Hermanus  Silver         1.0         NaN
69                  VENDT, Erik  Silver         1.0         NaN
70                 WALKER, Neil  Bronze         1.0         NaN
71                 WALKER, Neil    Gold         1.0         NaN
72               WOODWARD, Gabe  Bronze         1.0         NaN
73            YAMAMOTO, Takashi  Bronze         1.0         NaN
74            YAMAMOTO, Takashi  Silver         1.0         NaN
75               ZASTROW, Mitja  Silver         1.0         NaN
76          ZWERING, Klaas-Erik  Silver         1.0         NaN
77               ADRIAN, Nathan    Gold         NaN         1.0
78                BERENS, Ricky    Gold         NaN         1.0
79               BERNARD, Alain  Bronze         NaN         1.0
80               BERNARD, Alain    Gold         NaN         1.0
81               BERNARD, Alain  Silver         NaN         1.0
82          BOUSQUET, Frederick  Silver         NaN         1.0
83                 BRITS, Grant  Bronze         NaN         1.0
84                BRODIE, Leith  Bronze         NaN         2.0
85               CALLUS, Ashley  Bronze         NaN         1.0
86               CAVIC, Milorad  Silver         NaN         1.0
87           CIELO FILHO, Cesar  Bronze         NaN         1.0
88           CIELO FILHO, Cesar    Gold         NaN         1.0
89               COCHRANE, Ryan  Bronze         NaN         1.0
90                 CSEH, Laszlo  Silver         NaN         3.0
91                DAVIES, David  Silver         NaN         1.0
92              DELANEY, Ashley  Silver         NaN         1.0
93                 FFROST, Nick  Bronze         NaN         1.0
94                FUJII, Takuro  Bronze         NaN         1.0
95                GILOT, Fabien  Silver         NaN         1.0
96                GREVERS, Matt    Gold         NaN         2.0
97                GREVERS, Matt  Silver         NaN         1.0
98               HACKETT, Grant  Bronze         NaN         1.0
99               IZOTOV, Danila  Silver         NaN         1.0
100              JENSEN, Larsen  Bronze         NaN         1.0
101               JONES, Cullen    Gold         NaN         1.0
102            LAGUNOV, Evgeniy  Silver         NaN         1.0
103         LAUTERSTEIN, Andrew  Bronze         NaN         2.0
104         LAUTERSTEIN, Andrew  Silver         NaN         1.0
105             LEVEAUX, Amaury  Silver         NaN         2.0
106           LOBINTSEV, Nikita  Silver         NaN         1.0
107                LOCHTE, Ryan  Bronze         NaN         2.0
108                LURZ, Thomas  Bronze         NaN         1.0
109             MALLET, Gregory  Silver         NaN         1.0
110            MATSUDA, Takeshi  Bronze         NaN         1.0
111           MELLOULI, Oussama    Gold         NaN         1.0
112          MIYASHITA, Junichi  Bronze         NaN         1.0
113             MURPHY, Patrick  Bronze         NaN         2.0
114         OEN, Alexander Dale  Silver         NaN         1.0
115                PALMER, Kirk  Bronze         NaN         1.0
116               PARK, Taehwan    Gold         NaN         1.0
117               PARK, Taehwan  Silver         NaN         1.0
118              PEIRSOL, Aaron  Silver         NaN         1.0
119                  PINE, Adam  Silver         NaN         1.0
120         POLISHCHUK, Mikhail  Silver         NaN         1.0
121            RICKARD, Brenton  Silver         NaN         2.0
122             SATO, Hisayoshi  Bronze         NaN         1.0
123         SPRENGER, Christian  Silver         NaN         1.0
124             STEIMETZ, Boris  Silver         NaN         1.0
125            STOECKEL, Hayden  Bronze         NaN         1.0
126            STOECKEL, Hayden  Silver         NaN         1.0
127       SUKHORUKOV, Alexander  Silver         NaN         1.0
128             SULLIVAN, Eamon  Bronze         NaN         1.0
129             SULLIVAN, Eamon  Silver         NaN         2.0
130               TARGETT, Matt  Bronze         NaN         1.0
131               TARGETT, Matt  Silver         NaN         1.0
132    VAN DER WEIJDEN, Maarten    Gold         NaN         1.0
133           VANDERKAAY, Peter  Bronze         NaN         1.0
134                 VENDT, Erik    Gold         NaN         1.0
135          VYATCHANIN, Arkady  Bronze         NaN         2.0
136              WALTERS, David    Gold         NaN         1.0
137         WEBER-GALE, Garrett    Gold         NaN         2.0
138       WILDMAN-TOBRINER, Ben    Gold         NaN         1.0
139                  ZHANG, Lin  Silver         NaN         1.0

In [66]:
men0408_join_many_cols.loc[men0408_join_many_cols.Athlete == "PHELPS, Michael"]

            Athlete   Medal  Count_2004  Count_2008
50  PHELPS, Michael  Bronze         2.0         NaN
51  PHELPS, Michael    Gold         6.0         8.0

In [67]:
#Performing an inner join 
men0408_join_many_cols = men2004_detailed.merge(men2008_detailed, how = "inner", on = ["Athlete", "Medal"], suffixes=("_2004", "_2008"))

In [68]:
men0408_join_many_cols.loc[men0408_join_many_cols.Athlete == "PHELPS, Michael"]

            Athlete Medal  Count_2004  Count_2008
12  PHELPS, Michael  Gold           6           8